/*  ┌────────────────────────────────────────────────────────────────────────────────────────────┐
**  │ FILENAME: article.less                                                                     │
**  │                                                                                            │
**  │ AUTHOR: Daniel Rieck <daniel.rieck@wsu.edu> (https://github.com/invokeImmediately)         │
**  │                                                                                            │
**  │ DESCRIPTION: Consists of styles for section elements of WSU Office of Undergraduate        │
**  │   Education web pages built using the builder template of the Spine parent theme of WSUWP. │
**  │   Styles are designed to accompany or supersede styling associated with the theme.         │
**  └────────────────────────────────────────────────────────────────────────────────────────────┘
*/

/*  ================================================================================================
**  SEMANTIC CSS FOR STYLING OUE ARTICLE ELEMENTS
*/

@oue-article-ruleset: {
	.column article.post {
		background-color: @hex-white;
		border: 1px solid rgba(red(@hex-black), green(@hex-black), blue(@hex-black),0.3333);
		border-radius: 5px;
		box-shadow: 1px 2px 3px rgba(red(@hex-black), green(@hex-black), blue(@hex-black),.25);
		padding: 1em;

		& + article.post {
			margin-top: 1.5em;
		}
	}

	.new-article-section {
		.row.h1-header& {
			padding: (@v-dflt-spcng / 2);

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				color: inherit;
				margin: 0;
				padding: 0;
				text-align: center;
			}
		}

		.row.side-right .column.one& {
			header {
				margin-bottom: @v-dflt-spcng;
				margin-left: (-1 * @v-dflt-spcng);
				padding: (@v-dflt-spcng / 2) @v-dflt-spcng;
			}
		}

		.row.side-right .column.two& {
			header {
				margin-bottom: @v-dflt-spcng;
				margin-right: (-1.005 * @v-dflt-spcng); // Compensate for rounding error in Chrome.
				padding: (@v-dflt-spcng / 2) @v-dflt-spcng;
			}
		}

		.row.side-right .column.one&,
		.row.side-right .column.two& {
			header {
				background-color: @hex-charcoal-gray;
				color: @hex-white;

				@lg-mbl-rs: {
					padding-left: (@v-dflt-spcng / 2);
					padding-right: (@v-dflt-spcng / 2);
					margin-left: (-1 * @v-dflt-spcng / 2);
					margin-right: (-1 * @v-dflt-spcng / 2);
				};
				@mbl-rs: {
					padding-left: (@v-dflt-spcng / 4);
					padding-right: (@v-dflt-spcng / 4);
					margin-left: (-1 * @v-dflt-spcng / 4);
					margin-right: (-1 * @v-dflt-spcng / 4);
				};
				.declare-mobile-layout(@lg-mbl-rs, @mbl-rs);
				& > * {
					color: inherit;
					margin: 0;
					padding: 0;
					text-align: center;
				}
			}
		}
	}
}

.use-article-notices(@url-gold-texture, @url-ruby-texture) when (isurl(@url-gold-texture))
		and (isurl(@url-ruby-texture)) {
	.row.article-notice {
		&.has-countdown {
			display: none;
		}

		.column {
			.rgb-black();

			background: @hex-gold @url-gold-texture no-repeat scroll left top;
			background-size: cover;
			border-bottom-left-radius: 15px;
			border-bottom-right-radius: 15px;
			box-shadow: 0 3px 8px rgba(@rval, @gval, @bval, 0.3);
			color: @hex-black;

			& > p {
				&:extend(.has-alt-font);

				color: inherit;
				.font-size(@fSize-1400mx);
				letter-spacing: 0.5px;
			}

			& > :first-child {
				padding-top: @v-btm-pads !important;

				@media all and (max-width: @column-floating-threshold) {
					padding-top: (@v-btm-pads / 3) !important;
				}
			}

			& > :last-child {
				margin-bottom: 0 !important;
				padding-bottom: @v-btm-pads !important;

				@media all and (max-width: @column-floating-threshold) {
					padding-bottom: (@v-btm-pads / 3) !important;
				}
			}
		}

		&.ruby .column {
			background: @hex-light-crimson @url-ruby-texture no-repeat scroll left top;
			color: @hex-white;

			& > p {
				.has-responsive-padding(0, @v-dflt-spcng, 0, @v-dflt-spcng);
				.rgb-black(); text-shadow: 0 1px 1px rgba(@rval, @gval, @bval, 0.5);
			}
		}
	}
};

.declare-ruleset(@oue-article-ruleset, @oue-rules-wrapper);
