@hex-white: #fff;
.rgb-white() {
	@rval: 255;
	@gval: 255;
	@bval: 255;
}
@hex-black: #000;
.rgb-black() {
	@rval: 0;
	@gval: 0;
	@bval: 0;
}
@hex-bright-gray: #eff0f1;
.rgb-bright-gray() {
	@rval: 239;
	@gval: 240;
	@bval: 241;
}
@hex-lighter-gray: #d7dadb;
.rgb-lighter-gray() {
	@rval: 215;
	@gval: 218;
	@bval: 219;
}
@hex-light-gray: #b5babe;
.rgb-light-gray() {
	@rval: 181;
	@gval: 186;
	@bval: 190;
}
@hex-gray: #8d959a;
.rgb-gray() {
	@rval: 141;
	@gval: 149;
	@bval: 154;
}
@hex-dark-gray: #5e6a71;
.rgb-dark-gray() {
	@rval: 94;
	@gval: 106;
	@bval: 113;
}
@hex-darker-gray: #464e54;
.rgb-darker-gray() {
	@rval: 70;
	@gval: 78;
	@bval: 84;
}
@hex-darkest-gray: #2a3033;
.rgb-darkest-gray() {
	@rval: 42;
	@gval: 48;
	@bval: 51;
}
@hex-crimson: #981e32;
.rgb-crimson() {
	@rval: 152;
	@gval: 30;
	@bval: 50;
}
@hex-light-crimson: #c60c30;
.rgb-light-crimson() {
	@rval: 198;
	@gval: 12;
	@bval: 48;
}
.rgb-dark-crimson() {
	@rval: 79;
	@gval: 16;
	@bval: 26;
}
@hex-green: #8f7e35;
.rgb-green() {
	@rval: 143;
	@gval: 126;
	@bval: 53;
}
@hex-dark-green: #72652a;
.rgb-dark-green() {
	@rval: 114;
	@gval: 101;
	@bval: 42;
}
@hex-darkest-green: #393215;
.rgb-darkest-green() {
	@rval: 57;
	@gval: 50;
	@bval: 21;
}
.rgb-bright-yellow() {
	@rval: 255;
	@gval: 184;
	@bval: 28;
}
@hex-dark-blue: #3f6b72;
.rgb-dark-blue() {
	@rval: 63;
	@gval: 107;
	@bval: 114;
}
@hex-accent-blue: #00a5bd;
.rgb-accent-blue() {
	@rval: 0;
	@gval: 165;
	@bval: 189;
}
.rgb-sky-blue() {
	@rval: 141;
	@gval: 203;
	@bval: 241;
}
.rgb-turquoise() {
	@rval: 0;
	@gval: 165;
	@bval: 189;
}
@hex-orange: #b67233;
.rgb-orange() {
	@rval: 182;
	@gval: 114;
	@bval: 51;
}
@hex-dark-orange: #925b29;
.rgb-dark-orange() {
	@rval: 146;
	@gval: 91;
	@bval: 41;
}
@hex-accent-orange: #f6861f;
.rgb-accent-orange() {
	@rval: 211;
	@gval: 130;
	@bval: 53;
}
