/*  ┌────────────────────────────────────────────────────────────────────────────────────────────┐
**  │ FILENAME: components.less                                                                  │
**  │                                                                                            │
**  │ AUTHOR: Daniel Rieck <daniel.rieck@wsu.edu> (https://github.com/invokeImmediately)         │
**  │                                                                                            │
**  │ DESCRIPTION: Less import that contains style rules designed according to component-based   │
**  │  CSS conventions and which are commonly used on all WSU Office of Undergraduate Education  │
**  │  websites.                                                                                 │
**  └────────────────────────────────────────────────────────────────────────────────────────────┘
*/

/*  ================================================================================================
**  OUE COMPONENT-BASED CSS
*/

/*    ──────────────────────────────────────────────────────────────────────────────────────────────
**    TABLE OF CONTENTS:
**    ───────────────────────────────────────────────────────────────────────────────────────────
**    §1: Card styling.........................................................................28
**    §2: Page headers.........................................................................52
**    §3: On this page........................................................................132
**    ──────────────────────────────────────────────────────────────────────────────────────────────
*/

@oue-components-ruleset: {

/*      ····························································································
**      >>> §1: Card styling
*/

	.style--card {
		.style--card--flat__();
	}

	.style--card--raised {
		.style--card--raised__();
	}

	.style--card__title {
		.style--card__title__();
	}

	.style--card__sub-title {
		.style--card__sub-title__();
	}

	.style-card__title + .style--card__sub-title {
		.margin(@mSize-0mx, "top")
	}

/*      ····························································································
**      >>> §2: Page headers
*/

	@page-header__bg-color: rgba(red(extract(@colors--grays__hex, @colors__darkest)), green(extract(@colors--grays__hex, @colors__darkest)), blue(extract(@colors--grays__hex, @colors__darkest)), 0.9);
	@page-header__fg-color: extract(@colors--grays__hex, @colors__accent);

	.page-header {
		height: 230px;
		position: relative;
		width: 100%;
		background-position: center center;
		background-size: auto 100%;
	}

	.page-header--h-450px {
		height: 450px;
	}

	.page-header--h-auto {
		height: auto;
	}

	.page-header__column-1 {
		background-color: @page-header__bg-color;
		box-sizing: border-box;
		color: @page-header__fg-color;
		display: block;
		left: extract(@rem-mSize-array, @rem-mSize-1000mx);
		margin: 0;
		padding: extract(@pSize-array--rem, @pSize-500mx--rem);
		right: extract(@rem-mSize-array, @rem-mSize-1000mx);
		top: 50%;
		text-shadow: 1px 1px 8px @page-header__bg-color;
		.transform(~"translateY(-50%)");
		width: auto !important;

		.declare-mobile-layout(
			{
				left: extract(@rem-mSize-array, @rem-mSize-500mx);
				right: extract(@rem-mSize-array, @rem-mSize-500mx);
			},
			{
				left: extract(@rem-mSize-array, @rem-mSize-250mx);
				right: extract(@rem-mSize-array, @rem-mSize-250mx);				
			}
		);
	}

	.page-header__column-1--tx-bottom {
		top: 100%;		
		.transform(~"translateY(-100%)");
	}

	.page-header .page-header__column-1 {
		position: absolute;
	}

	.page-header .page-header__column-1--p-static {
		left: 0;
		position: static;
		right: 0;
		top: 0;
		.transform(~"none");
	}

	.fluid .row.single .column.page-header__column-1--p-static {
		width: 100%;
	}

	.fluid .row.single 

	.page-header__text-breadcrumb,
	.page-header__text-title,
	.page-header__text-subtitle {
		color: inherit;
		text-shadow: inherit;
	}


/*      ····························································································
**      >>> §3: On this page
*/

	@otp__clr--bg: #2f3438;
	@otp__clr--item-bg: extract(@colors--grays__hex, @colors__darker);
	@otp__clr--border: extract(@colors--grays__hex, @colors__lightish);
	@otp__clr--highlight: #23272a;
	@otp__clr--crimson: #54464e;
	@otp__clr--crimson-hl: extract(@colors--crimsons__hex, @colors__darkest);
	@otp__w-border: 8px;
	@otp__w-gap: 14px;

	.on-this-page {
		background-color: @otp__clr--bg;

		.column {
			background-color: inherit;
		}

		.on-this-page__heading {
			color: @hex-white;
			font-size: (@default-spacing * .85);
			padding-left: @default-spacing;
			padding-bottom: (@default-spacing / 3);
		}

		.on-this-page__menu {
			background-color: inherit;
			border-top: 1px solid @otp__clr--bg;
			border-left: 1px solid @otp__clr--bg;
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		.on-this-page__menu-item {
			float: left;
			list-style-image: none;
			margin-bottom: .75em !important;
			margin-right: -1px !important;
			margin-top: 0 !important;
			padding: 0;

			a {
				background-color: @otp__clr--item-bg;
				border: 1px solid @otp__clr--border;
				border-radius: 0;
				box-shadow: none;
				color: white;
				display: inline-block;
				padding: 14px 16px;
				text-align: center;

				&:hover {
					background-color: @otp__clr--highlight;
					text-decoration: underline;
				}

				@media all and (max-width: @tablet-screen-width) {
					padding: 8px 10px;
				}
			}

			&.--crimson {
				a {
					background-color: @otp__clr--crimson;

					&:hover {
						background-color: @otp__clr--crimson-hl;
					}					
				}
			}

			&.--related {
				a {
					position: relative;
				}

				a::before {
					content: "";
					border-bottom: 1px solid @otp__clr--border;
					border-top: 1px solid @otp__clr--border;
					bottom: -1px;
					left: (-1 * @otp__w-border);
					position: absolute;
					right: (-1 * @otp__w-border);
					top: -1px;
				}

				&.--start {
					a::before {
						left: 0;
					}
				}

				&.--end {
					a::before {
						right: 0;
					}
				}
			}

			&.--shifted {
				margin-left: @otp__w-gap;
			}
		}
	}

	.on-this-page__back {
		position: relative;
		padding-left: 1rem;
		font-size: 0.9em;
		&::before {
			content: "";
			position: absolute;
			width: 1rem;
			left: -3px;
			height: .9rem;
			background: url(https://s3.wp.wsu.edu/uploads/sites/50/2017/10/micon_returnKey_rotated-90-deg-cw_54x64.png) center center/auto 100% no-repeat;
		}
	}

	.on-this-page__back--add-icon(@icon-url) {
		.on-this-page__back::before {
			background: @icon-url center center/auto 100% no-repeat;
		}
	};
};

.declare-ruleset(@oue-components-ruleset, @oue-rules-wrapper);
