/** ┌──────────────────────────────────────────────────────────────────────────────────────────────┐
*** │ FILENAME: css-build-entry-point.less                                                         │
*** │                                                                                              │
*** │ SUMMARY: Entry point for including dependencies utilized in building custom stylesheets that │
*** │  are common to all websites designed, built, and maintained by the Divsion of Academic       │
*** │  Engagement and Student Achievement (DAESA) in the Office of the Provost at Washington State │
*** │  University (WSU).                                                                           │
*** └──────────────────────────────────────────────────────────────────────────────────────────────┘
***  TABLE OF CONTENTS:
***  ────────────────────────────────────────────────────────────────────────────────────────────
***  §1: Persistent section header comment for general DAESA styling...........................67
***  §2:  Global Less variables and Less mixins/utility classes...............................127
***    >>> §2.1: Additional fonts.............................................................131
***    >>> §2.2: Color variables and mixins...................................................137
***    >>> §2.3: Miscellaneous mixins.........................................................143
***    >>> §2.4: Utility mixins...............................................................149
***    >>> §2.5: Animation utility classes....................................................155
***  §3: Anchor pseudoclass...................................................................161
***  §4: Document section nodes...............................................................167
***    >>> §4.1: HTML element.................................................................171
***    >>> §4.2: Body element.................................................................179
***    >>> §4.3: Article elements.............................................................197
***    >>> §4.4: Section elements.............................................................203
***    >>> §4.5: Aside elements...............................................................211
***    >>> §4.6: Heading elements.............................................................217
***    >>> §4.7: Header elements..............................................................223
***    >>> §4.8: Footer elements..............................................................229
***  §5: Content grouping nodes...............................................................239
***    >>> §5.1: Paragraph elements...........................................................243
***    >>> §5.2: Hr elements..................................................................249
***    >>> §5.3: List elements................................................................255
***    >>> §5.4: Div elements.................................................................261
***       └> §5.4.1: News posts...............................................................275
***       └> §5.4.2: Banner slideshows........................................................286
***       └> §5.4.3: Columns..................................................................292
***       └> §5.4.4: Flippable content panels.................................................298
***       └> §5.4.5: Page covering notices....................................................304
***       └> §5.4.6: Recent updates...........................................................310
***    >>> §5.5: Main element.................................................................316
***  §6: Text-level nodes.....................................................................322
***    >>> §6.1: Hyperlink elements...........................................................326
***    >>> §6.2: Strong elements..............................................................332
***    >>> §6.3: Mark elements................................................................347
***    >>> §6.4: Span elements................................................................357
***    >>> §6.5: Cite elements................................................................363
***  §7: Embedded content nodes...............................................................371
***    >>> §7.1: Image elements...............................................................375
***    >>> §7.2: Iframe elements..............................................................381
***  §8: Tabular data nodes...................................................................387
***  §9: Form nodes...........................................................................393
***  §10: Scripted elements...................................................................399
***    >>> §10.1: Toggled drop-down panels....................................................403
***    >>> §10.2: Subtle panels...............................................................409
***    >>> §10.3: Flippable content panels....................................................450
***    >>> §10.4: QTip driven tooltips........................................................459
***    >>> §10.5: Quick-tabs panels...........................................................465
***    >>> §10.6: Trive Events Calendars......................................................471
***    >>> §10.7: Auto-scrolling image panels.................................................477
***  §11: Functional CSS......................................................................505
***    >>> §11.1: Website notices.............................................................509
***    >>> §11.2: Other components............................................................515
***  §12: Utility classes.....................................................................521
***  ───────────────────────────────────────────────────────────────────────────────────────────────
**/

/** ================================================================================================
*** §1: Persistent section header comment for unit specific styling
**/

/*! ================================================================================================
*** WSU DAESA Styling Section
*** ================================================================================================
***   SUMMARY: The following section of this stylesheet contains CSS code written for use on all
***    websites designed, built, and maintained by the Divsion of Academic Engagement and Student
***    Achievement (DAESA) in the Office of the Provost at Washington State University (WSU).
***
***   DESCRIPTION: The CSS code in the following section was generated from precompiled CSS written
***     in the Less language extension of CSS. It is designed to be applied via the WSUWP CSS
***     Stylesheet Editor functioning in add-on mode.
***
***     Please refer to the GitHub proejct at https://github.com/invokeImmediately/WSU-UE---CSS/
***     for fully documented, precompiled source code.  
***     
***   AUTHOR: Daniel Rieck [daniel.rieck@wsu.edu] (https://github.com/invokeImmediately)
***
***   LICENSE: ISC - Copyright (c) 2020 Daniel C. Rieck.
***
***     Permission to use, copy, modify, and/or distribute this software for any purpose with or
***     without fee is hereby granted, provided that the above copyright notice and this permission
***     notice appear in all copies.
***
***     THE SOFTWARE IS PROVIDED "AS IS" AND DANIEL RIECK DISCLAIMS ALL WARRANTIES WITH REGARD TO
***     THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT
***     SHALL DANIEL RIECK BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR
***     ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF
***     CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE
***     OR PERFORMANCE OF THIS SOFTWARE.
*** ================================================================================================
**/

/** ───────────────────────────────────────────────────────────────────────────────────────────────
*** ADDITIONAL DESIGN COMMENTS
*** ────────────────────────────────────────────────────────────────────────────────────────────
***   DESIGN PHILOSOPHY: This stylesheet mixes semantic with functional CSS. The Spine Theme for 
***     WSUWP takes a semantic approach to styling; thus, this add-on style sheet necessarily 
***     contains some semantic styling of its own. Specifically, semantic CSS is utilized to 
***     override or minimally build upon the default design imposed by the Spine Builder theme.
***
***     Functional CSS is utilized to maximally build upon the Spine builder theme by further 
***     extending its design flexibility. Content authors are enabled more options for tweaking the 
***     basal design to suit their needs without needing to touch CSS, while the CSS is made more 
***     reusable and easier to maintain.
***
***   ORGANIZATION OF STYLESHEET: This stylesheet is organized such that semantic CSS preceeds
***     functional CSS. This is done to ensure that utility classes associated with functional CSS 
***     override all other behaviors.
***
***     The semantic styling section of this stylesheet is laid out according to the W3C HTML5 
***     language specification (please see https://www.w3.org/TR/html5/ for more information). 
***     Style rules are generally declared in the same sequence as their matching elements appear in
***     the HTML5 spec. Moreover, property settings are generally made in alphabetical order within
***     a declaration to make the code more predictable an thereby easier to read.
*** ───────────────────────────────────────────────────────────────────────────────────────────────
**/

/** ================================================================================================
*** §2:  Global Less variables and Less mixins/utility classes
**/

/**   ----------------------------------------------------------------------------------------------
***   >>> §2.1: Additional fonts
**/

@import "fonts.less";

/**   ----------------------------------------------------------------------------------------------
***   >>> §2.2: Color variables and mixins
**/

@import "color-palette.less";

/**   ----------------------------------------------------------------------------------------------
***   >>> §2.3: Miscellaneous mixins
**/

@import "mixins.less";

/**   ----------------------------------------------------------------------------------------------
***   >>> §2.4: Utility mixins
**/

@import "utility-mixins.less";

/**   ----------------------------------------------------------------------------------------------
***   >>> §2.5: Animation utility classes
**/

@import "animations.less";

/** ================================================================================================
*** §3: Anchor pseudoclass
**/

@import "targets.less";

/** ================================================================================================
*** §4: Document section nodes
**/

/**   ----------------------------------------------------------------------------------------------
***   >>> §4.1: HTML element
**/

html {
    font-size: @root-font-size;
}

/**  ----------------------------------------------------------------------------------------------
***   >>> §4.2: Body element
**/

body {
    &:extend(.ff--sans);
	&.use-max-width-1386 {
		#binder.max-1188 {
			@media only screen and (min-width: 990px) {
				max-width: 1386px;
				.row {
					max-width: 1386px;
				}
			}
		}
	}
}

/**   ----------------------------------------------------------------------------------------------
***   >>> §4.3: Article elements
**/

@import "articles.less";

/**   ----------------------------------------------------------------------------------------------
***   >>> §4.4: Section elements
**/

@import "sections.less";

@import "on-this-page.less";

/**   ----------------------------------------------------------------------------------------------
***   >>> §4.5: Aside elements
**/

@import "asides.less";

/**   ----------------------------------------------------------------------------------------------
***   >>> §4.6: Heading elements
**/

@import "headings.less";

/**   ----------------------------------------------------------------------------------------------
***   >>> §4.7: Header elements
**/

@import "headers.less";

/**   ----------------------------------------------------------------------------------------------
***   >>> §4.8: Footer elements
**/

footer.article-footer {
    div.author-info {
        display: none;
    }
}

/** ================================================================================================
*** §5: Content grouping nodes
**/

/**   ----------------------------------------------------------------------------------------------
***   >>> §5.1: Paragraph elements
**/

@import "paragraphs.less";

/**   ----------------------------------------------------------------------------------------------
***   >>> §5.2: Hr elements
**/

@import "horizontal-rules.less";

/**   ----------------------------------------------------------------------------------------------
***   >>> §5.3: List elements
**/

@import "lists.less";

/**   ----------------------------------------------------------------------------------------------
***   >>> §5.4: Div elements
**/

@oue-div-ruleset: {
	.column {
		& > * + div {
			margin-top: extract(@mSize-array, @spacing-1000mx);
		}
	}
};

.declare-ruleset(@oue-div-ruleset, @oue-rules-wrapper);

/**     ····························································································
***      └> §5.4.1: News posts
**/

@import "news-posts.less";

.award-banner {
    margin-top: 1rem;
     margin-bottom: 1rem;
}

/**     ····························································································
***      └> §5.4.2: Banner slideshows
**/

@import "cycle-slideshows.less";

/**     ····························································································
***      └> §5.4.3: Columns
**/

@import "columns.less";

/**     ····························································································
***      └> §5.4.4: Flippable content panels
**/

@import "interactively-flipped-panels.less";

/**     ····························································································
***      └> §5.4.5: Page covering notices
**/

@import "page-covering-notices.less";

/**     ····························································································
***      └> §5.4.6: Recent updates
**/

@import "recent-updates.less";

/**   ----------------------------------------------------------------------------------------------
***   >>> §5.5: Main element
**/

@import "main.less";

/** ================================================================================================
*** §6: Text-level nodes
**/

/**   ----------------------------------------------------------------------------------------------
***   >>> §6.1: Hyperlink elements
**/

@import "hyperlinks.less";

/**   ----------------------------------------------------------------------------------------------
***   >>> §6.2: Strong elements
**/

strong.opening-line {
    font-size: 1.0625em;
    color: @hex-dark-green;
    .rgb-darkest-green(); text-shadow: 1px 1px 1px rgba(@rval, @gval, @bval, 0.3333);
}

strong.stands-out {
	.ff--condensed-2;
	font-size: 1.2em;
}

/**   ----------------------------------------------------------------------------------------------
***   >>> §6.3: Mark elements
**/

mark.highlight {
    background-color: transparent;
    font-style: normal;
    color: #AEC7CB;
}

/**   ----------------------------------------------------------------------------------------------
***   >>> §6.4: Span elements
**/

@import "spans.less";

/**   ----------------------------------------------------------------------------------------------
***   >>> §6.5: Cite elements
**/

cite.article-author {
    display: none;
}

/** ================================================================================================
*** §7: Embedded content nodes
**/

/**   ----------------------------------------------------------------------------------------------
***   >>> §7.1: Image elements
**/

@import "images.less";

/**   ----------------------------------------------------------------------------------------------
***   >>> §7.2: Iframe elements
**/

@import "iframes.less";

/** ================================================================================================
*** §8: Tabular data nodes
**/

@import "tables.less";

/** ================================================================================================
*** §9: Form nodes
**/

@import "forms.less";

/** ================================================================================================
*** §10: Scripted elements
**/

/**   ----------------------------------------------------------------------------------------------
***   >>> §10.1: Toggled drop-down panels
**/

@import "drop-down-toggles.less";

/**   ----------------------------------------------------------------------------------------------
***   >>> §10.2: Subtle panels
**/

.subtlePanel() {
    opacity: .3333;
    transition: opacity .3333s;
     -webkit-transition: opacity .3333s;
     -moz-transition: opacity .3333s;
     -o-transition: opacity .3333s;
    animation: subtlePanel-FadeOut 1.5s linear 0 1;
     -webkit-animation: subtlePanel-FadeOut 1.5s linear 0 1;
     -moz-animation: subtlePanel-FadeOut 1.5s linear 0 1;
     -o-animation: subtlePanel-FadeOut 1.5s linear 0 1;
    @-webkit-keyframes subtlePanel-FadeOut {
        0% {
            opacity: 1;
        }
        33% {
            opacity: 1;
        }
        100% {
            opacity: .3333;
        }
    }
    @keyframes subtlePanel-FadeOut {
        0% {
            opacity: 1;
        }
        33% {
            opacity: 1;
        }
        100% {
            opacity: .3333;
        }
    }
    &:hover {
        opacity: 1;
    }
}

/**   ----------------------------------------------------------------------------------------------
***   >>> §10.3: Flippable content panels
**/

.flipped-content-back {
    display: none;
    width: 100%;
}

/**   ----------------------------------------------------------------------------------------------
***   >>> §10.4: QTip driven tooltips
**/

@import "qtips.less";

/**   ----------------------------------------------------------------------------------------------
***   >>> §10.5: Quick-tabs panels
**/

@import "quick-tabs.less";

/**   ----------------------------------------------------------------------------------------------
***   >>> §10.6: Trive Events Calendars
**/

@import "events-calendar.less";

/**   ----------------------------------------------------------------------------------------------
***   >>> §10.7: Auto-scrolling image panels
**/

div.auto-scroller {
    position: relative;
    .inner-scroll-area {
        position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
        overflow: hidden;
    }
    ul {
        position: relative;
        padding: 0;
        margin: 0;
        li {
            position: absolute;
            padding: 0;
            margin: 0;
            list-style-type: none;
            list-style-image: none;
        }
    }
}

/** ================================================================================================
*** §11: Component-based CSS
**/

/**   ----------------------------------------------------------------------------------------------
***   >>> §11.1: Website notices
**/

@import "notices.less";

/**   ----------------------------------------------------------------------------------------------
***   >>> §11.2: Other components
**/

@import "components.less";

/** ================================================================================================
*** §12: Utility classes
**/

@import "utility-classes.less";
