/*         ┌-----------------------------------------------------------------------------------------┐
           │ ···· Builder Template Slideshows ······················································ │
           ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
           │ Styling modifications of builder template slideshows added through the WordPress        │
           │ interface.                                                                              │
           └-----------------------------------------------------------------------------------------┘        
*/
.declare-slideshow-rulesets(@grid-behavior) when (@grid-behavior = "hybrid") {
	.column {
		.builder-section-content.cycle-slideshow {
			@media all {
				@media (min-width: (@v-mbl-thrshld + 1)) and (max-width: @v-lg-mbl-thrshld) {
					margin-left: (-2rem / 2);
					margin-right: (-2rem / 2);
				}
				@media (max-width: @v-mbl-thrshld) {
					margin-left: (-2rem / 4);
					margin-right: (-2rem / 4);
				}
			}
		}

		.builder-banner-content {
			padding: 0 0 10px 0;
			font-size: 1rem;
			line-height: 1.35rem;
			border: 0;
			.transition(~"font-size .15s linear, line-height .15s linear");
			&:hover {
				font-size: 1.3333rem;
				line-height: 1.799955rem;
				& > div.builder-banner-inner-content {
					.rgb-black(); background-color: rgba(@rval,@gval,@bval,0.9);
				}
			}
		}
		
		.builder-banner-inner-content {
			position: absolute;
			bottom: 0;
			width: 100%;
			.rgb-black(); background-color: rgba(@rval,@gval,@bval,0.6);
			font-size: inherit;
			line-height: inherit;
			p {
				padding: 10px;
				font-size: inherit;
				line-height: inherit;
				text-align: center;
				&:last-child:not(.no-bottom-pad) {
					padding-bottom: 10px;
				}
			}
			strong {
				color: #f6861f;
			}
			a {
				color: #f6861f;
				border-bottom: 1px dotted rgba(246,134,31,0.4);
				transition: color .4s linear, border-color .4s linear;
				 -webkit-transition: color .4s linear, border-color .4s linear;
				 -moz-transition: color .4s linear, border-color .4s linear;
				 -o-transition: color .4s linear, border-color .4s linear;
				&:hover {
					color: #949b9d;
					.rgb-gray(); border-color: rgba(@rval,@gval,@bval,0.4);
				}
			}
		}
		
		.builder-banner-overlay {
			display: none;
		}
	}

	@media all {
		@media (max-width: (@v-bckgrnd-thrshld - 1)) {
			.column .builder-banner-content {
				font-size: 1.3278vw;
				line-height: 1.79253vw;
				&:hover {
					font-size: 1.7704vw;
					line-height: 2.39004vw;
				}
			}    
				
			.column .builder-banner-inner-content p {
				padding: 1.0vw;
				&:last-child:not(.no-bottom-pad) {
					padding-bottom: 1.0vw;
				}
			}
		}

		@media (max-width: @v-spn-thrshld) {
			.column .builder-banner-content {
				font-size: 12px;
				line-height: 16.2px;
				&:hover {
					font-size: 14px;
					line-height: 18.9px;
				}
			}    
		}

		// TODO: Move back to wp-master-style-sheet.less
		@media (min-width: 906px) {
			.readability-controlled {
				width: 70%;
			}
		}
	}
}
.declare-slideshow-rulesets(@grid-behavior);
