/*  ┌────────────────────────────────────────────────────────────────────────────────────────────┐
**  │ FILENAME: div.column.less                                                                  │
**  │                                                                                            │
**  │ AUTHOR: Daniel Rieck <daniel.rieck@wsu.edu> (https://github.com/invokeImmediately)         │
**  │                                                                                            │
**  │ DESCRIPTION: Incorporates styles for (div).column elements of WSU Office of Undergraduate  │
**  │   Education web pages built using the builder template of the Spine parent theme of WSUWP. │
**  │   Styles are designed to accompany or supersede styling associated with the theme.         │
**  └────────────────────────────────────────────────────────────────────────────────────────────┘
*/

/*  ================================================================================================
**  SEMANTIC CSS FOR STYLING OUE COLUMNS
*/

section.pad-top {
    &.half-pad, div.column.half-pad {
        padding-top: (@v-dflt-spcng / 2);
    }
}

.declare-column-rulesets(@grid-behavior) when (@grid-behavior = "hybrid") {
	.column {
		font-size: @v-clmn-sz;
		color: @v-clmn-clr;
		&:extend(.has-dflt-font);
		&:nth-child(1) {
			margin-top: 0;
		}
		&.hides-overflow {
			overflow: hidden;
		}
		&.make-me-a-wrapper {
			padding: 0;
		}
		&.no-top-pad {
			padding-top: 0;
		}
		&.with-right-margin {
			margin-right: 2rem;
		}    
		//TODO: move to new hr-dedicated LESS file
		hr {
			height: 0;
			margin-top: @v-dflt-spcng;
			margin-bottom: @v-dflt-spcng;
			background: none;
			border: 0;
			 .rgb-dark-gray(); border-top: 1px solid rgba(@rval,@gval,@bval,0.5);
			 border-bottom: 1px solid rgba(160,160,160,0.25);
			&:first-child {
				margin-top: 0;
			}
			&.subSection,
			&.sub-section {
				width: 85%;
				margin: @v-dflt-spcng auto;
				background: none;
				border: 0;
				.rgb-dark-gray(); border-top: 1px dashed rgba(@rval,@gval,@bval,0.5);
				border-bottom: 1px dashed rgba(160,160,160,0.25);
				text-align: center;
			}
			&.spacer {
				border: none;
			}
			&.crimson {
				.rgb-crimson(); border-top: 1px solid rgba(@rval,@gval,@bval,0.67);
				 border-bottom: 1px solid rgba(@rval,@gval,@bval,0.375);
			}
			&.dark-gray {
				.rgb-darker-gray(); border-top: 1px solid rgba(@rval,@gval,@bval,0.6667);
				 border-bottom: 1px solid rgba(@rval,@gval,@bval,0.3333);
			}
			&.light-gray {
				.rgb-dark-gray(); border-top: 1px dashed rgba(@rval,@gval,@bval,0.25);
				border-bottom: 1px dashed rgba(160,160,160,0.125);
			}
			&.no-top-margin {
				margin-top: 0;
			}
			&.narrow-top-margin {
				margin-top: @v-dflt-spcng / 4;
			}
			&.half-top-margin {
				margin-top: @v-dflt-spcng / 2;
			}
			&.no-bottom-margin {
				margin-bottom: 0;
			}
			&.narrow-bottom-margin {
				margin-bottom: @v-dflt-spcng / 4;
			}
			&.half-bottom-margin {
				margin-bottom: @v-dflt-spcng / 2;
			}
			&.encroach-horizontal {
				margin-left: -0.5rem;
				margin-right: -0.5rem;
			}
			&.does-not-clear {
				clear: none;
			}
			&.thicker {
				border-top-width: 2px;
			}
		}
		section {
			position: relative;
			&+section:not(.no-top-margin) {
				margin-top: @v-dflt-spcng;
			}
		}
		.crimson-text {
			color: @hex-crimson;
		}
		.blue-text {
			color: @hex-blue;
		}
		.dark-blue-text {
			color: @hex-dark-blue;
		}
		.centered-text {
			text-align: center;
		}
		.larger-text, .has-larger-text {
			font-size: larger;
		}
		.has-smaller-text {
			font-size: smaller !important;
		}
		.large-format-friendly {
			@media all {
				@media (min-width: @large-format-threshold) {
					.margin-centered;
					max-width: @v-w-cnstrn-lrg;
				}
				@media (min-width: (@tablet-screen-width + 1)) and (max-width: (@large-format-threshold - 1)) {
					max-width: (@tablet-screen-width + 1);
				}
			}
		}
	}
	
	//TODO: Move to section.less
	body.home main > .page > .row:last-child,
	body.page main > .page > .row:last-child {
		& > .column:last-child {
			padding-bottom: @v-dflt-spcng;
		}
		//TODO: extend to all multi-column formats
		&.halves > .column,
		&.side-right > .column,
		&.side-left > .column {
			&:first-child {
				@media all and (min-width: (@column-floating-threshold + 1)) {
					padding-bottom: @v-dflt-spcng;
				}
			}
		}
		&.thirds {
			& > .column:first-child, {
				@media all and (min-width: (@column-floating-threshold + 1)) {
					padding-bottom: @v-dflt-spcng;
				}
			}
			& > .column:nth-child(2), {
				@media all and (min-width: (@column-floating-threshold + 1)) {
					padding-bottom: @v-dflt-spcng;
				}
			}
		}
	}
}
.declare-column-rulesets(@grid-behavior);

// TODO: move to separate div.callout file
div.callout {
	.set-widths(auto, 80px, 230px);
	height: auto;
	padding: 10px;
	border: 1px solid #F1D031;
	background-color: #FFEF93;
	color: #000;
	line-height: 1.2em;
	border-radius: 3px;
	box-shadow: 3px 3px 8px rgba(0,0,0,0.5);
	&.left:before,
	&.right:before,
	&.top:before,
	&.left:after,
	&.right:after,
	&.top:after {
		content: "";
		width: 0;
		height: 0;
		border: 10px solid transparent;
	}
	&.left:before,
	&.right:before,
	&.left:after,
	&.right:after {
		.set-position(absolute, 50%);
		.transform(~"translateY(-50%)");
	}
	&.top:before,
	&.top:after {
		.set-position(absolute, "na", "na", "na", 50%);
		.transform(~"translateX(-50%)");
	}
	&.left:after,
	&.right:after,
	&.top:after {
		border: 11px solid transparent;
		z-index: -1;
	}
	&.left {
		.set-position(absolute, 50%, "na", "na", 0);
		.transform(~"translate(-100%,-50%) translateX(-10px)");
		&:before {
			right: -20px;
			border-left: 10px solid #FFEF93;
		}
		&:after {
			right: -22px;
			border-left: 10px solid #F1D031;
		}
	}
	&.right {
		.set-position(absolute, 50%, 0, "na", "na");
		.transform(~"translate(100%,-50%) translateX(10px)");
		&:before {
			left: -20px;
			border-right: 10px solid #FFEF93;
		}
		&:after {
			left: -22px;
			border-right: 11px solid #F1D031;
		}
	}
	&.top {
		.set-position(absolute, 0, "na", "na", 50%);
		.transform(~"translate(-50%,-100%) translateY(-10px)");
		&:before {
			bottom: -20px;
			border-top: 10px solid #FFEF93;
		}
		&:after {
			bottom: -22px;
			border-top: 11px solid #F1D031;
		}
	}
}
