section.pad-top {
    &.half-pad, div.column.half-pad {
        padding-top: (@v-dflt-spcng / 2);
    }
}

/*         ┌-----------------------------------------------------------------------------------------┐
 *         │ ···· div.column ······································································· │
 *         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 *         │ Highly specific styling applied to div.column container elements as specified in the    │
 *         │ WSU Spine WordPress Theme.                                                              │
 *         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 */
div.column {
    font-size: @v-clmn-sz;
	color: @v-clmn-clr;
    &:extend(.has-dflt-font);
	&:nth-child(1) {
		margin-top: 0;
	}
/*         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 *         │············ GENERIC CLASSES for div.column content containers ························· │
 *         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 */
    &.hides-overflow {
        overflow: hidden;
    }
    &.make-me-a-wrapper {
        padding: 0;
    }
    &.no-top-pad {
        padding-top: 0;
    }
    &.with-right-margin {
        margin-right: 2rem;
    }    
/*         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 *         │···· HORIZONTAL RULE children of div.column elements ··································· │
 *         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 */
    hr {
        height: 0;
        margin-top: @v-dflt-spcng;
        margin-bottom: @v-dflt-spcng;
        background: none;
        border: 0;
         .rgb-dark-gray(); border-top: 1px solid rgba(@rval,@gval,@bval,0.5);
         border-bottom: 1px solid rgba(160,160,160,0.25);
        &:first-child {
            margin-top: 0;
        }
        &.subSection {
            width: 85%;
            margin: @v-dflt-spcng auto;
            background: none;
            border: 0;
            .rgb-dark-gray(); border-top: 1px dashed rgba(@rval,@gval,@bval,0.5);
            border-bottom: 1px dashed rgba(160,160,160,0.25);
            text-align: center;
        }
        &.spacer {
            border: none;
        }
        &.crimson {
            .rgb-crimson(); border-top: 1px solid rgba(@rval,@gval,@bval,0.67);
             border-bottom: 1px solid rgba(@rval,@gval,@bval,0.375);
        }
        &.dark-gray {
            .rgb-darker-gray(); border-top: 1px solid rgba(@rval,@gval,@bval,0.6667);
             border-bottom: 1px solid rgba(@rval,@gval,@bval,0.3333);
        }
		&.light-gray {
            .rgb-dark-gray(); border-top: 1px dashed rgba(@rval,@gval,@bval,0.25);
            border-bottom: 1px dashed rgba(160,160,160,0.125);
		}
        &.no-top-margin {
            margin-top: 0;
        }
        &.narrow-top-margin {
            margin-top: @v-dflt-spcng / 4;
        }
        &.half-top-margin {
            margin-top: @v-dflt-spcng / 2;
        }
        &.no-bottom-margin {
            margin-bottom: 0;
        }
        &.narrow-bottom-margin {
            margin-bottom: @v-dflt-spcng / 4;
        }
        &.half-bottom-margin {
            margin-bottom: @v-dflt-spcng / 2;
        }
        &.encroach-horizontal {
            margin-left: -0.5rem;
            margin-right: -0.5rem;
        }
        &.does-not-clear {
            clear: none;
        }
        &.thicker {
            border-top-width: 2px;
        }
    }
/*         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 *         │ ···· SECTION children of div.column elements ·········································· │
 *         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 */
    section {
        position: relative;
        &+section:not(.no-top-margin) {
            margin-top: @v-dflt-spcng;
        }
    }
    
/*         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 *         │ ···· ADDITIONAL CLASSES for elements contained within div.column elements ············· │
 *         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 */
	.crimson-text {
		color: @hex-crimson;
	}
    .blue-text {
        color: @hex-blue;
    }
	.dark-blue-text {
		color: @hex-dark-blue;
	}
	.centered-text {
		text-align: center;
	}
    .larger-text, .has-larger-text {
        font-size: larger;
    }
    .has-smaller-text {
        font-size: smaller !important;
    }
    .large-format-friendly {
        @media (min-width: @v-lrgfrmt-thrshld) {
            .margin-centered;
            max-width: @v-w-cnstrn-lrg;
        }
        @media (min-width: (@v-tblt-thrshld + 1)) and (max-width: (@v-lrgfrmt-thrshld - 1)) {
            max-width: (@v-tblt-thrshld + 1);
        }
    }
}

main > div.page > section.row:last-child > div.column {
    padding-bottom: @v-dflt-spcng;
}
/*         └-----------------------------------------------------------------------------------------┘        
 */
div.callout {
	.set-widths(auto, 80px, 230px);
	height: auto;
	padding: 10px;
	border: 1px solid #F1D031;
	background-color: #FFEF93;
	color: #000;
	line-height: 1.2em;
	border-radius: 3px;
	box-shadow: 3px 3px 8px rgba(0,0,0,0.5);
	&.left:before,
	&.right:before,
	&.top:before,
	&.left:after,
	&.right:after,
	&.top:after {
		content: "";
		width: 0;
		height: 0;
		border: 10px solid transparent;
	}
	&.left:before,
	&.right:before,
	&.left:after,
	&.right:after {
		.set-position(absolute, 50%);
		.transform(~"translateY(-50%)");
	}
	&.top:before,
	&.top:after {
		.set-position(absolute, "na", "na", "na", 50%);
		.transform(~"translateX(-50%)");
	}
	&.left:after,
	&.right:after,
	&.top:after {
		border: 11px solid transparent;
		z-index: -1;
	}
	&.left {
		.set-position(absolute, 50%, "na", "na", 0);
		.transform(~"translate(-100%,-50%) translateX(-10px)");
		&:before {
			right: -20px;
			border-left: 10px solid #FFEF93;
		}
		&:after {
			right: -22px;
			border-left: 10px solid #F1D031;
		}
	}
	&.right {
		.set-position(absolute, 50%, 0, "na", "na");
		.transform(~"translate(100%,-50%) translateX(10px)");
		&:before {
			left: -20px;
			border-right: 10px solid #FFEF93;
		}
		&:after {
			left: -22px;
			border-right: 11px solid #F1D031;
		}
	}
	&.top {
		.set-position(absolute, 0, "na", "na", 50%);
		.transform(~"translate(-50%,-100%) translateY(-10px)");
		&:before {
			bottom: -20px;
			border-top: 10px solid #FFEF93;
		}
		&:after {
			bottom: -22px;
			border-top: 11px solid #F1D031;
		}
	}
}
