section.pad-top {
    &.half-pad, div.column.half-pad {
        padding-top: (@v-dflt-spcng / 2);
    }
}

/*         ┌-----------------------------------------------------------------------------------------┐
 *         │ ···· div.column ······································································· │
 *         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 *         │ Highly specific styling applied to div.column container elements as specified in the    │
 *         │ WSU Spine WordPress Theme.                                                              │
 *         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 */
div.column {
    font-size: @v-clmn-sz;
    &:extend(.has-dflt-font);
	&:nth-child(1) {
		margin-top: 0;
	}
/*         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 *         │············ GENERIC CLASSES for div.column content containers ························· │
 *         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 */
    &.hides-overflow {
        overflow: hidden;
    }
    &.make-me-a-wrapper {
        padding: 0;
    }
    &.no-top-pad {
        padding-top: 0;
    }
    &.with-right-margin {
        margin-right: 2rem;
    }
    
/*         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 *         │············ DEFINITION LIST elements contained within div.column containers ··········· │
 *         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 */
    dl.faq dt {
        position: relative;
        width: 100%;
        padding: 5px 20px 5px 10px;
        margin: 5px -10px;
        background-color: @hex-lighter-gray;
        @media all {
            line-height: @v-p-lnhght;
            @media (min-width: (@v-mbl-thrshld + 1)) {
                font-size: @v-p-sz;
            }
            @media (max-width: @v-mbl-thrshld) {
                font-size: (@v-p-sz * @v-scl-dwn);
                text-align: left;
            }
        }
        font-weight: bold;
        transition: all 0.25s linear;
         -webkit-transition: all 0.25s linear;
         -moz-transition: all 0.25s linear;
         -o-transition: all 0.25s linear;
        &:after {
            content: "";
            position: absolute;
            right: 10px;
             top: 50%;
            width: 0; 
            height: 0; 
            transform: translateY(-50%);
            border-top: 8px solid @hex-dark-gray;
            border-right: 8px solid transparent;
            border-bottom: none;
            border-left: 8px solid transparent;
            transition: all 0.3s ease;
             -webkit-transition: all 0.3s ease;
             -moz-transition: all 0.3s ease;
             -o-transition: all 0.3s ease;
        }
        &:hover {
            background-color: @hex-dark-gray;
            color: @hex-white;
            &:after {
                border-top: 8px solid @hex-white;
                border-right: 8px solid transparent;
                border-bottom: none;
                border-left: 8px solid transparent;
            }
        }
    }
    dl.faq dt.activated {
        background-color: @hex-lghtr-gry-0pt2-crmsn;
        color: @hex-darker-gray;
        &:after {
            border-top: none;
            border-right: 8px solid transparent;
            border-bottom: 8px solid @hex-dark-gray;
            border-left: 8px solid transparent;
        }
        &:hover {
            background-color: @hex-drk-gry-0pt2-crmsn;
            color: @hex-white;
            &:after {
                border-top: none;
                border-right: 8px solid transparent;
                border-bottom: 8px solid @hex-white;
                border-left: 8px solid transparent;
            }
        }
    }
    dl.toggled dd {
        display: none;
    }
    
/*         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 *         │···· HORIZONTAL RULE children of div.column elements ··································· │
 *         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 */
    hr {
        height: 0;
        margin-top: @v-dflt-spcng;
        margin-bottom: @v-dflt-spcng;
        background: none;
        border: 0;
         .rgb-dark-gray(); border-top: 1px solid rgba(@rval,@gval,@bval,0.5);
         border-bottom: 1px solid rgba(160,160,160,0.25);
        &:first-child {
            margin-top: 0;
        }
        &.subSection {
            width: 85%;
            margin: @v-dflt-spcng auto;
            background: none;
            border: 0;
             .rgb-dark-gray(); border-top: 1px dashed rgba(@rval,@gval,@bval,0.5);
             border-bottom: 1px dashed rgba(160,160,160,0.25);
            text-align: center;
        }
        &.spacer {
            border: none;
        }
        &.crimson {
            .rgb-crimson(); border-top: 1px solid rgba(@rval,@gval,@bval,0.67);
             border-bottom: 1px solid rgba(@rval,@gval,@bval,0.375);
        }
        &.dark-gray {
            .rgb-darker-gray(); border-top: 1px solid rgba(@rval,@gval,@bval,0.6667);
             border-bottom: 1px solid rgba(@rval,@gval,@bval,0.3333);
        }
        &.no-top-margin {
            margin-top: 0;
        }
        &.narrow-top-margin {
            margin-top: @v-dflt-spcng / 4;
        }
        &.half-top-margin {
            margin-top: @v-dflt-spcng / 2;
        }
        &.no-bottom-margin {
            margin-bottom: 0;
        }
        &.narrow-bottom-margin {
            margin-bottom: @v-dflt-spcng / 4;
        }
        &.half-bottom-margin {
            margin-bottom: @v-dflt-spcng / 2;
        }
        &.encroach-horizontal {
            margin-left: -0.5rem;
            margin-right: -0.5rem;
        }
        &.does-not-clear {
            clear: none;
        }
        &.thicker {
            border-top-width: 2px;
        }
    }
    
/*         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 *         │ ···· HYPERLINK elements contained within div.column elements ·························· │
 *         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 */
    a {
        margin-bottom: -3px;
        .rgb-crimson(); border-bottom: 1px dotted rgba(@rval,@gval,@bval,0.25);
        color: @hex-crimson;
        text-decoration: none;
        transition-property: color, background, border-color;
         -webkit-transition-property: color, background, border-color;
        transition-duration: .3s, .3s, .3s;
         -webkit-transition-duration: .3s, .3s, .3s;
        transition-timing-function: ease, ease, ease;
         -webkit-transition-timing-function: ease, ease, ease;
        &:hover {
            background-color: rgba(239,120,121,0.2);
            .rgb-crimson(); border-color: rgba(@rval,@gval,@bval,0.67);
            color: #c60c30;
        }
        &.subtle-link {
            .rgb-crimson(); border-bottom: 1px dotted rgba(@rval,@gval,@bval,0.0);
            transition-property: border-color;
             -webkit-transition-property: border-color;
            transition-duration: .3s;
             -webkit-transition-duration: .3s;
            transition-timing-function: ease;
             -webkit-transition-timing-function: ease;
        }
        &.subtle-link:not(.quiet):hover {
            .rgb-crimson(); border-bottom: 1px dotted rgba(@rval,@gval,@bval,0.67);
        }
        &.pop-out-link {
            .rgb-crimson(); border-bottom: 1px dotted rgba(@rval,@gval,@bval,0.3);
            color: @hex-crimson;
            text-decoration: none;
            transition-property: color, background, font-size;
             -webkit-transition-property: color, background, font-size, line-height;
            transition-duration: .4s, .4s, .25s, .25s;
             -webkit-transition-duration: .4s, .4s, .25s, .25s;
            transition-timing-function: linear, ease-in, linear, linear;
             -webkit-transition-timing-function: linear, ease-in, linear, linear;
            &.subtle-link {
                border-bottom: none;
            }
            &:hover {
                .rgb-accent-orange(); background-color: rgba(@rval,@gval,@bval,0.1);
                font-size: 1.05em;
                line-height: ~"calc(1.05em * 1.05)";
                color: @hex-accent-orange;
            }
        }
        &.dark-red-button {
            display: block;
            color: @hex-white;
            background-color: @hex-crimson;
            text-transform: uppercase;
            font-size: 1em;
            font-weight: bold;
            letter-spacing: 1px;
            transition: background-color 0.3333s linear;
            padding: 0.5em 1em;
            &:hover {
                background-color: @hex-light-crimson;
            }        
        }
        img {
            .rgb-dark-gray(); border: 1px solid rgba(@rval,@gval,@bval,0.5);
            box-shadow: 2px 2px 2px rgba(@rval,@gval,@bval,0.25);
            text-decoration: none;
            transition-property: border, box-shadow;
             -webkit-transition-property: border, box-shadow;
            transition-duration: .4s, .4s;
             -webkit-transition-duration: .4s, .4s;
            transition-timing-function: linear, ease-in;
             -webkit-transition-timing-function: linear, ease-in;
            &:hover {
                border: 1px solid @hex-crimson;
                .rgb-crimson(); box-shadow: 2px 2px 2px rgba(@rval,@gval,@bval,0.3333);
            }
        }
        &[data-title] {
            position: relative;
            &:hover:after {
                content:attr(data-title);
                width: 220px;
                position: absolute;
                 left: 5px;
                 top: 100%;                
                padding: 4px 8px;
                background: @hex-lighest-orange;
                 background: -webkit-linear-gradient(top,@hex-lighest-orange,@hex-white);
                 background: -moz-linear-gradient(top,@hex-lighest-orange,@hex-white);
                 background: -o-linear-gradient(top,@hex-lighest-orange,@hex-white);
                 background: linear-gradient(top,@hex-lighest-orange,@hex-white);
                border: 1px solid @hex-dark-orange;
                color: @hex-darker-gray;
                z-index: 20;
            }
        }
    }
    &:hover a.loud-link {
        .rgb-dark-crimson(); border-bottom: 1px dotted rgba(@rval,@gval,@bval,0.3);
    }
    h1 > a, h2 > a, h3 > a, h4 > a {
        line-height: 1.35em;
    }
    
/*         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 *         │ ···· ASIDE children of div.column elements ············································ │
 *         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 */
    aside.article-sidebar {
        float: right;
        width: 33%;
        min-width: 230px;
        padding: .8rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
        background: @hex-bright-orange;
        border: 1px solid #6d441f;
        box-shadow: 1px 1px 2px rgba(109,68,31,0.5);
        font-size: .8rem;
        color: #464e54;
        &:first-child+h1, &:first-child+h2, &:first-child+h3, &:first-child+h4 {
            margin-top: 0;
        }
        p, ol, ul {
            font-size: inherit;
            line-height: normal;
        }
        p {
            text-align: left;
            &:not(:last-child) {
                    margin-bottom: 0.8rem;
            }
        }
        ol, ul {
            padding-bottom: 0;
        }
        h2 + hr {
            margin-top: .25rem;
            background-color: rgba(70,78,84,0.75);
        }
        h3 {
            font-size: 1.275rem;
            margin-top: 1.2rem;
            margin-bottom: 0;
            &:first-child {
                margin-top: 0;
            }
        }
        h4 {
            font-size: 1.05rem;
            &:first-child {
                margin-top: 0;
            }
        }
        @media screen {
            @media (min-width: (@v-spn-thrshld + 1)) and (max-width: (@v-spn-thrshld + 109)) {
                position: absolute;
                 right: 0px;
                 top: 0px;
                width: 230px;
                transform-origin: 100% 0%;
                 -webkit-transform-origin: 100% 0%;
                 -ms-transform-origin: 100% 0%;
                transform: rotate(-90deg);
                 -webkit-transform: rotate(-90deg);
                 -ms-transform: rotate(-90deg);
                transition: transform .25s ease-out;
                 -webkit-transition: transform .25s ease-out;
                 -moz-transition: transform .25s ease-out;
                 -o-transition: transform .25s ease-out;                        
                &:hover {
                    transform: none;
                     -webkit-transform: none;
                     -ms-transform: none;
                }
            }
            @media (max-width: (@v-mbl-thrshld + 160)) {
                position: absolute;
                 right: -2rem;
                 top: 0px;
                width: 230px;
                transform-origin: 100% 0%;
                 -webkit-transform-origin: 100% 0%;
                 -ms-transform-origin: 100% 0%;
                transform: rotate(-90deg) translateY(-2rem);
                 -webkit-transform: rotate(-90deg) translateY(-2rem);
                 -ms-transform: rotate(-90deg) translateY(-2rem);
                 -webkit-transition: transform .25s ease-out;
                transition: transform .25s ease-out;
                 -moz-transition: transform .25s ease-out;
                 -o-transition: transform .25s ease-out;
                &:hover {
                    transform: none;
                     -webkit-transform: none;
                     -ms-transform: none;
                }
            }
        }
    }
    
/*         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 *         │ ···· UNORDERED LIST elements contained within div.column elements ····················· │
 *         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 */
    ul {
        padding-bottom: 0;
        &:last-child:not(.no-bottom-pad) {
            padding-bottom: @v-btm-pads;
        }
        &.centered {
            text-align: center;
        }
        &+p {
            margin-top: @v-btm-mrgns;
        }
        @media all {
            line-height: @v-p-lnhght;
            @media (min-width: (@v-mbl-thrshld + 1)) {
                font-size: @v-p-sz;
            }
            @media (max-width: @v-mbl-thrshld) {
                font-size: @v-p-sz * @v-scl-dwn;
            }
        }
        li {
            &.no-bottom-pad {
                padding-bottom: 0;
            }
        }
    }
    p + ul {
        margin-top: (@v-dflt-spcng / 2);
    }
    section:not(:last-child) {
        ul:last-child {
            padding-bottom: 0;
        }
    }

/*         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 *         │ ···· ORDERED LIST elements contained within div.column elements ······················· │
 *         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 */
    ol {
        @media all {
            line-height: @v-p-lnhght;
            @media (min-width: (@v-mbl-thrshld + 1)) {
                font-size: @v-p-sz;
            }
            @media (max-width: @v-mbl-thrshld) {
                font-size: @v-p-sz * @v-scl-dwn;
            }
        }
        ol {
            list-style-type: lower-alpha;
            ol {
                list-style-type: lower-roman;
            }
        }
    }

/*         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 *         │ ···· SECTION children of div.column elements ·········································· │
 *         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 */
    section {
        position: relative;
        &+section:not(.no-top-margin) {
            margin-top: @v-dflt-spcng;
        }
    }
    
/*         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 *         │ ···· ADDITIONAL CLASSES for elements contained within div.column elements ············· │
 *         ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
 */
	.crimson-text {
		color: @hex-crimson;
	}
    .blue-text {
        color: @hex-blue;
    }
	.dark-blue-text {
		color: @hex-dark-blue;
	}
	.centered-text {
		text-align: center;
	}
    .larger-text, .has-larger-text {
        font-size: larger;
    }
    .has-smaller-text {
        font-size: smaller;
    }
    .large-format-friendly {
        @media (min-width: @v-lrgfrmt-thrshld) {
            .margin-centered;
            max-width: @v-w-cnstrn-lrg;
        }
        @media (min-width: (@v-tblt-thrshld + 1)) and (max-width: (@v-lrgfrmt-thrshld - 1)) {
            max-width: (@v-tblt-thrshld + 1);
        }
    }
}
/*         └-----------------------------------------------------------------------------------------┘        
 */
