/*         ┌-----------------------------------------------------------------------------------------┐
           │ ···· Builder Template Slideshows ······················································ │
           ├---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  ---  --- ┤
           │ Styling modifications of builder template slideshows added through the WordPress        │
           │ interface.                                                                              │
           └-----------------------------------------------------------------------------------------┘        
*/
div.column {
    div.builder-banner-content {
        padding: 0 0 10px 0;
        font-size: 1rem;
        line-height: 1.35rem;
        border: 0;
        .transition(~"font-size .15s linear, line-height .15s linear");
        &:hover {
            font-size: 1.3333rem;
            line-height: 1.799955rem;
            & > .inner-banner-content {
                .rgb-black(); background-color: rgba(@rval,@gval,@bval,0.9);
            }
        }
//        &:hover ~ .builder-banner-overlay {
//            .rgb-black(); background-color: rgba(@rval,@gval,@bval,0.9);
//            height: ~"calc(3.59991rem + 20px)";
//            top: ~"calc(100% - 3.59991rem - 20px)";
//        }
    }
    div.builder-banner-inner-content {
        position: absolute;
        bottom: 0;
        width: 100%;
        .rgb-black(); background-color: rgba(@rval,@gval,@bval,0.5);
        p {
            padding: 10px;
            font-size: inherit;
            line-height: inherit;
            text-align: center;
            &:last-child:not(.no-bottom-pad) {
                padding-bottom: 10px;
            }
        }
        strong {
            color: #f6861f;
        }
        a {
            color: #f6861f;
            border-bottom: 1px dotted rgba(246,134,31,0.4);
            transition: color .4s linear, border-color .4s linear;
             -webkit-transition: color .4s linear, border-color .4s linear;
             -moz-transition: color .4s linear, border-color .4s linear;
             -o-transition: color .4s linear, border-color .4s linear;
            &:hover {
                color: #949b9d;
                .rgb-gray(); border-color: rgba(@rval,@gval,@bval,0.4);
            }
        }
    }
    div.builder-banner-overlay {
        display: none;
//        height: ~"calc(2.7rem + 20px)";
//        top: ~"calc(100% - 2.7rem - 20px)";
//        .rgb-black(); background-color: rgba(@rval,@gval,@bval,0.6667);
//        .rgb-gray(); border-color: rgba(@rval,@gval,@bval,0.4);
//        color: #949b9d;
//        transition: background-color .4s linear, height .15s linear, top .15s linear;
//         -webkit-transition: background-color .4s linear, height .15s linear, top .15s linear;
//         -moz-transition: background-color .4s linear, height .15s linear, top .15s linear;
//         -o-transition: background-color .4s linear, height .15s linear, top .15s linear;
    }
}

@media screen and (max-width: 1204px) {
    div.column div.builder-banner-content {
        font-size: 1.3278vw;
        line-height: 1.79253vw;
        &:hover {
            font-size: 1.7704vw;
            line-height: 2.39004vw;
        }
        &:hover ~ div.builder-banner-overlay {
            top: ~"calc(100% - 4.78008vw - 1.66vw)";
            height: ~"calc(4.78008vw + 1.66vw)";
        }
    }    
    
//    div.column div.builder-banner-overlay {
//        top: ~"calc(100% - 3.58506vw - 1.66vw)";
//        height: ~"calc(3.58506vw + 1.66vw)";
//    }
        
    div.column div.builder-banner-inner-content p {
        padding: 1.0vw;
        &:last-child:not(.no-bottom-pad) {
            padding-bottom: 1.0vw;
        }
    }
}

@media screen and (max-width: 791px) {
    div.column div.builder-banner-content {
        font-size: 12px;
        line-height: 16.2px;
        &:hover {
            font-size: 14px;
            line-height: 18.9px;
        }
    }    
//    div.column div.builder-banner-overlay {
//        height: auto;
//    }
}

@media screen and (min-width: 906px) {
    div.readability-controlled {
/*      margin-right: auto;
        margin-left: auto; */
        width: 70%;
    }
}
