/** ┌──────────────────────────────────────────────────────────────────────────────────────────────┐
*** │ FILENAME: section.less                                                                       │
*** │                                                                                              │
*** │ SUMMARY: Functional CSS associated with font usage on websites of WSU units and programs     │
*** │   belonging to DAESA.                                                                        │
*** │                                                                                              │
*** │ DESCRIPTION: Comprised of functional CSS associated with font usage on WSU Office of         │
*** │   Undergraduate Education web pages built using the builder template of the Spine parent     │
*** │   theme of WSUWP. Styles are designed to accompany or supersede styling associated with      │
*** │   the theme.                                                                                 │
*** │                                                                                              │
*** │ AUTHOR: Daniel Rieck <daniel.rieck@wsu.edu> (https://github.com/invokeImmediately)           │
*** └──────────────────────────────────────────────────────────────────────────────────────────────┘
***  TABLE OF CONTENTS:
***  ────────────────────────────────────────────────────────────────────────────────────────────
***  §1: Default & sans font families..........................................................24
***  §2: Serif font family.....................................................................33
***  §3: Condensed font families...............................................................44
***  §4: Monospaced font families..............................................................55
***  ───────────────────────────────────────────────────────────────────────────────────────────────
**/

/** ================================================================================================
*** §1: Default & sans font families
**/

.has-dflt-font,
.ff--sans {
	font-family: 'Open Sans', 'Lucida Sans', 'Lucida Grande', sans-serif;
}

/** ================================================================================================
*** §2: Serif font family
**/

.has-dflt-font.serif,
.ff--serif,
.has-subst-font.serif,
.ff--serif-2 {
	font-family: 'Cormorant Garamond', 'Palatino', serif;
}

/** ================================================================================================
*** §3: Condensed font families
**/

.has-alt-font,
.ff--condensed,
.has-subst-font,
.ff--condensed-2 {
	font-family: 'Roboto Condensed', 'Arial Narrow', sans-serif;
}

/** ================================================================================================
*** §4: Monospaced font families
**/

.has-mono-font,
.ff--mono {
	font-family: 'Roboto Mono', monospace, sans-serif;
}
