/*!     ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
*       │ ++++ H1-H6 & HEADER rulesets ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
*       └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘
*/
//        ┌-----------------------------------------------------------------------------------------------------------┐
//        │ AUTHOR: Daniel Rieck <daniel.rieck@wsu.edu> (https://github.com/invokeImmediately)                        │
//        │                                                                                                           │
//        │ DESCRIPTION: Contains rule-sets for styling elements associated with input forms on OUE website pages     │
//        │              built using the WSU Spine theme for WordPress.                                               │
//        │                                                                                                           │
//        │ DEPENDENCIES: This file assumes the following LESS files have been imported upstream:                     │
//        │   • //github.com/invokeImmediately/WSU-UE---CSS/animations.less                                           │
//        │   • //github.com/invokeImmediately/WSU-UE---CSS/color-palette.less                                        │
//        │   • //github.com/invokeImmediately/WSU-UE---CSS/mixins.less                                               │
//        │   • //github.com/invokeImmediately/WSU-UE---CSS/variables.less                                            │
//        └-----------------------------------------------------------------------------------------------------------┘

.declare-heading-and-header-rulesets(@grid-behavior) when (@grid-behavior = "hybrid") {

//        ┌-----------------------------------------------------------------------------------------------------------┐
//        │ ···· h1 selectors ······················································································· │
//        └-----------------------------------------------------------------------------------------------------------┘

	h1 {
		.column & {
			&:extend(.has-dflt-font);
			padding-bottom: 0;
			margin-top: 1.5rem;
			margin-bottom: .75rem;
			font-size: @v-h1-sz;
			.has-responsive-font(@v-h1-sz, @v-hX-lnhght, @v-fnt-sclng-fctrs-alt);
			font-weight: 900;
			text-transform: uppercase;
			color: @hex-darker-gray;
			&.centered {
				text-align: center;
			}
		}
		.column &:first-child,
		.column header:first-child + & {
			margin-top: 0;
		}
	}

//        ┌-----------------------------------------------------------------------------------------------------------┐
//        │ ···· h2 selectors ······················································································· │
//        └-----------------------------------------------------------------------------------------------------------┘

	h2 {
		.column & {
			&:extend(.has-dflt-font);
			padding: 0 0 0 .1em;
			margin-top: 1.5rem;
			margin-bottom: .75rem;
			margin-left: -.1em;
			font-size: @v-h2-sz;
			.has-responsive-font(@v-h2-sz, @v-hX-lnhght, @v-fnt-sclng-fctrs-alt);
			line-height: 1.375em;
			font-weight: 800;
			color: @hex-darker-gray;
			text-transform: uppercase;
			&.article-title {
				.has-responsive-font((@v-h2-sz * 0.4), @v-hX-lnhght);
			}
			&.centered {
				text-align: center;
			}
			&.narrower-top-margin {
				margin-top: 1.25rem;
			}
			&.no-top-margin {
				margin-top: 0;
			}
		}
		.column &.fancy,
		.column &.solid,
		.column.show-header.has-fancy-header > header:first-child > & {
			position: relative;
			padding: (@v-dflt-spcng / 6) (@v-dflt-spcng / 4) (@v-dflt-spcng * 11 / 40);
			margin-left: (-1 * @v-dflt-spcng / 4);
			margin-bottom: (@v-dflt-spcng / 2);
			margin-right: (-1 * @v-dflt-spcng / 4);
			& { background-color: @rgba; .getRgbaStr(@hex-dark-gray, 0.2); }
			& { .rgb-dark-gray(); background: linear-gradient(to right,
				transparent,
				rgba(@rval, @gval, @bval, 0.075) 5%,
				rgba(@rval, @gval, @bval, 0.075) 50%,
				rgba(@rval, @gval, @bval, 0.225)
			); }
			& { border-bottom: 2px solid @rgba; .getRgbaStr(@hex-dark-gray, 0.075); }
		}
		.column &.fancy.with-top-border,
		.column &.solid,
		.column.show-header.has-fancy-header > header:first-child > & {
			padding-top: 0.5rem;
			&:not(:first-child) {
				margin-top: @v-dflt-spcng;
			}
			&::before {
				content: "";
				position: absolute;
					top: 0;
					left: 0;
				width: 100%;
				height: 0;
				.rgb-darker-gray(); border-top: 1px solid rgba(@rval,@gval,@bval,0.6667);
				 border-bottom: 1px solid rgba(@rval,@gval,@bval,0.3333);
				border-top-width: 2px;
			}
		}
		.column &:first-child,
		.column header:first-child + &,
		.column header:first-child + &.fancy.with-top-border:not(:first-child) {
			margin-top: 0;
		}
		.column h1 + & {
			font-style: italic;
		}
		.column hr:not(.subSection) + h2 {
			margin-top: 0;
		}
	}

	// TODO: move to hyperlink.less
	h2.article-title a {
		border-bottom: none;
	}

//        ┌-----------------------------------------------------------------------------------------------------------┐
//        │ ···· h3 selectors ······················································································· │
//        └-----------------------------------------------------------------------------------------------------------┘

	h3 {
		.column & {
			&:extend(.has-dflt-font);
			padding: 0 0 0 .1em;
			margin-top: 1.5rem;
			margin-bottom: .75rem;
			margin-left: -.1em;
			font-size: @v-h3-sz;
			.has-responsive-font(@v-h3-sz, @v-hX-lnhght, @v-fnt-sclng-fctrs-alt);
			font-weight: 600;
			text-transform: uppercase;
			color: @hex-crimson;
			&.centered {
				text-align: center;
			}
			&.gray {
				color: @hex-darker-gray;
			}
			&.no-top-margin {
				margin-top: 0;
			}
		}
		.column &.lowercase,
		.column.show-header.has-lowercase-header > header:first-child > & {
			text-transform: none;
		}
		.column &.fancy,
		.column &.solid,
		.column.show-header.has-fancy-header > header:first-child > & {
			position: relative;
			padding: (@v-dflt-spcng / 6) (@v-dflt-spcng / 4) (@v-dflt-spcng * 9 / 40) 0;
			margin-left: 0;
			margin-bottom: (@v-dflt-spcng / 2);
			margin-right: 0;
			& { background-color: @rgba; .getRgbaStr(@hex-light-crimson, 0.075); }
			& { .rgb-light-crimson(); background: linear-gradient(to right,
				transparent,
				rgba(@rval, @gval, @bval, 0.075) 5%,
				rgba(@rval, @gval, @bval, 0.075) 50%,
				rgba(@rval, @gval, @bval, 0.225)
			); }
			& { border-bottom: 2px solid @rgba; .getRgbaStr(@hex-light-crimson, 0.075); }
		}
		.column &.fancy.with-top-border,
		.column &.solid,
		.column.show-header.has-fancy-header > header:first-child > & {
			padding-top: 0.4375rem;
			&:not(:first-child) {
				margin-top: @v-dflt-spcng;
			}
			&::before {
				content: "";
				position: absolute;
					top: 0;
					left: 0;
				width: 100%;
				height: 0;
				.rgb-crimson(); border-top: 1px solid rgba(@rval,@gval,@bval,0.67);
				 border-bottom: 1px solid rgba(@rval,@gval,@bval,0.375);
			}
		}		
		.column &:first-child,
		.column header:first-child + &,
		.column header:first-child + &.fancy.with-top-border:not(:first-child),
		.column hr:not(.subSection) + &
		{
			margin-top: 0;
		}
	}

//        ┌-----------------------------------------------------------------------------------------------------------┐
//        │ ···· h4 selectors ······················································································· │
//        └-----------------------------------------------------------------------------------------------------------┘

	h4 {
		.column & {
			&:extend(.has-dflt-font);
			padding: 0;
			margin-top: 1rem;
			margin-bottom: .5rem;
			font-size: @v-h4-sz;
			.has-responsive-font(@v-h4-sz, @v-h4-lnhght, @v-fnt-sclng-fctrs-alt);
			font-weight: 600;
			color: @hex-crimson;
			&.centered {
				text-align: center;
			}
			&.fancy {
				&:extend(.column h3.fancy all);
			}
			&.gray {
				color: @hex-darker-gray;
			}
		}
		.column &:first-child,
		.column header:first-child + &,
		.column hr:not(.subSection) + &
		{
			margin-top: 0;
		}
	}

//        ┌-----------------------------------------------------------------------------------------------------------┐
//        │ ···· hN selectors ······················································································· │
//        └-----------------------------------------------------------------------------------------------------------┘

	.column {
		h1.crimson, h2.crimson {
			color: @hex-crimson;
		}
	}

	section {
		&.side-right, &.row.side-right {
			.column.one h2.fancy, .column.one h3.fancy {
				@media all and (min-width: (@v-rghtclmn-thrshld + 1)) {
					margin-right: 0;
				}
			}
		}
	}

	header.article-header {
		body.blog .column & + * {
			padding-top: 15px;
			border-top: 1px solid rgba(127,127,127,0.2);
		}
		.column & h1.article-title,
		.column & h2.article-title {
			.has-responsive-font((@v-p-sz * 1.5), @v-hX-lnhght);
		}
	}

//        ┌-----------------------------------------------------------------------------------------------------------┐
//        │ ···· header selectors ··················································································· │
//        └-----------------------------------------------------------------------------------------------------------┘

	header.main-header {
		.sup-header-default {
			margin-bottom: .5rem;
			.has-responsive-font(0.9rem, false, @v-fnt-sclng-fctrs-alt-2);
		}
		.sub-header-default,
		.sub-header {
			.has-responsive-font((2.5rem * 16 / 17), 0.9em, @v-fnt-sclng-fctrs-alt-2);
		}
		&.centered {
			@media all {
				@media (min-width: @v-lrgfrmt-thrshld) {
					text-align: center;
				}
				@media (min-width: (@v-spn-thrshld + 1)) and (max-width: (@v-lrgfrmt-thrshld - 1)) {
					text-align: left;
				}
				@media (min-width: (@v-tblt-thrshld + 1)) and (max-width: @v-spn-thrshld) {
					text-align: center;
				}
				@media (max-width: @v-tblt-thrshld) {
					text-align: left;
				}
			}
		}
		.header-group { text-align: inherit; }
		.header-group.centered {
			@media all {
				@media (min-width: @v-lrgfrmt-thrshld) {
					width: 100%;
					left: 50%;
					.transform(~"translateX(-50%)");
				}
				@media (min-width: (@v-tblt-thrshld + 1)) and (max-width: @v-spn-thrshld) {
					width: 100%;
					left: 50%;
					.transform(~"translateX(-50%)");
				}
			}
		}
	}

//        ┌-----------------------------------------------------------------------------------------------------------┐
//        │ ···· <header><h2>…</h2></header> selectors ······························································ │
//        └-----------------------------------------------------------------------------------------------------------┘

	.column {
		&:not(.show-header) > header:first-child {
			display: none;
		}
		header:first-child + h1, header:first-child + h2.fancy.with-top-border,
		 header:first-child + h3.fancy.with-top-border {
			margin-top: 0;
		}
	}
}
.declare-heading-and-header-rulesets(@grid-behavior);

//        ┌-----------------------------------------------------------------------------------------------------------┐
//        │ ···· OPTIONAL LAYOUT: Sectional article headers ························································· │
//        └-----------------------------------------------------------------------------------------------------------┘

.use-sectional-article-headers() {
	.page.has-short-main-header {
		.main-header {
			height: 85px;
			& > .header-group {
				padding-bottom: 1em !important;
			}
		}
		.row.halves.article-header,
		.row.single.article-header {
			position: relative;
			&.gutter .column:not(.gutterless) {
				padding-left: 0;
				padding-right: 0;
			}
			&.pad-top .column {
				padding-top: 0;
			}
		}
		.row.halves.article-header {
			height: 230px;
			.column {
				&.one {
					position: absolute;
					right: 40%;
					left: 0;
					width: auto;
					height: 100%;			
					padding-left: 0;
					padding-right: 0;			
					background: @hex-dark-gray;
					& > :first-child,
					header:first-child + * {
						position: absolute;
						top: 50%;
						right: @v-dflt-spcng;
						left: @v-dflt-spcng;
						.transform(~"translateY(-50%)");
						@media all and (max-width: @v-rghtclmn-thrshld) {
							right: (@v-dflt-spcng / 2);
							left: (@v-dflt-spcng / 2);
						}
					}
					h1 {
						margin-top: 0;
						color: @hex-white;
						@media all and (max-width: @v-rghtclmn-thrshld) {
							font-size: 6.5vw;
						}
					}
					p.parent-page {
						margin-bottom: 0.125em;
						color: @hex-bright-gray;
						@media all and (max-width: @v-rghtclmn-thrshld) {
							font-size: 3.25vw;
						}
					}
					& > :not(:first-child):not(header:first-child + *) {
						display: none;
					}
					& > :not(h1):not(div) {
						display: none;
					}
				}
				&.two {
					position: absolute;
					right: 0;
					left: 60%;
					width: auto;
					height: 100%;
					background-color: @hex-gray;
					background-position: center center;
					background-size: cover;
				}
				&.one, &.two {
					@media all and (max-width: @v-rghtclmn-thrshld) {
						float: left;
						clear: none;
					}
				}
			}
		}
		.row.single.article-header {
			height: 340px;
			.column {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: @hex-gray;
				background-position: center center;
				background-size: cover;
				&.show-header > header {
					box-sizing: border-box;
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					padding: 2rem 2rem 0;
					@media all {
						@media (max-width:@v-lg-mbl-thrshld) {
							padding-left: .5rem;
							padding-right: .5rem;
						}
					} 
					& > * {
						//@v-fnt-sclng-hdr: 1.0, 1.0, 1.0, 1.0, 0.814286, 0.714286;
						@v-fnt-sclng-hdr: 1.0, 1.0, 1.0, 1.0, 0.714286, 0.510204489796;
						color: @hex-white;
						padding: 0.25em;
						margin: 0;
						.has-responsive-font(3.3rem, 0.9em, @v-fnt-sclng-hdr);
						& { text-shadow: 1px 1px 8px @rgba; .getRgbaStr(@hex-black, 0.75); }
						& { background-color: @rgba; .getRgbaStr(@hex-black, 0.75); }
						.subtitle {
							display: block;							
							font-size: 0.5em;
							padding: 0.25em;
							margin-top: 0.25em;
							line-height: 1.1em;
							text-transform: none;
							& { background-color: @rgba; .getRgbaStr(@hex-black, 0.75); }
						}
					}
				}
			}
		}
	}
}
