// ┌─────────────────────────────────────────────────────────────────────────────────────────────────────────┐
// │ ++++++++ H1-H6 & HEADER selectors +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
// ├─────────────────────────────────────────────────────────────────────────────────────────────────────────┤
// │ Styling for h1-h6 and header elements within WSU Office of Undergraduate Education websites             │
// │ built using the WSU Spine theme for WordPress.                                                          │
// │  ╘═» This file assumes [//github.com/invokeImmediately/WSU-UE---CSS/color-palette.less] has             │
// │       already been imported.                                                                            │
// ├---------------------------------------------------------------------------------------------------------┤
// │ ···· Remove all <header><h2>…</h2></header> inserted by the WSU Spine Page Builder Template ··········· │
div.column {
    & > header:first-child {
        display: none;
    }
}
// ├---------------------------------------------------------------------------------------------------------┤
// │ ···· <h1>…</h1> selectors ············································································· │
div.column {
    h1 {
        &:extend(.has-dflt-font);
        padding-bottom: 0;
        margin-top: 1.5rem;
        margin-bottom: .75rem;
        font-size: @v-p-sz * 3;
        @media all {
            @media (min-width: (@v-mbl-thrshld + 1)) and (max-width: (@v-lrgfrmt-thrshld - 1)) {
                font-size: @v-p-sz * 3 * @v-scl-dwn;
            }
            @media (max-width: @v-mbl-thrshld) {
                font-size: @v-p-sz * 3 * @v-scl-dwn * @v-scl-dwn;
            }
        }
        font-weight: 900;
        text-transform: uppercase;
        color: @hex-darker-gray;
        &:first-child {
            margin-top: 0;
        }
        &+h2 {
            font-style: italic;
        }
        &.centered {
            text-align: center;
        }
    }
    header:first-child + h1 {
        margin-top: 0;
    }
}
// ├---------------------------------------------------------------------------------------------------------┤
// │ ···· <h2>…</h2> selectors ············································································· │
div.column {
    h2 {
        &:extend(.has-dflt-font);
        padding: 0 0 0 .1em;
        margin-top: 1.5rem;
         margin-bottom: .75rem;
         margin-left: -.1em;
        font-size: @v-p-sz * 2.2;
        @media all {
            @media (min-width: (@v-mbl-thrshld + 1)) and (max-width: (@v-lrgfrmt-thrshld - 1)) {
                font-size: @v-p-sz * 2.2 * @v-scl-dwn;
            }
            @media (max-width: @v-mbl-thrshld) {
                font-size: @v-p-sz * 2.2 * @v-scl-dwn * @v-scl-dwn;
            }
        }
        line-height: 1.375em;
        font-weight: 800;
        color: @hex-darker-gray;
        text-transform: uppercase;
        &.fancy {
            position: relative;
            padding: 0.3333rem 0.5rem;
            margin-left: -0.5rem;
            margin-bottom: (@v-dflt-spcng / 2);
            margin-right: -0.5rem;
            .rgb-dark-gray(); background-color: rgba(@rval, @gval, @bval, 0.2);
            &.with-top-border {
                padding-top: 0.5rem;
                &:not(:first-child) {
                    margin-top: @v-dflt-spcng;
                }
                &::before {
                    content: "";
                    position: absolute;
                        top: 0;
                        left: 0;
                    width: 100%;
                    height: 0;
                    .rgb-darker-gray(); border-top: 1px solid rgba(@rval,@gval,@bval,0.6667);
                     border-bottom: 1px solid rgba(@rval,@gval,@bval,0.3333);
                    border-top-width: 2px;
                }
            }
        }
        &.centered {
            text-align: center;
        }
        &.narrower-top-margin {
            margin-top: 1.25rem;
        }
        &.no-top-margin {
            margin-top: 0;
        }
        &.article-title {
            @media all {
                @media (max-width: 480px) {
                    font-size: 1.3125rem;
                }
                @media (max-width: 1208px) and (min-width: 481px) {
                    font-size: 1.5rem;
                }
            }
        }
        &:first-child {
            margin-top: 0;
        }
    }
    hr:not(.subSection) + h2 {
        margin-top: 0;
    }
}

h2.article-title a {
    border-bottom: none;
}
// ├---------------------------------------------------------------------------------------------------------┤
// │ ···· <h3>…</h3> selectors ············································································· │
div.column {
    h3 {
        &:extend(.has-dflt-font);
        padding: 0 0 0 .1em;
        margin-top: 1.5rem;
        margin-bottom: .75rem;
        margin-left: -.1em;
        font-size: @v-p-sz * 1.7;
        @media all {
            @media (min-width: (@v-mbl-thrshld + 1)) and (max-width: (@v-lrgfrmt-thrshld - 1)) {
                font-size: @v-p-sz * 1.7 * @v-scl-dwn;
            }
            @media (max-width: @v-mbl-thrshld) {
                font-size: @v-p-sz * 1.7 * @v-scl-dwn * @v-scl-dwn;
            }
        }
        font-weight: 600;
        text-transform: uppercase;
        color: @hex-crimson;
        &.no-top-margin {
            margin-top: 0;
        }
        &.fancy {
            position: relative;
            padding: 0.3333rem 0.5rem;
            margin-left: 0;
            margin-bottom: (@v-dflt-spcng / 2);
            margin-right: 0;
            .rgb-light-crimson(); background-color: rgba(@rval, @gval, @bval, 0.075);
            &.with-top-border {
                padding-top: 0.4375rem;
                &:not(:first-child) {
                    margin-top: @v-dflt-spcng;
                }
                &::before {
                    content: "";
                    position: absolute;
                        top: 0;
                        left: 0;
                    width: 100%;
                    height: 0;
                    .rgb-crimson(); border-top: 1px solid rgba(@rval,@gval,@bval,0.67);
                     border-bottom: 1px solid rgba(@rval,@gval,@bval,0.375);
                 }
            }
        }
        &.centered {
            text-align: center;
        }
        &:first-child {
            margin-top: 0;
        }
    }
    hr:not(.subSection) + h3 {
        margin-top: 0;
    }
}
// ├---------------------------------------------------------------------------------------------------------┤
// │ ···· <h4>…</h4> selectors ············································································· │
div.column {
    h4 {
        &:extend(.has-dflt-font);
        padding: 0;
        margin-top: 1rem;
        margin-bottom: .5rem;
        font-size: @v-p-sz * 1.4;
        line-height: 1.2em;
        @media all {
            @media (min-width: (@v-mbl-thrshld + 1)) and (max-width: (@v-lrgfrmt-thrshld - 1)) {
                font-size: @v-p-sz * 1.4 * @v-scl-dwn;
            }
            @media (max-width: @v-mbl-thrshld) {
                font-size: @v-p-sz * 1.4 * @v-scl-dwn * @v-scl-dwn;
            }
        }
        font-weight: 600;
        color: @hex-crimson;
        &:first-child {
            margin-top: 0;
        }
        &.centered {
            text-align: center;
        }
    }
}
// ├---------------------------------------------------------------------------------------------------------┤
// │ ···· <hN>…</hN> selectors ············································································· │
div.column {
    h3.gray, h4.gray {
        color: @hex-darker-gray;
    }
    h1.crimson, h2.crimson {
        color: @hex-crimson;
    }
}

section {
    &.side-right, &.row.side-right {
        div.column.one h2.fancy, div.column.one h3.fancy {
            @media all and (min-width: (@v-rghtclmn-thrshld + 1)) {
                margin-right: 0;
            }
        }
    }
}

div.column {
    header.article-header {
        h1.article-title, h2.article-title {
            font-size: (@v-p-sz * 2);
            @media all {
                @media (min-width: (@v-mbl-thrshld + 1)) and (max-width: (@v-lrgfrmt-thrshld - 1)) {
                    font-size: (@v-p-sz * 2 * @v-scl-dwn);
                }            
                @media (max-width: @v-mbl-thrshld) {
                        font-size: (@v-p-sz * 2 * @v-scl-dwn * @v-scl-dwn);
                }
            }
        }
    }
}

// ├---------------------------------------------------------------------------------------------------------┤
// │ ···· <header>…<header> selectors ······································································ │
header.main-header {
    span.sup-header-default {
        margin-bottom: .5rem;
        font-size: .9rem;
        @media all {
            @media (max-width: @v-mbl-thrshld) {
                font-size: .75rem;
            }
        }
    }
    span.sub-header-default {
        @media all {
            font-size: 2.5rem;
            line-height: 0.8em;
            @media (max-width: @v-mbl-thrshld) {
                font-size: 2.08333rem;
                line-height: 1em;
            }
//            @media (min-width: 494px) {
//                @media (max-width: 561px) {
//                    font-size: 1.3rem;
//                    line-height: 1em;
//                }
//            }
        }
    }
    sub.sub-header {
        @media all {
            font-size: 2.5rem;
            line-height: 0.8em;
            @media (max-width: @v-mbl-thrshld) {
                font-size: 2.08333rem;
                line-height: 1em;
            }
//            @media (min-width: 494px) and (max-width: 561px) {
//                font-size: 1.3rem;
//                line-height: 1em;
//            }
        }
    }
    &.centered {
        @media (min-width: @v-lrgfrmt-thrshld) {
            text-align: center;
        }
    }
    div.header-group.centered {
        @media (min-width: @v-lrgfrmt-thrshld) {
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
             -webkit-transform: translateX(-50%);
             -ms-transform: translateX(-50%);
        }
    }
}
// └─────────────────────────────────────────────────────────────────────────────────────────────────────────┘
