/*     ┌─────────────────────────────────────────────────────────────────────────────────────────────────┐
 *     │ ++++ IMG selectors ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
 *     └─────────────────────────────────────────────────────────────────────────────────────────────────┘
 */
.setup-autoscaled-classes(@scaling-factor) when (isnumber(@scaling-factor)) and (@scaling-factor > 0) {
    &.autoScaledTo@{scaling-factor},
	&.auto-scaled.to-@{scaling-factor} {
        width: "@{scaling-factor}%";
    }	
	.setup-autoscaled-classes((@scaling-factor - 10));
}

img {
	height: auto;
    &.autoScaled,
	&.auto-scaled {
        width: 100%;
    }
    &.autoScaled-byHeight {
        height: 100%;
        width: auto;
    }
	.setup-autoscaled-classes(90);
    &.autoScaledToHalf {
        width: 50%;
    }
    &.autoScaledToThird
	&.auto-scaled.to-33 {
        width: 33%;
    }
    &.autoScaledToQuarter
	&.auto-scaled.to-25 {
        width: 25%;
    }
	&.width-fixed {
		width: 192px;
		&.to-96 {
			width: 96px;
		}
		&.to-128 {
			width: 128px;
		}
		&.to-160 {
			width: 160px;
		}
		&.to-192 {
			width: 192px;
		}
		&.to-224 {
			width: 224px;
		}
		&.to-256 {
			width: 256px;
		}
	}
    &.shiftToCenter, &.shift-to-center {
        &:extend(.margin-centered);
        display: block;
    }
    &.shiftToLeft, &.shift-to-left {
        float: left;
    }
    &.shiftToRight, &.shift-to-right {
        float: right;
    }
    &.fancy {
        .rgb-dark-gray(); border: 1px solid rgba(@rval,@gval,@bval,.5);
        .rgb-black(); box-shadow: 2px 2px 2px rgba(@rval,@gval,@bval,0.5);
    }
    &.symbolic-image {
        float: right;
        width: 144px;
        height: auto;
        margin-left: 20px;
        margin-bottom: 15px;
        .rgb-dark-gray(); border: 1px solid rgba(@rval,@gval,@bval,.5);
        .rgb-black(); box-shadow: 2px 2px 2px rgba(@rval,@gval,@bval,0.5);
        @media screen {
            @media (max-width: (@v-lrgfrmt-thrshld - 1)) {
                img.symbolic-image {
                    width: 96px;
                }
            }
        }
    }
}

figure {
	figcaption {
		font-size: 0.85em;
		text-align: center;
	}
}