/** ┌────────────────────────────────────────────────────────────────────────────────────────────┐
*** │ FILENAME: lists.less                                                                       │
*** │                                                                                            │
*** │ AUTHOR: Daniel Rieck <daniel.rieck@wsu.edu> (https://github.com/invokeImmediately)         │
*** │                                                                                            │
*** │ DESCRIPTION: Encompasses styles for elements associated with form nodes within OUE pages   │
*** │   built using the WSU Spine theme for WordPress. Styles are designed to accompany or       │
*** │   supersede styling associated with the Spine parent theme.                                │
*** └────────────────────────────────────────────────────────────────────────────────────────────┘
**/

/** ================================================================================================
*** SEMANTIC CSS FOR STYLING OUE LISTS
**/

/**   ──────────────────────────────────────────────────────────────────────────────────────────────
***   TABLE OF CONTENTS:
***   ───────────────────────────────────────────────────────────────────────────────────────────
***   §1: Unordered lists......................................................................28
***   §2: Ordered lists.......................................................................181
***   §3: Definition lists lists..............................................................226
***   ──────────────────────────────────────────────────────────────────────────────────────────────
**/

@oue-lists-ruleset: {

/**   ----------------------------------------------------------------------------------------------
***   §1: Unordered lists
**/

	ul {
		.font-size(@fSize-1000mx);
		.line-height(@lHeight-1000mx);
		max-width: 80ch;
	}

	#wpadminbar ul {
		max-width: none;
	}

	.column ul {
		padding-bottom: 0;
		padding-right: 0;

		ol,
		ul {

			font-size: inherit  !important;
		}

		li {
			line-height: inherit;
		}

	}

	.column * + ul {
		margin-top: extract(@mSize-array, @mSize-1000mx);
	}

	.column p + ul {
		margin-top: extract(@mSize-array, @mSize-500mx);
	}

	ul.content-boxes {
		.font-size(@fSize-925mx);
		.line-height(@lHeight-1000mx);
		padding-left: 0;
		padding-right: 0;

		& > li {
			list-style-type: none;
			position: relative;

			@media all and (max-width: @background-width-threshold) {
				overflow-x: auto;
			}

			p {
				&.email {
					font-size: 0.9em;
					font-weight: bold;
				}
			}

			& > img {
				left: 10px;
				left: ~"calc(.5rem + 10px)";
				position: absolute;
				top: 24px;
				top: ~"calc(1rem + 7px)";
				width: 106px;

				@media all and (max-width: @large-mobile-screen-width) {
					left: ~"calc(.5rem + 7px)";
					width: 84px;
				}
			}

			& > .content {
				left: 121px;
				min-width: 189px;
				padding: 0 0 10px 0;
				position: relative;
				width: ~"calc(100% - 136px)";

				@media all and (max-width: @large-mobile-screen-width) {
					left: 99px;
				}
			}

			& + li {
				margin-top: @v-dflt-spcng;
			}

		}

	}

	ul.external-links li {
		list-style-image: url(/wp-content/uploads/sites/906/2015/08/external-link-bullet.png);
	}

	ul.cascaded-layout {
		@media print {
			&[style] {
				height: auto !important;
			}
		}

		& > li {
			list-style-type: none;

			@media print {
				display:block !important;
				float: left;
				left:0 !important;
				position: relative !important;
				top: auto !important;
				width: 100% !important;
			}

			&.cascade-sizer, &.gutter-sizer {
				background: none !important;
				border: none !important;
				box-shadow: none !important;
				height: 0 !important;
				min-height: 0 !important;
				padding: 0 !important;
			}

			&.gutter-sizer {
				width: 2% !important;
			}
		}

		&.blank {
			font-size: 1rem !important;
			margin-top: @v-btm-mrgns !important;
			padding: 0;

			& > li {
				float: left;
				list-style-type: none;
				margin-bottom: 3%;
				width: 48.5%;

				@media all {
					@media (max-width: @column-floating-threshold) {
						width: 96%;
						margin-bottom: 6%;
					}

					@media (max-width: @background-width-threshold) {
						overflow-x: visible;
					}

				}

				& + li {
					margin-top: 0;
				}

				&.gutter-sizer {
					width: 3% !important;
				}
			}
		}
	}

/**   ----------------------------------------------------------------------------------------------
***   §2: Ordered lists
**/

	ol {
		.font-size(@fSize-1000mx);
		.line-height(@lHeight-1000mx);
		max-width: 80ch;
	}

	#wpadminbar ol {
		max-width: none;
	}

	.column ol {
		padding-right: 0;
		padding-bottom: 0;

		li {
			line-height: inherit;
		}

		ol,
		ul {
			font-size: inherit !important;
		}

		ol {
			list-style-type: lower-alpha;

			ol {
				list-style-type: lower-roman;
			}
		}
	}

	.column * + ol {
		margin-top: extract(@mSize-array, @mSize-1000mx);
	}

	.column p + ol {
		margin-top: extract(@mSize-array, @mSize-500mx);
	}


/**   ----------------------------------------------------------------------------------------------
***   §3: Definition lists
**/

	.column dl.faq {
		position: relative;

		dt {
			background-color: @hex-lighter-gray;
			border: 1px solid @hex-lighter-gray-mnchrmtc-shftd-drkr;
			cursor: pointer;
			.font-size(@fSize-1000mx);
			font-weight: normal;
			.line-height(@lHeight-1000mx);
			margin: 5px 0;
			padding: 5px 40px 5px 10px;
			position: relative;
			width: calc(~"100% - 52px");
			.transition(~"all 0.25s linear");

			&:after {
				border-bottom: none;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				border-top: 8px solid @hex-dark-gray;
				content: "";
				height: 0; 
				position: absolute;
				right: 10px;
				top: 50%;
				width: 0; 
				.transform(~"translateY(-50%)");
				.transition(~"all 0.3s ease");
			}

			&:hover {
				background-color: @hex-dark-gray;
				color: @hex-white;

				&:after {
					border-top: 8px solid @hex-white;
					border-right: 8px solid transparent;
					border-bottom: none;
					border-left: 8px solid transparent;
				}
			}

			&.activated {
				background-color: @hex-lghtr-gry-0pt2-crmsn;
				color: @hex-darker-gray;
				border-color: @hex-drknd-lghtr-gry-0pt2-crmsn;

				&:after {
					border-top: none;
					border-right: 8px solid transparent;
					border-bottom: 8px solid @hex-dark-gray;
					border-left: 8px solid transparent;
				}

				&:hover {
					background-color: @hex-drk-gry-0pt2-crmsn;
					color: @hex-white;

					&:after {
						border-top: none;
						border-right: 8px solid transparent;
						border-bottom: 8px solid @hex-white;
						border-left: 8px solid transparent;
					}
				}
			}
		}

		&.blue dt {
			background-color: @hex-lightest-blue-mnchrmtc-shftd-lghtr;
			border-color: @hex-lightest-blue-mnchrmtc-shftd-drkr;			
			&:hover {
				background-color: @hex-dark-blue;
			}

			&.activated {
				background-color: @hex-lghtr-gry-0pt2-crmsn;
				border-color: @hex-drknd-lghtr-gry-0pt2-crmsn;

				&:hover {
					background-color: @hex-drk-gry-0pt2-crmsn;
				}
			}
		}

		dd {
			display: block;
			margin-top: 0;
			max-height: 0;
			opacity: 0;
			overflow: hidden;
			padding-right: @v-btm-mrgns;
			padding-left: @v-btm-mrgns;
			.transition(~"margin 0.4s cubic-bezier(.02, .01, .47, 1), opacity 0.4s cubic-bezier(.02, .01, .47, 1)");

			&.revealed {
				margin-top: (@v-btm-mrgns / 4);
				margin-bottom: @v-btm-mrgns;
				opacity: 1;
			}

			& > p + p {
				margin-top: @v-btm-mrgns;
			}

			& > p + ul,
			& > p + ol {
				margin-top: (@v-btm-mrgns / 2);
			}
		}

		& > .expand-all-button,
		& > .collapse-all-button {
			display: none;
			position: absolute;
			top: 0;
			padding: 5px;
			border: 1px solid @hex-lighter-gray-mnchrmtc-shftd-drkr;
			background-color: @hex-lighter-gray;
			.has-mono-font;
			.has-responsive-font(12px, 12px, @v-fnt-sclng-fctrs-alt);
			cursor: pointer;

			&:hover {

				background-color: @hex-dark-gray;
				color: @hex-white;

			}

			.transform(~"translateY(-100%) translateY(-5px)");
			.transition(~"background-color 0.3s ease, border 0.3s ease, color 0.3s ease");

		}

		&.blue > .expand-all-button,
		&.blue > .collapse-all-button {
			background-color: @hex-lightest-blue-mnchrmtc-shftd-lghtr;
			border-color: @hex-lightest-blue-mnchrmtc-shftd-drkr;

			&:hover {
				background-color: @hex-dark-blue;
			}
		}

		& > .expand-all-button {
			left: 0;
		}

		& > .collapse-all-button {
			right: 0;
		}
	}

	.column * + dl {
		margin-top: extract(@mSize-array, @mSize-1000mx);
	}
};

.declare-ruleset(@oue-lists-ruleset, @oue-rules-wrapper);
