// ╔═════════════════════════════════════════════════════════════════════════════════════════════════════════╗ 
// ║ #### MIXINS ########################################################################################### ║
// ╠=========================================================================================================╣
// ║ DESCRIPTION: Intended for use with all elements regardless of semantics                                 ║
// ║ LAYOUT: This document is layed out according to browser rendering sequence; styles related to layout    ║
// ║          are followed by those related to painting and then dynamic changes to the DOM tree.            ║
// ╚═════════════════════════════════════════════════════════════════════════════════════════════════════════╝
//
//     ┌─────────────────────────────────────────────────────────────────────────────────────────────────┐
//     │ ++++ CONTROLLING LAYOUT +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//     │  Mixins for broadly controlling content layout.                                                 │
//     └─────────────────────────────────────────────────────────────────────────────────────────────────┘
//
.initially-hidden, 
div.column .initially-hidden {
    display: none;
}

//     ┌─────────────────────────────────────────────────────────────────────────────────────────────────┐
//     │ ++++ SPACING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//     │  Mixins for specifying margins and padding.                                                     │
//     └─────────────────────────────────────────────────────────────────────────────────────────────────┘
//
.margin-centered,
div.column .margin-centered {
    margin-right: auto;
     margin-left: auto;
}

.vrtcl-spcng-full() {
    margin-top: @v-dflt-spcng;
     margin-bottom: @v-dflt-spcng;
}

.vrtcl-spcng-less() {
    margin-top: (@v-dflt-spcng * 0.75);
     margin-bottom: (@v-dflt-spcng * 0.75);
}

.vrtcl-spcng-half() {
    margin-top: (@v-dflt-spcng / 2);
     margin-bottom: (@v-dflt-spcng / 2);
}

.spaces-top(@sclng-fctr: 1.0) {
    margin-top: (@v-dflt-spcng * @sclng-fctr);
}

.spaces-rgt(@sclng-fctr: 1.0) {
    margin-right: (@v-dflt-spcng * @sclng-fctr);
}

.spaces-btm(@sclng-fctr: 1.0) {
    margin-bottom: (@v-dflt-spcng * @sclng-fctr);
}

.spaces-lft(@sclng-fctr: 1.0) {
    margin-left: (@v-dflt-spcng * @sclng-fctr);
}

.spaces-top-nrml,
div.column .spaces-top-nrml {
    .spaces-top(@sz-xxxlrg);
}

.spaces-top-nrml,
div.column .spaces-top-nrml {
    .spaces-top;
}

.spaces-top-half,
div.column .spaces-top-half {
    .spaces-top(@sz-xsmll);
}

.spaces-top-qrtr,
div.column .spaces-top-qrtr {
    .spaces-top(@sz-xxsmll);
}

.spaces-rgt-nrml,
div.column .spaces-rgt-nrml {
    .spaces-rgt(@sz-xxxlrg);
}

.spaces-rgt-nrml,
div.column .spaces-rgt-nrml {
    .spaces-rgt;
}

.spaces-rgt-half,
div.column .spaces-rgt-half {
    .spaces-rgt(@sz-xsmll);
}

.spaces-rgt-qrtr,
div.column .spaces-rgt-qrtr {
    .spaces-rgt(@sz-xxsmll);
}

.spaces-btm-full,
div.column .spaces-btm-full {
    .spaces-btm(@sz-xxxlrg);
}

.spaces-btm-nrml,
div.column .spaces-btm-nrml {
    .spaces-btm;
}

.spaces-btm-half,
div.column .spaces-btm-half {
    .spaces-btm(@sz-xsmll);
}

.spaces-btm-qrtr,
div.column .spaces-btm-qrtr {
    .spaces-btm(@sz-xxsmll);
}

.spaces-lft-nrml,
div.column .spaces-lft-nrml {
    .spaces-lft(@sz-xxxlrg);
}

.spaces-lft-nrml,
div.column .spaces-lft-nrml {
    .spaces-lft;
}

.spaces-lft-half,
div.column .spaces-lft-half {
    .spaces-lft(@sz-xsmll);
}

.spaces-lft-qrtr,
div.column .spaces-lft-qrtr {
    .spaces-lft(@sz-xxsmll);
}

.pads-top(@sclng-fctr: 1.0) {
    padding-top: (@v-dflt-spcng * @sclng-fctr);
}

.pads-rgt(@sclng-fctr: 1.0) {
    padding-right: (@v-dflt-spcng * @sclng-fctr);
}

.pads-btm(@sclng-fctr: 1.0) {
    padding-bottom: (@v-dflt-spcng * @sclng-fctr);
}

.pads-lft(@sclng-fctr: 1.0) {
    padding-right: (@v-dflt-spcng * @sclng-fctr);
}

.pads-top-nrml,
div.column .pads-top-nrml {
    .pads-top;
}

.pads-top-half,
div.column .pads-top-half {
    .pads-top(@sz-xsmll);
}

.pads-rgt-nrml,
div.column .pads-rgt-nrml {
    .pads-rgt;
}

.pads-rgt-half,
div.column .pads-rgt-half {
    .pads-rgt(@sz-xsmll);
}

.pads-btm-nrml,
div.column .pads-btm-nrml {
    .pads-btm;
}

.pads-btm-half,
div.column .pads-btm-half {
    .pads-btm(@sz-xsmll);
}

.pads-lft-nrml,
div.column .pads-lft-nrml {
    .pads-lft;
}

.pads-lft-half,
div.column .pads-lft-half {
    .pads-lft(@sz-xsmll);
}

.generate-indents(4);

.generate-indents(@n, @i: 1) when (@i <= @n) {
    .indent-@{i}x,
	div.column .indent-@{i}x {
        padding-left: (2rem * @i);
    }
    .indent-rgt-@{i}x,
	div.column .indent-rgt-@{i}x {
        padding-right: (2rem * @i);
    }
    .generate-indents(@n, (@i + 1));
}

//     ┌─────────────────────────────────────────────────────────────────────────────────────────────────┐
//     │ ++++ TEXTUAL RENDERING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//     │  Mixins for controlling the layout, sizing, and positioning of text nodes.                      │
//     └─────────────────────────────────────────────────────────────────────────────────────────────────┘
//
.breaks-words,
div.column .breaks-words {
    word-wrap: break-word;
}

.centered,
div.column .centered,
.centers-text,
div.column .centers-text {
    text-align: center;
}

.has-centered-txt() {
    text-align: center;
}

.has-smllr-txt() {
    font-size: 0.9em;
}

.has-upprcs-txt() {
    text-transform: uppercase;
}

//     ┌─────────────────────────────────────────────────────────────────────────────────────────────────┐
//     │ ++++ BORDERING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//     │  Mixins for specifying the border around element nodes.                                         │
//     └─────────────────────────────────────────────────────────────────────────────────────────────────┘
//
.soft-gray-border,
div.column .soft-gray-border {
    .rgb-darkest-gray(); border: 1px solid rgba(@rval, @gval, @bval, 0.5);
}

.has-pull-quote-bordering {
	position: relative;
	padding-top: (@v-btm-mrgns / 3);
	padding-bottom: (@v-btm-mrgns / 3);
	margin-top: (@v-btm-mrgns / 3);	
	&:before,
	&:after {
		content: "";
		position: absolute;
		left: 50%;
		width: 90%;
		.transform(~"translateX(-50%)");
	}
	&:before {
		top: (-1 * @v-btm-mrgns / 3);
		height: 5px;
		border-top: 5px solid rgba(red(@hex-darker-gray), green(@hex-darker-gray),
					blue(@hex-darker-gray), 0.25);
	}
	&:after {
		bottom: (-1 * @v-btm-mrgns / 3);
		height: 1px;
		border-top: 1px solid rgba(red(@hex-darker-gray), green(@hex-darker-gray),
					blue(@hex-darker-gray), 0.25);
	}
}

//     ┌─────────────────────────────────────────────────────────────────────────────────────────────────┐
//     │ ++++ TYPOGRAPHY +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//     │  Mixins for specifying font sizes, line heights, etc.                                           │
//     └─────────────────────────────────────────────────────────────────────────────────────────────────┘
//
.has-responsive-font(@fntsz, @lnhght, @is-constrainted: false) when (isem(@fntsz)) and (isem(@lnhght)) and (@is-constrainted = false) {
	@media all {
		line-height: @lnhght;
		font-size: @fntsz;
		@media (min-width: @v-dsktp-thrshld) {
			font-size: (@fntsz / @v-scl-dwn);
		}
		@media (min-width: (@v-spn-thrshld + 1)) and (max-width: (@v-dsktp-thrshld - 1)) {
			font-size: @fntsz;
		}
		@media (min-width: (@v-tblt-thrshld + 1)) and (max-width: @v-spn-thrshld) {
			font-size: (@fntsz / @v-scl-dwn);
		}
		@media (min-width: (@v-lg-mbl-thrshld + 1)) and (max-width: @v-tblt-thrshld) {
			font-size: @fntsz;
		}
		@media (min-width: (@v-mbl-thrshld + 1)) and (max-width: @v-lg-mbl-thrshld) {
			font-size: (@fntsz * @v-scl-dwn);
			text-align: left;
		}
		@media (max-width: @v-mbl-thrshld) {
			font-size: (@fntsz * @v-scl-dwn * @v-scl-dwn);
			text-align: left;
		}
	}
}

.has-responsive-font(@fntsz, @lnhght, @is-constrainted: false) when (isem(@fntsz)) and (isem(@lnhght)) and (@is-constrainted = true) {
	@media all {
		line-height: @lnhght;
		font-size: @fntsz;
		@media (min-width: @v-dsktp-thrshld) {
			font-size: @fntsz;
		}
		@media (min-width: (@v-spn-thrshld + 1)) and (max-width: (@v-dsktp-thrshld - 1)) {
			font-size: @fntsz;
		}
		@media (min-width: (@v-tblt-thrshld + 1)) and (max-width: @v-spn-thrshld) {
			font-size: @fntsz;
		}
		@media (min-width: (@v-lg-mbl-thrshld + 1)) and (max-width: @v-tblt-thrshld) {
			font-size: @fntsz;
		}
		@media (min-width: (@v-mbl-thrshld + 1)) and (max-width: @v-lg-mbl-thrshld) {
			font-size: (@fntsz * @v-scl-dwn);
			text-align: left;
		}
		@media (max-width: @v-mbl-thrshld) {
			font-size: (@fntsz * @v-scl-dwn * @v-scl-dwn);
			text-align: left;
		}

	}
}

//     ┌─────────────────────────────────────────────────────────────────────────────────────────────────┐
//     │ ++++ RULESET APPLICATIONS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//     │  Mixins for applying a ruleset to lists of selectors.                                           │
//     └─────────────────────────────────────────────────────────────────────────────────────────────────┘
//
.apply-ruleset-to-selector-list(@slctr-list, @ruleset-to-apply) when (length(@slctr-list) = 1) and
 (isruleset(@ruleset-to-apply)) {
	@slctr: extract(@slctr-list,1);
	@{slctr} {
		@ruleset-to-apply();
	}
}
.apply-ruleset-to-selector-list(@slctr-list, @ruleset-to-apply) when (length(@slctr-list) = 2) and
 (isruleset(@ruleset-to-apply)) {
	@slctr-1: extract(@slctr-list,1);
	@slctr-2: extract(@slctr-list,2);
	@{slctr-1},
	@{slctr-2} {
		@ruleset-to-apply();
	}
}
.apply-ruleset-to-selector-list(@slctr-list, @ruleset-to-apply) when (length(@slctr-list) = 3) and
 (isruleset(@ruleset-to-apply)) {
	@slctr-1: extract(@slctr-list,1);
	@slctr-2: extract(@slctr-list,2);
	@slctr-3: extract(@slctr-list,3);
	@{slctr-1},
	@{slctr-2},
	@{slctr-3} {
		@ruleset-to-apply();
	}
}
.apply-ruleset-to-selector-list(@slctr-list, @ruleset-to-apply) when (length(@slctr-list) = 4) and
 (isruleset(@ruleset-to-apply)) {
	@slctr-1: extract(@slctr-list,1);
	@slctr-2: extract(@slctr-list,2);
	@slctr-3: extract(@slctr-list,3);
	@slctr-4: extract(@slctr-list,4);
	@{slctr-1},
	@{slctr-2},
	@{slctr-3},
	@{slctr-4} {
		@ruleset-to-apply();
	}
}
.apply-ruleset-to-selector-list(@slctr-list, @ruleset-to-apply) when (length(@slctr-list) = 5) and
 (isruleset(@ruleset-to-apply)) {
	@slctr-1: extract(@slctr-list,1);
	@slctr-2: extract(@slctr-list,2);
	@slctr-3: extract(@slctr-list,3);
	@slctr-4: extract(@slctr-list,4);
	@slctr-5: extract(@slctr-list,5);
	@{slctr-1},
	@{slctr-2},
	@{slctr-3},
	@{slctr-4},
	@{slctr-5} {
		@ruleset-to-apply();
	}
}
.apply-ruleset-to-selector-list(@slctr-list, @ruleset-to-apply) when (length(@slctr-list) = 6) and
 (isruleset(@ruleset-to-apply)) {
	@slctr-1: extract(@slctr-list,1);
	@slctr-2: extract(@slctr-list,2);
	@slctr-3: extract(@slctr-list,3);
	@slctr-4: extract(@slctr-list,4);
	@slctr-5: extract(@slctr-list,5);
	@slctr-6: extract(@slctr-list,6);
	@{slctr-1},
	@{slctr-2},
	@{slctr-3},
	@{slctr-4},
	@{slctr-5},
	@{slctr-6} {
		@ruleset-to-apply();
	}
}
.apply-ruleset-to-selector-list(@slctr-list, @ruleset-to-apply) when (length(@slctr-list) = 7) and
 (isruleset(@ruleset-to-apply)) {
	@slctr-1: extract(@slctr-list,1);
	@slctr-2: extract(@slctr-list,2);
	@slctr-3: extract(@slctr-list,3);
	@slctr-4: extract(@slctr-list,4);
	@slctr-5: extract(@slctr-list,5);
	@slctr-6: extract(@slctr-list,6);
	@slctr-7: extract(@slctr-list,7);
	@{slctr-1},
	@{slctr-2},
	@{slctr-3},
	@{slctr-4},
	@{slctr-5},
	@{slctr-6},
	@{slctr-7} {
		@ruleset-to-apply();
	}
}
.apply-ruleset-to-selector-list(@slctr-list, @ruleset-to-apply) when (length(@slctr-list) = 8) and
 (isruleset(@ruleset-to-apply)) {
	@slctr-1: extract(@slctr-list,1);
	@slctr-2: extract(@slctr-list,2);
	@slctr-3: extract(@slctr-list,3);
	@slctr-4: extract(@slctr-list,4);
	@slctr-5: extract(@slctr-list,5);
	@slctr-6: extract(@slctr-list,6);
	@slctr-7: extract(@slctr-list,7);
	@slctr-8: extract(@slctr-list,8);
	@{slctr-1},
	@{slctr-2},
	@{slctr-3},
	@{slctr-4},
	@{slctr-5},
	@{slctr-6},
	@{slctr-7},
	@{slctr-8} {
		@ruleset-to-apply();
	}
}
.apply-ruleset-to-selector-list(@slctr-list, @ruleset-to-apply) when (length(@slctr-list) = 9) and
 (isruleset(@ruleset-to-apply)) {
	@slctr-1: extract(@slctr-list,1);
	@slctr-2: extract(@slctr-list,2);
	@slctr-3: extract(@slctr-list,3);
	@slctr-4: extract(@slctr-list,4);
	@slctr-5: extract(@slctr-list,5);
	@slctr-6: extract(@slctr-list,6);
	@slctr-7: extract(@slctr-list,7);
	@slctr-8: extract(@slctr-list,8);
	@slctr-9: extract(@slctr-list,9);
	@{slctr-1},
	@{slctr-2},
	@{slctr-3},
	@{slctr-4},
	@{slctr-5},
	@{slctr-6},
	@{slctr-7},
	@{slctr-8},
	@{slctr-9} {
		@ruleset-to-apply();
	}
}
.apply-ruleset-to-selector-list(@slctr-list, @ruleset-to-apply) when (length(@slctr-list) = 10) and
 (isruleset(@ruleset-to-apply)) {
	@slctr-1: extract(@slctr-list,1);
	@slctr-2: extract(@slctr-list,2);
	@slctr-3: extract(@slctr-list,3);
	@slctr-4: extract(@slctr-list,4);
	@slctr-5: extract(@slctr-list,5);
	@slctr-6: extract(@slctr-list,6);
	@slctr-7: extract(@slctr-list,7);
	@slctr-8: extract(@slctr-list,8);
	@slctr-9: extract(@slctr-list,9);
	@slctr-10: extract(@slctr-list,10);
	@{slctr-1},
	@{slctr-2},
	@{slctr-3},
	@{slctr-4},
	@{slctr-5},
	@{slctr-6},
	@{slctr-7},
	@{slctr-8},
	@{slctr-9},
	@{slctr-10} {
		@ruleset-to-apply();
	}
}
