// ╔═════════════════════════════════════════════════════════════════════════════════════════════════════════╗ 
// ║ #### MIXINS ########################################################################################### ║
// ╠=========================================================================================================╣
// ║ DESCRIPTION: Intended for use with all elements regardless of semantics                                 ║
// ║ LAYOUT: This document is layed out according to browser rendering sequence; styles related to layout    ║
// ║          are followed by those related to painting and then dynamic changes to the DOM tree.            ║
// ╚═════════════════════════════════════════════════════════════════════════════════════════════════════════╝
//
//     ┌─────────────────────────────────────────────────────────────────────────────────────────────────┐
//     │ ++++ CONTROLLING LAYOUT +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//     │  Mixins for broadly controlling content layout.                                                 │
//     └─────────────────────────────────────────────────────────────────────────────────────────────────┘
//
.initially-hidden {
    display: none;
}

//     ┌─────────────────────────────────────────────────────────────────────────────────────────────────┐
//     │ ++++ SPACING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//     │  Mixins for specifying margins and padding.                                                     │
//     └─────────────────────────────────────────────────────────────────────────────────────────────────┘
//
.margin-centered {
    margin-right: auto;
     margin-left: auto;
}

.vrtcl-spcng-full() {
    margin-top: @v-dflt-spcng;
     margin-bottom: @v-dflt-spcng;
}

.vrtcl-spcng-less() {
    margin-top: (@v-dflt-spcng * 0.75);
     margin-bottom: (@v-dflt-spcng * 0.75);
}

.vrtcl-spcng-half() {
    margin-top: (@v-dflt-spcng / 2);
     margin-bottom: (@v-dflt-spcng / 2);
}

.spaces-top(@sclng-fctr: 1.0) {
    margin-top: (@v-dflt-spcng * @sclng-fctr);
}

.spaces-rght(@sclng-fctr: 1.0) {
    margin-right: (@v-dflt-spcng * @sclng-fctr);
}

.spaces-bttm(@sclng-fctr: 1.0) {
    margin-bottom: (@v-dflt-spcng * @sclng-fctr);
}

.spaces-lft(@sclng-fctr: 1.0) {
    margin-right: (@v-dflt-spcng * @sclng-fctr);
}

.spaces-top-nrml {
    .spaces-top;
}

.spaces-top-half {
    .spaces-top(@sz-xsmll);
}

.spaces-rght-nrml {
    .spaces-rght;
}

.spaces-rght-half {
    .spaces-rght(@sz-xsmll);
}

.spaces-bttm-nrml {
    .spaces-bttm;
}

.spaces-bttm-half {
    .spaces-bttm(@sz-xsmll);
}

.spaces-lft-nrml {
    .spaces-lft;
}

.spaces-lft-half {
    .spaces-lft(@sz-xsmll);
}

.pads-top(@sclng-fctr: 1.0) {
    padding-top: (@v-dflt-spcng * @sclng-fctr);
}

.pads-rght(@sclng-fctr: 1.0) {
    padding-right: (@v-dflt-spcng * @sclng-fctr);
}

.pads-bttm(@sclng-fctr: 1.0) {
    padding-bottom: (@v-dflt-spcng * @sclng-fctr);
}

.pads-lft(@sclng-fctr: 1.0) {
    padding-right: (@v-dflt-spcng * @sclng-fctr);
}

.pads-top-nrml {
    .pads-top;
}

.pads-top-half {
    .pads-top(@sz-xsmll);
}

.pads-rght-nrml {
    .pads-rght;
}

.pads-rght-half {
    .pads-rght(@sz-xsmll);
}

.pads-bttm-nrml {
    .pads-bttm;
}

.pads-bttm-half {
    .pads-bttm(@sz-xsmll);
}

.pads-lft-nrml {
    .pads-lft;
}

.pads-lft-half {
    .pads-lft(@sz-xsmll);
}

.indent-1x {
    padding-left: 2rem;
}

.indent-2x {
    padding-left: 4rem;
}

.indent-3x {
    padding-left: 6rem;
}

.indent-4x {
    padding-left: 8rem;
}

//     ┌─────────────────────────────────────────────────────────────────────────────────────────────────┐
//     │ ++++ TEXTUAL RENDERING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//     │  Mixins for controlling the layout, sizing, and positioning of text nodes.                      │
//     └─────────────────────────────────────────────────────────────────────────────────────────────────┘
//
.breaks-words {
    word-wrap: break-word;
}

.centered, .centers-text {
    text-align: center;
}

.has-smllr-txt() {
    font-size: 0.9em;
}

//     ┌─────────────────────────────────────────────────────────────────────────────────────────────────┐
//     │ ++++ BORDERING ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//     │  Mixins for specifying the border around element nodes.                                         │
//     └─────────────────────────────────────────────────────────────────────────────────────────────────┘
//
.soft-gray-border {
    .rgb-darkest-gray(); border: 1px solid rgba(@rval, @gval, @bval, 0.5);
}

