/*  ┌──────────────────────────────────────────────────────────────────────────────────────────────┐
 *  │ ++++++++ div.page-covering-notice-... ++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
 *  ├----------------------------------------------------------------------------------------------┤
 *  │ Content container that gradually fades into full view, persists for a short time, and then   │
 *  │ rapidly fades out, either automatically via CSS3, or upon user interaction via JavaScript.   │
 *  ├----------------------------------------------------------------------------------------------┤
 */
.declare-page-covering-notice-rulesets(@grid-behavior) when (@grid-behavior = "hybrid") {
	div.page-covering-notice-css3 {
		position: fixed;
		 top: 0;
		 left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		.rgb-white(); background-color: rgba(@rval,@gval,@bval,0.95);
		opacity: 0;
		text-align: center;
		animation-name: anim-page-notice-fade;
		 -webkit-animation-name: anim-page-notice-fade;
		animation-duration: 4.9s;
		 -webkit-animation-duration: 4.9s;    
		div.notice-content {
			position: absolute;
			 top: 50%;
			 left: 50%;
			text-align: center;
			transform: translate(-50%,-50%);
		}
		div.notice-content img {
			margin: 0 auto 20px;
		}
		div.notice-content p {
			font-size: 2rem;
			line-height: 1.35em;
		}
		@keyframes anim-page-notice-fade {
			0% {
				z-index: 99352;
				opacity: 0;
			}
			31% {
				z-index: 99352;
				opacity: 1;
			}
			92% {
				z-index: 99352;
				opacity: 1;
			}
			100% {
				z-index: 99352;
				opacity: 0;
			}
		}
		@-webkit-keyframes anim-page-notice-fade {
			0% {
				z-index: 99352;
				opacity: 0;
			}
			31% {
				z-index: 99352;
				opacity: 1;
			}
			92% {
				opacity: 1;
				z-index: 99352;
			}
			100% {
				opacity: 0;
				z-index: 99352;
			}
		}
	}

	div.page-covering-notice-js {
		display: none;
		position: fixed;
		 top: 0;
		 left: 0;
		width: 100%;
		height: 100%;
		z-index: 99352;
		.rgb-white(); background-color: rgba(@rval,@gval,@bval,0.95);
		text-align: center;
		&.left-aligned {
			text-align: left;
		}
		div.notice-content {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			padding: 2rem;
			text-align: inherit;
			.transform(~"translate(-50%,-50%)");
		}
		div.notice-content img {
			margin: 0 auto 20px;
		}
		div.notice-content p {
			font-size: 2rem !important;
			@media all and (max-width: @large-mobile-screen-width) {
				font-size: 1rem !important;
			}
			line-height: 1.275em !important;
			text-align: inherit !important;
			& + p {
				margin-top: 1em !important;
			}
		}
	}
}
.declare-page-covering-notice-rulesets(@grid-behavior);
/*  └──────────────────────────────────────────────────────────────────────────────────────────────┘
 */
