/*  ┌────────────────────────────────────────────────────────────────────────────────────────────┐
**  │ FILENAME: paragraphs.less                                                                  │
**  │                                                                                            │
**  │ AUTHOR: Daniel Rieck <daniel.rieck@wsu.edu> (https://github.com/invokeImmediately)         │
**  │                                                                                            │
**  │ DESCRIPTION: Contains styles for paragraph elements within OUE pages built using the WSU   │
**  │   Spine theme for WordPress. Styles are designed to accompany or supersede styling         │
**  │   associated with the Spine parent theme.                                                  │
**  └────────────────────────────────────────────────────────────────────────────────────────────┘
*/

/*  ================================================================================================
**  SEMANTIC CSS FOR STYLING OUE PARAGRAPHS
*/

/*    ───────────────────────────────────────────────────────────────────────────────────────────
**    TABLE OF CONTENTS:
**    ───────────────────────────────────────────────────────────────────────────────────────────
**      §1: Legacy style declarations (prior to a11y redesign).................................36
**       >>> §1.1: Inclusional mixins.........................................................???
**      §2: Paragraph based notices...........................................................324
**      §3: Accessibility friendly classes....................................................417
**       >>> §3.1: Style Defaults.............................................................621
*/

/*    ----------------------------------------------------------------------------------------------
**    OUE-PARAGRAPHS §1: Legacy style declarations (prior to a11y redesign)
*/

@oue-paragraph-ruleset: {
	p {
		.column & {
			// TODO: Update look & feel, simplify rgba functions
			&.vpue-jump-bar {
				.rgb-turquoise();
				background-color: rgba(@rval,@gval,@bval,0.5);
				border: 1px solid rgba(red(@hex-dark-blue), green(@hex-dark-blue), 
					blue(@hex-dark-blue), 0.5);
				border-radius: 10px;
				box-shadow: 1px 1px 3px rgba(red(@hex-black), green(@hex-black), 
					blue(@hex-black), 0.3);
				color: @hex-darker-gray;
				margin: @v-dflt-spcng;
				padding: 0 (@v-dflt-spcng / 2) (@v-dflt-spcng / 2);
				position: relative;
				// font-size: 0.92em; // Removed as per request of MSL made on 2016-06-07
				text-align: center;
				span.title {
					font-size: (1em / 0.92 / 0.92);
					font-weight: bold;
					font-variant: small-caps;
					line-height: 2em;
				}
				&.floating {
					background-color: rgba(red(@hex-turquoise-opaque), 
						green(@hex-turquoise-opaque), blue(@hex-turquoise-opaque), 0.95);
					box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
					display: none;
					font-size: (@v-p-sz * 0.8) !important;
					left: 50%;
					margin-left: 0;
					margin-right: 0;
					margin-top: 0;
					padding-bottom: (@v-dflt-spcng * 0.375);
					padding-top: (@v-dflt-spcng / 5);
					position: fixed;
					top: 0;
					width: 50%;
					.transform(~"translateX(-50%)");
					@media all {
						@media (max-width: @spine-threshold) {
							top: 51px;
						}
					}
					z-index: 99163;
					span.title {
						display: none;
					}
					br:first-of-type {
						display: none;
					}
					@media all {
						@media (min-width: (@spine-threshold + 1)) {
							body.admin-bar & {
								top: 32px;
							}
						}
						@media (max-width: @spine-threshold) {
							padding-bottom: ~"calc(" (@v-dflt-spcng * 0.375) ~" + 5px)";
							.transform(~"translateX(-50%) translateY(-100%) translateY(15px)");
							.transition(~"all 0.3s ease");
							&:after {
								border-bottom: 5px solid transparent;
								border-left: 5px solid transparent;
								border-right: 5px solid transparent;
								border-top: 5px solid @hex-darkest-gray;
								bottom: 0;
								content: "";
								height: 0;
								left: 50%;
								position: absolute;
								.transform(~"translate(-50%, 0)");
								width: 0;
							}
							&:hover {
								.transform(~"translateX(-50%)");
								&:after {
									border-bottom: 5px solid @hex-darkest-gray;
									border-left: 5px solid transparent;
									border-right: 5px solid transparent;
									border-top: 5px solid transparent;
									.transform(~"translate(-50%, -5px)");
								}
							}
						}
					}
				}
			}
		}
		// TODO: make generic & move into separate file
		&.article-deck {
			.has-sectionally-responsive-font(@v-artcl-deck-sz, @body-text--lHeight);
			.column & {
				color: @hex-dark-green;
				strong {
					color: @hex-green;
				}
			}
		}
		// TODO: make generic & move into separate file
		&.article-tagline {
			.has-sectionally-responsive-font(@v-artcl-tgln-sz, @body-text--lHeight);
			&.home {
				.has-sectionally-responsive-font((@v-artcl-tgln-sz * 1.310345), 
					@body-text--lHeight);
			}
			.column & {
				.has-subst-font.serif;
				font-size: @v-artcl-tgln-sz;
				font-weight: @v-artcl-tgln-wght;
				line-height: @v-artcl-tgln-lnhght;
			}
			.column &.sans {
				&:extend(.has-alt-font);
				color: @hex-black;
				font-weight: 300;
				// letter-spacing: 0.5px; // Removed on 2016-06-10 to improve readability of text.
				& > span.lead-in {
					color: @hex-dark-blue;
					font-weight: 700;
					letter-spacing: normal;                    
				}
			}
			&:not(.has-no-bordering) {
				.has-pull-quote-bordering(@hex-darker-gray);
				&:not(.alt) {
					.column h1 + &,
					.column h2 + &,
					.column h3 + &,
					.column h4 + &,
					.column h5 + &,
					.column h6 + & {
						margin-top: (@v-btm-mrgns * 4 / 3);
					}
				}
				&.crimson {
					.has-pull-quote-bordering(@hex-crimson);
					color: @hex-crimson;
					.has-gray-text {
						color: @hex-darker-gray;
					}
				}
			}
			&.bold,
			.has-bold-text {
				font-weight: bold;
			}
		}
		&.vpue-jump-back {
			.has-sectionally-responsive-font(@v-p-jmpbck-sz, @body-text--lHeight);
			.column & {
				margin-bottom: @v-btm-mrgns / 3;
				padding-bottom: @v-btm-pads / 3;
			}
		}
		&.article-media-contacts {
			.has-sectionally-responsive-font(0.8rem, @body-text--lHeight);
			.column & {
				padding-left: 2em;
				text-align: left;
				&:first-child {
					margin-top: @v-btm-mrgns;
				}
			}
			body.single-post .column & + :not(.article-media-contacts) {
				border-top: 1px solid rgba(127,127,127,0.2);
				padding-top: 15px;
			}
		}
	}
};

.declare-ruleset(@oue-paragraph-ruleset, @oue-rules-wrapper);

.use-jumpbar-icons(@icon-url) when (isurl(@icon-url)) {
	.column p.vpue-jump-bar {
		padding-left: 33px;
		&:before {
			background: #2d95a5 @icon-url left center/24px 24px no-repeat;
			border-bottom-left-radius: 10px;
			border-top-left-radius: 10px;
			content: "";
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 25px;
		}
		&.floating {
			@media all and (max-width: @spine-threshold) {
				&:before {
					background-position: left bottom;
				}
				&:hover {
					&:before {
						background-position: left center;
					}
				}
			}
		}
	}
}

/*    ----------------------------------------------------------------------------------------------
**    OUE PARAGRAPHS §2: Paragraph based notices
*/

.use-paragraph-notices(@icon-url) when (isurl(@icon-url)) {
	.column .notice {
		&{ background-color: @rgba; .getRgbaStr(@hex-light-crimson, 0.2); }
		border-radius: 10px;
		margin-left: auto;
		margin-right: auto;
		padding: @v-btm-mrgns;
		padding-right: ~"calc(@{v-btm-mrgns} + 32px)";
		position: relative;
		width: 80%;
		width: ~"calc(90% - 2 * @{v-btm-mrgns} - 32px)";

		&::before {
			bottom: 0;
			border-bottom-right-radius: 10px;
			border-top-right-radius: 10px;
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			width: 32px;
			& {
				.getRgbaStr(@hex-crimson, 0.3333);
				background: @rgba @icon-url 4px @v-btm-mrgns no-repeat; 
			}
		}
		&.linked {
			a {
				display: none;
				&:first-of-type {
					border-color: transparent;
					border-radius: 10px;
					box-shadow: none;
					color: transparent;
					display: block;
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: 1;

					&::before {
						@_arrow-width: 3px;
						@_arrow-spacing: -5px;
						border-bottom: @_arrow-width solid extract(@colors--crimsons__hex, 
							@colors__darkish);
						bottom: @_arrow-spacing;
						box-sizing: border-box;
						content: "";
						height: @_arrow-width;
						left: 50%;
						position: absolute;
						.transform(~"translateX(-50%)");
						.transition(~"all 0.25s linear");
						width: 100%;
					}

					&:hover {
						background-color: rgba(red(@hex-white), green(@hex-white), 
							blue(@hex-white), 0.33);
						text-shadow: none;
						.transition(~"all 0.25s linear");

						&::before {
							@_arrow-width: 10px;
							@_arrow-color: #b96875;
							border-bottom: @_arrow-width solid @_arrow-color;
							border-left: @_arrow-width solid transparent;
							border-right: @_arrow-width solid transparent;
							border-top: @_arrow-width solid transparent;
							height: @_arrow-width;
							width: @_arrow-width;
						}
					}
				}
			}
			.hyperlink-simulator {
				border-bottom: 0.0625em solid rgba(red(@hex-crimson), green(@hex-crimson), 
					blue(@hex-crimson), 1);
				border-bottom-left-radius: 0.25em;
				border-bottom-right-radius: 0.25em;
				box-shadow: inset 0 -0.3125em 0 rgba(red(@hex-crimson), green(@hex-crimson), 
					blue(@hex-crimson), .15);
				color: @hex-crimson;
			}
		}
	}
	.add-download-notice(@download-notice-bg-clr, @download-notice-stripe-clr, @download-icon-url) 
			when (iscolor(@download-notice-bg-clr)) and (iscolor(@download-notice-stripe-clr)) 
			and (isurl(@download-icon-url)) {
		.column .notice.download {
			background-color: @download-notice-bg-clr;
			&::before {
				background: @download-notice-stripe-clr @download-icon-url 4px @v-btm-mrgns 
					no-repeat;
			}		
		}
	}
	.add-new-notice-class(@new-notice-class, @new-notice-bg-clr, @new-notice-stripe-clr, 
			@new-notice-icon-url, @stripe-width: 32px, @icon-width: 24px, 
			@icon-top-margin: @v-btm-mrgns) when (iscolor(@new-notice-bg-clr)) and
			(iscolor(@new-notice-stripe-clr)) and (isurl(@new-notice-icon-url)) and 
			(ispixel(@stripe-width)) and (ispixel(@icon-width)) and (isnumber(@icon-top-margin)) {
		.column .notice.@{new-notice-class} {
			background-color: @new-notice-bg-clr;
			padding-right: ~"calc(@{v-btm-mrgns} + @{stripe-width})";
			&::before {
				width: @stripe-width;
				@icon-spacing: (@stripe-width - @icon-width) / 2;
				background: @new-notice-stripe-clr @new-notice-icon-url @icon-spacing 
					@icon-top-margin no-repeat;
			}
		}
	}
}

/*    ----------------------------------------------------------------------------------------------
**    OUE PARAGRAPHS §3: Accessibility friendly classes
*/

/*!     ····························································································
***     >>> §3.1: Style Defaults
**/

p {
	font-size: @v-p-sz;
	.font-size(@fSize-1000mx);
	.line-height(@lHeight-1000mx);
	max-width: 80ch;
	padding: 0;

	& ~ p {
		padding-bottom: 0;
	}

	.column * + & {
		margin-top: extract(@mSize-array, @mSize-1000mx);
	}
}
