/** ┌──────────────────────────────────────────────────────────────────────────────────────────────┐
*** │ FILENAME: paragraphs.less                                                                    │
*** │                                                                                              │
*** │ AUTHOR: Daniel Rieck <daniel.rieck@wsu.edu> (https://github.com/invokeImmediately)           │
*** │                                                                                              │
*** │ DESCRIPTION: Contains styles for paragraph elements within OUE pages built using the WSU     │
*** │   Spine theme for WordPress. Styles are designed to accompany or supersede styling           │
*** │   associated with the Spine parent theme.                                                    │
*** └──────────────────────────────────────────────────────────────────────────────────────────────┘
**/

/**  ───────────────────────────────────────────────────────────────────────────────────────────────
***  TABLE OF CONTENTS:
***  ────────────────────────────────────────────────────────────────────────────────────────────
***  §1: Legacy style declarations (prior to a11y redesign)....................................32
***    >>> §1.1: Component-based styling.......................................................36
***       └> §1.1.1: Article decks.............................................................42
***       └> §1.1.2: Article taglines..........................................................58
***  §2: Accessibility friendly classes.......................................................263
***    >>> §2.1: Style Defaults...............................................................267
***  ───────────────────────────────────────────────────────────────────────────────────────────────
**/

/** ================================================================================================
*** SEMANTIC CSS STYLE RULES FOR PRESENTING PARAGRAPHS ON OUE WEBSITES
**/

/**   ----------------------------------------------------------------------------------------------
***   §1: Legacy style declarations (prior to a11y redesign)
**/

/*!     ····························································································
***     >>> §1.1: Component-based styling
**/

@oue-paragraph-ruleset: {

/**     ····························································································
***      └> §1.1.1: Article decks
**/
	&.article-deck {
		.has-sectionally-responsive-font(@v-artcl-deck-sz, @body-text--lHeight);
		color: @hex-dark-green;

		strong {
			color: @hex-green;
		}
	}

/**     ····························································································
***      └> §1.1.2: Article taglines
**/

	.article-tagline {
		font-size: @v-artcl-tgln-sz;
		font-weight: @v-artcl-tgln-wght;
		.has-subst-font.serif;
		line-height: @v-artcl-tgln-lnhght;

		&.home,
		&.article-tagline--home {
			font-size: @v-artcl-tgln-sz * 1.15;
		}

		&.sans,
		&.article-tagline--sans {
			&:extend(.has-alt-font);
			color: @hex-black;
			font-weight: 300;
			// letter-spacing: 0.5px; // Removed on 2016-06-10 to improve readability of text.
			.lead-in,
			.article-tagline__lead-in {
				color: extract(@colors--yellows__hex, @colors__darker);
				font-weight: 700;
				letter-spacing: normal;                    
			}
		}

		&:not(.has-no-bordering):not(.article-tagline--borderless) {
			.has-pull-quote-bordering(@hex-darker-gray);

			&.crimson,
			&.article-tagline--crimson {
				.has-pull-quote-bordering(@hex-crimson);
				color: @hex-crimson;
				.has-gray-text {
					color: @hex-darker-gray;
				}
			}
		}

		h1 + &:not(.alt),
		h2 + &:not(.alt),
		h3 + &:not(.alt),
		h4 + &:not(.alt),
		h5 + &:not(.alt),
		h6 + &:not(.alt) {
			margin-top: (@v-btm-mrgns * 4 / 3);
		}
	}
};

.declare-ruleset(@oue-paragraph-ruleset, @oue-rules-wrapper);

/**   ----------------------------------------------------------------------------------------------
***   §2: Accessibility friendly classes
**/

/*!     ····························································································
***     >>> §2.1: Style Defaults
**/

p {
	.font-size(@fSize-1000mx);
	.line-height(@lHeight-1000mx);
	max-width: 80ch;
	padding: 0;

	& ~ p {
		padding-bottom: 0;
	}

	.column * + & {
		margin-top: extract(@mSize-array, @mSize-1000mx);
	}
}
