/*  ┌────────────────────────────────────────────────────────────────────────────────────────────┐
**  │ FILENAME: recent-updates.less                                                              │
**  │                                                                                            │
**  │ AUTHOR: Daniel Rieck <daniel.rieck@wsu.edu> (https://github.com/invokeImmediately)         │
**  │                                                                                            │
**  │ DESCRIPTION: Incorporates styles for CSS3-driven "recent updates" constructs on WSU Office │
**  │   of Undergraduate Education web pages built using the builder template of the Spine       │
**  │   parent theme of WSUWP.                                                                   │
**  └────────────────────────────────────────────────────────────────────────────────────────────┘
*/

/*  ================================================================================================
**  SEMANTIC CSS FOR STYLING RECENT UPDATE CONSTRUCTS ON OUE WEBSITES
*/

.declare-recent-updates-rulesets(@grid-behavior) when (@grid-behavior = "hybrid") {
	.has-recent-updates {
		background-color: @hex-bright-gray;
		margin-bottom: @v-dflt-spcng;
		margin-top: @v-dflt-spcng;
	}

	.recent-updates {
		height: 4em;
		left: 0;
		position: relative;
		top: 0;

		@media all and (max-width: @column-floating-threshold) {
			height: 7em;
		}

		p + p {
			margin-top: 0;
		}
	}

	.recent-update-1,
	.recent-updates__update-1 {
		-webkit-animation-delay: 0;
		animation-delay: 0;
		-webkit-animation-duration: 13.5s;
		animation-duration: 13.5s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-animation-name: anim-recent-update-1;
		animation-name: anim-recent-update-1;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;

		@-webkit-keyframes anim-recent-update-1 {
			0% {
				opacity: 1;
				z-index: 10;
			}
			30% {
				opacity: 1;
				z-index: 10;
			}
			33% {
				opacity: 0;
				z-index: 1;
			}
			96% {
				opacity: 0;
				z-index: 1;
			}
			100% {
				opacity: 1;
				z-index: 10;
			}
		}

		@keyframes anim-recent-update-1 {
			0% {
				opacity: 1;
				z-index: 10;
			}

			30% {
				opacity: 1;
				z-index: 10;
			}

			33% {
				opacity: 0;
				z-index: 1;
			}

			96% {
				opacity: 0;
				z-index: 1;
			}

			100% {
				opacity: 1;
				z-index: 10;
			}
		}
	}

	.recent-update-2,
	.recent-updates__update-2 {
		-webkit-animation-delay: 0;
		animation-delay: 0;
		-webkit-animation-duration: 13.5s;
		animation-duration: 13.5s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-animation-name: anim-recent-update-2;
		animation-name: anim-recent-update-2;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;

		@-webkit-keyframes anim-recent-update-2 {
			0% {
				opacity: 0;
				z-index: 1;
			}
			30% {
				opacity: 0;
				z-index: 1;
			}
			33% {
				opacity: 1;
				z-index: 10;
			}
			63% {
				opacity: 1;
				z-index: 10;
			}
			67% {
				opacity: 0;
				z-index: 1;
			}
			100% {
				opacity: 0;
				z-index: 1;
			}
		}

		@keyframes anim-recent-update-2 {
			0% {
				opacity: 0;
				z-index: 1;
			}

			30% {
				opacity: 0;
				z-index: 1;
			}

			33% {
				opacity: 1;
				z-index: 10;
			}

			63% {
				opacity: 1;
				z-index: 10;
			}

			67% {
				opacity: 0;
				z-index: 1;
			}

			100% {
				opacity: 0;
				z-index: 1;
			}
		}
	}

	.recent-update-3,
	.recent-updates__update-3 {
		-webkit-animation-delay: 0;
		animation-delay: 0;
		-webkit-animation-duration: 13.5s;
		animation-duration: 13.5s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-animation-name: anim-recent-update-3;
		animation-name: anim-recent-update-3;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		left: 0;
		position: absolute;
		top: 0;

		@-webkit-keyframes anim-recent-update-3 {
			0% {
				opacity: 0;
				z-index: 1;
			}

			63% {
				opacity: 0;
				z-index: 1;
			}

			67% {
				opacity: 1;
				z-index: 10;
			}

			96% {
				opacity: 1;
				z-index: 10;
			}

			100% {
				opacity: 0;
				z-index: 1;
			}
		}

		@keyframes anim-recent-update-3 {
			0% {
				opacity: 0;
				z-index: 1;
			}

			63% {
				opacity: 0;
				z-index: 1;
			}

			67% {
				opacity: 1;
				z-index: 10;
			}

			96% {
				opacity: 1;
				z-index: 10;
			}

			100% {
				opacity: 0;
				z-index: 1;
			}
		}
	}
}
.declare-recent-updates-rulesets(@grid-behavior);
