/*     ┌─────────────────────────────────────────────────────────────────────────────────────────────────┐
 *     │ ++++ SPAN selectors +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
 *     └─────────────────────────────────────────────────────────────────────────────────────────────────┘
 */
span {
    &.accentuated-text {
        &:extend(.has-alt-font);
        font-weight: 700;
        font-size: 1.3em;
        line-height: normal;
        color: saturate(@hex-dark-blue,100%);
		&.darker {
			color: @hex-dark-blue;
		}
        &.brighter {
            color: saturate(@hex-blue,100%);
        }
        &.gray {
            color: @hex-dark-gray;
            &.brighter {
                color: @hex-less-dark-gray;
            }
        }
    }
    &.has-tool-tip {
        margin-bottom: -3px;
        .rgb-accent-blue(); border-bottom: 1px dotted rgba(@rval,@gval,@bval,0.25);
        color: @hex-accent-blue;
        transition-property: color, background, border-color;
         -webkit-transition-property: color, background, border-color;
        transition-duration: .3s, .3s, .3s;
         -webkit-transition-duration: .3s, .3s, .3s;
        transition-timing-function: ease, ease, ease;
         -webkit-transition-timing-function: ease, ease, ease;
        &:hover {
            .rgb-accent-blue(); background-color: rgba(@rval,@gval,@bval,0.2);
            border-color: rgba(@rval,@gval,@bval,0.67);
            color: @hex-darker-blue;
        }
    }
    &.hides-with-spine {
        @media all and (max-width: @v-spn-thrshld) {
            display: none;
        }
    }
    &.hides-from-spine {
        @media all and (min-width: (@v-spn-thrshld + 1)) {
            display: none;
        }
    }
    &.hides-with-rghtclmn {
        @media all and (max-width: @v-rghtclmn-thrshld) {
            display: none;
        }
    }
    &.hides-from-rghtclmn {
        @media all and (min-width: (@v-rghtclmn-thrshld + 1)) {
            display: none;
        }
    }
}
