/*  ┌────────────────────────────────────────────────────────────────────────────────────────────┐
**  │ FILENAME: utility-mixins.less                                                              │
**  │                                                                                            │
**  │ AUTHOR: Daniel Rieck <daniel.rieck@wsu.edu> (https://github.com/invokeImmediately)         │
**  │                                                                                            │
**  │ DESCRIPTION: ...                                                                           │
**  └────────────────────────────────────────────────────────────────────────────────────────────┘
*/

/*  ================================================================================================
**  OUE UTILITY MIXINS
*/

/*    ───────────────────────────────────────────────────────────────────────────────────────────
**    TABLE OF CONTENTS:
**    ───────────────────────────────────────────────────────────────────────────────────────────
**    OUE UTILITY MIXINS §1: Spacing...........................................................27
**        >>> §1.1: In units of "em"...........................................................31
**        >>> §1.2: In units of "rem"..........................................................37
**    OUE UTILITY MIXINS §2: Typography........................................................43
**        >>> §2.1: Typograhy: Font Sizing.....................................................47
**        >>> §2.2: Line heights..............................................................176
**    ───────────────────────────────────────────────────────────────────────────────────────────
*/

/*    ----------------------------------------------------------------------------------------------
**    OUE UTILITY MIXINS §1: Spacing
*/

/*      ····························································································
**      >>> §1.1: In units of "em"
*/

@mSize-1: 0em;

/*      ····························································································
**      >>> §1.1: In units of "rem"
*/

@rem-mSize-1: 0rem;

/*    ----------------------------------------------------------------------------------------------
**    OUE UTILITY MIXINS §2: Typography
*/

/*      ····························································································
**      >>> §2.1: Font Sizing
*/

// Standard font-sizing options for all OUE websites.
@fSize-1: 0.75em;
@fSize-2: 0.775em;
@fSize-3: 0.8em;
@fSize-4: 0.825em;
@fSize-5: 0.85em;
@fSize-6: 0.875em;
@fSize-7: 0.9em;
@fSize-8: 0.925em;
@fSize-9: 0.95em;
@fSize-10: 0.975em;
@fSize-11: 1em;
@fSize-12: 1.025em;
@fSize-13: 1.05em;
@fSize-14: 1.075em;
@fSize-15: 1.1em;
@fSize-16: 1.125em;
@fSize-17: 1.15em;
@fSize-18: 1.175em;
@fSize-19: 1.2em;
@fSize-20: 1.225em;
@fSize-21: 1.25em;
@fSize-22: 1.275em;
@fSize-23: 1.3em;
@fSize-24: 1.325em;
@fSize-25: 1.35em;
@fSize-26: 1.375em;
@fSize-27: 1.4em;
@fSize-28: 1.425em;
@fSize-29: 1.45em;
@fSize-30: 1.475em;
@fSize-31: 1.5em;
@fSize-32: 1.525em;
@fSize-33: 1.55em;
@fSize-34: 1.575em;
@fSize-35: 1.6em;
@fSize-36: 1.625em;
@fSize-37: 1.65em;
@fSize-38: 1.675em;
@fSize-39: 1.7em;
@fSize-40: 1.725em;
@fSize-41: 1.75em;
@fSize-42: 1.775em;
@fSize-43: 1.8em;
@fSize-44: 1.825em;
@fSize-45: 1.85em;
@fSize-46: 1.875em;
@fSize-47: 1.9em;
@fSize-48: 1.925em;
@fSize-49: 1.95em;
@fSize-50: 1.975em;
@fSize-51: 2em;

// OUE font-sizing array.
@fSize-array: @fSize-1, @fSize-2, @fSize-3, @fSize-4, @fSize-5, @fSize-6, @fSize-7, @fSize-8, 
	@fSize-9, @fSize-10, @fSize-11, @fSize-12, @fSize-13, @fSize-14, @fSize-15, @fSize-16, 
	@fSize-17, @fSize-18, @fSize-19, @fSize-20, @fSize-21, @fSize-22, @fSize-23, @fSize-24, 
	@fSize-25, @fSize-26, @fSize-27, @fSize-28, @fSize-29, @fSize-30, @fSize-31, @fSize-32, 
	@fSize-33, @fSize-34, @fSize-35, @fSize-36, @fSize-37, @fSize-38, @fSize-39, @fSize-40, 
	@fSize-41, @fSize-42, @fSize-43, @fSize-44, @fSize-45, @fSize-46, @fSize-47, @fSize-48, 
	@fSize-49, @fSize-50, @fSize-51;

// Semantic font-sizing Less variables.
@fSize--min: 1;
@fSize--body-text: ceil(unit(@v-p-sz - extract(@fSize-array,1)) / unit(extract(@fSize-array,2) 
	- extract(@fSize-array,1))) + 1;
@fSize--max: length(@fSize-array);
@fSize-750mx: 1;
@fSize-775mx: 2;
@fSize-800mx: 3;
@fSize-825mx: 4;
@fSize-850mx: 5;
@fSize-875mx: 6;
@fSize-900mx: 7;
@fSize-925mx: 8;
@fSize-950mx: 9;
@fSize-975mx: 10;
@fSize-1000mx: 11;
@fSize-1025mx: 12;
@fSize-1050mx: 13;
@fSize-1075mx: 14;
@fSize-1100mx: 15;
@fSize-1125mx: 16;
@fSize-1150mx: 17;
@fSize-1175mx: 18;
@fSize-1200mx: 19;
@fSize-1225mx: 20;
@fSize-1250mx: 21;
@fSize-1275mx: 22;
@fSize-1300mx: 23;
@fSize-1325mx: 24;
@fSize-1350mx: 25;
@fSize-1375mx: 26;
@fSize-1400mx: 27;
@fSize-1425mx: 28;
@fSize-1450mx: 29;
@fSize-1475mx: 30;
@fSize-1500mx: 31;
@fSize-1525mx: 32;
@fSize-1550mx: 33;
@fSize-1575mx: 34;
@fSize-1600mx: 35;
@fSize-1625mx: 36;
@fSize-1650mx: 37;
@fSize-1675mx: 38;
@fSize-1700mx: 39;
@fSize-1725mx: 40;
@fSize-1750mx: 41;
@fSize-1775mx: 42;
@fSize-1800mx: 43;
@fSize-1825mx: 44;
@fSize-1850mx: 45;
@fSize-1875mx: 46;
@fSize-1900mx: 47;
@fSize-1925mx: 48;
@fSize-1950mx: 49;
@fSize-1975mx: 50;
@fSize-2000mx: 51;

// Utility mixin for defining font sizes downstream.
.set-fSize(@idx) when (isnumber(@idx)) and not (ispixel(@idx)) and not (ispercentage(@idx)) 
		and (@idx <= length(@fSize-array)) {
	font-size: extract(@fSize-array, @idx);
}

/*      ····························································································
**      >>> §2.2: Line heights
*/

// Standard line-height options for all OUE websites.
@lHeight-1: 1em;
@lHeight-2: 1.025em;
@lHeight-3: 1.05em;
@lHeight-4: 1.075em;
@lHeight-5: 1.1em;
@lHeight-6: 1.125em;
@lHeight-7: 1.15em;
@lHeight-8: 1.175em;
@lHeight-9: 1.2em;
@lHeight-10: 1.225em;
@lHeight-11: 1.25em;
@lHeight-12: 1.275em;
@lHeight-13: 1.3em;
@lHeight-14: 1.325em;
@lHeight-15: 1.35em;
@lHeight-16: 1.375em;
@lHeight-17: 1.4em;
@lHeight-18: 1.425em;
@lHeight-19: 1.45em;
@lHeight-20: 1.475em;
@lHeight-21: 1.5em;

// OUE font-sizing array.
@lHeight-array: @lHeight-1, @lHeight-2, @lHeight-3, @lHeight-4, @lHeight-5, @lHeight-6, @lHeight-7, 
	@lHeight-8, @lHeight-9, @lHeight-10, @lHeight-11, @lHeight-12, @lHeight-13, @lHeight-14, 
	@lHeight-15, @lHeight-16, @lHeight-17, @lHeight-18, @lHeight-19, @lHeight-20, @lHeight-21;

// Semantic font-sizing Less variables.
@lHeight--min: 1;
@lHeight--body-text: ceil(unit(@body-text--lHeight - extract(@lHeight-array,1)) / 
	unit(extract(@lHeight-array,2) - extract(@lHeight-array,1))) + 1;
@lHeight--max: length(@lHeight-array);

// Utility mixin for defining font sizes downstream.
.set-lHeight(@idx) when (isnumber(@idx)) and not (ispixel(@idx)) and not (ispercentage(@idx)) 
		and (@idx <= length(@lHeight-array)) {
	font-size: extract(@lHeight-array, @idx);
}
