//  ┌----------------------------------------------------------------------------------------------┐
//  │ FILE-NAME: utility-mixins.less                                                               │
//  │                                                                                              │
//  │ AUTHOR: Daniel Rieck <daniel.rieck@wsu.edu> (https://github.com/invokeImmediately)           │
//  │                                                                                              │
//  │ DESCRIPTION: ...                                                                             │
//  └----------------------------------------------------------------------------------------------┘

/*  ------------------------------------------------------------------------------------------------
**  OUE UTILITY MIXINS §1: Typography
*/

/*      ····························································································
**      >>> §1.1: Typograhy: Font Sizing
*/

@fSize-1: 0.75em;
@fSize-2: 0.775em;
@fSize-3: 0.8em;
@fSize-4: 0.825em;
@fSize-5: 0.85em;
@fSize-6: 0.875em;
@fSize-7: 0.9em;
@fSize-8: 0.925em;
@fSize-9: 0.95em;
@fSize-10: 0.975em;
@fSize-11: 1em;
@fSize-12: 1.025em;
@fSize-13: 1.05em;
@fSize-14: 1.075em;
@fSize-15: 1.1em;
@fSize-16: 1.125em;
@fSize-17: 1.15em;
@fSize-18: 1.175em;
@fSize-19: 1.2em;
@fSize-20: 1.225em;
@fSize-21: 1.25em;
@fSize-22: 1.275em;
@fSize-23: 1.3em;
@fSize-24: 1.325em;
@fSize-25: 1.35em;
@fSize-26: 1.375em;
@fSize-27: 1.4em;
@fSize-28: 1.425em;
@fSize-29: 1.45em;
@fSize-30: 1.475em;
@fSize-31: 1.5em;
@fSize-32: 1.525em;
@fSize-33: 1.55em;
@fSize-34: 1.575em;
@fSize-35: 1.6em;
@fSize-36: 1.625em;
@fSize-37: 1.65em;
@fSize-38: 1.675em;
@fSize-39: 1.7em;
@fSize-40: 1.725em;
@fSize-41: 1.75em;
@fSize-42: 1.775em;
@fSize-43: 1.8em;
@fSize-44: 1.825em;
@fSize-45: 1.85em;
@fSize-46: 1.875em;
@fSize-47: 1.9em;
@fSize-48: 1.925em;
@fSize-49: 1.95em;
@fSize-50: 1.975em;
@fSize-51: 2em;

.set-fSize(@fSize) when (isem(@fSize)) {
	font-size: @fSize;
}
