/** ┌────────────────────────────────────────────────────────────────────────────────────────────┐
*** │ FILENAME: utility-classes.less                                                             │
*** │                                                                                            │
*** │ AUTHOR: Daniel Rieck <daniel.rieck@wsu.edu> (https://github.com/invokeImmediately)         │
*** │                                                                                            │
*** │ DESCRIPTION: Less import that declares a variety of utility classes for use in functional  │
*** │  styling of WSU Office of Undergraduate Education websites. Designed to be imported        │
*** │  downstream of other Less files in the final stylesheet build so its rules will have the   │
*** │  greatest possible weight in style conflict resolution.                                    │
*** └────────────────────────────────────────────────────────────────────────────────────────────┘
**/

/** ================================================================================================
*** DAESA UTILITY CLASSES
**/

/**  ───────────────────────────────────────────────────────────────────────────────────────────────
***  TABLE OF CONTENTS:
***  ────────────────────────────────────────────────────────────────────────────────────────────
***  §1: Widths................................................................................67
***      >>> §1.1: Percent widths..............................................................71
***      >>> §1.2: Pixel widths...............................................................112
***      >>> §1.3: Additional max widths......................................................166
***  §2: Heights..............................................................................181
***      >>> §2.1: Pixel heights..............................................................185
***  §3: Typography...........................................................................228
***      >>> §3.1: Font Sizing................................................................232
***      >>> §3.2: Line Heights...............................................................296
***      >>> §3.3: Bolding....................................................................343
***      >>> §3.4: Text transformation........................................................372
***      >>> §3.5: Text alignment.............................................................384
***  §4: Spacing..............................................................................404
***  §5: Floating.............................................................................423
***      >>> §5.1: Clearing...................................................................439
***  §6: Display..............................................................................456
***      >>> §6.1: Flex-box...................................................................508
***         └> §6.5.1: Flex direction.........................................................516
***         └> §6.5.2: Flex wrapping..........................................................536
***         └> §6.5.3: Content justification..................................................552
***         └> §6.5.4: Item alignment.........................................................576
***         └> §6.5.5: Content alignment......................................................596
***         └> §6.5.6: Basis..................................................................620
***         └> §6.5.6: Growth.................................................................636
***         └> §6.5.6: Shrinking..............................................................648
***  §7: Margins..............................................................................660
***      >>> §7.1: General margins............................................................664
***      >>> §7.2: In units of "em"...........................................................674
***      >>> §7.3: In units of "rem"..........................................................704
***  §8: Padding..............................................................................740
***      >>> §8.1: In units of "em"...........................................................744
***      >>> §8.2: In units of "rem"..........................................................778
***  §9: Vertical alignment...................................................................813
***  §10: Colors..............................................................................849
***      >>> §10.1: General...................................................................902
***      >>> §10.2: WSU Grays.................................................................910
***      >>> §10.3: WSU Crimsons..............................................................920
***      >>> §10.4: WSU Greens................................................................932
***      >>> §10.5: WSU Yellows...............................................................944
***      >>> §10.6: WSU Blues.................................................................956
***      >>> §10.7: WSU Oranges...............................................................968
***  ───────────────────────────────────────────────────────────────────────────────────────────────
**/

@daesa-utility-classes-ruleset: {

/** ================================================================================================
*** §1: Widths
**/

/**   ----------------------------------------------------------------------------------------------
***   >>> §1.1: Percent widths
**/

	@pct-width-1--class: ~"5pct";
	@pct-width-2--class: ~"10pct";
	@pct-width-3--class: ~"15pct";
	@pct-width-4--class: ~"20pct";
	@pct-width-5--class: ~"25pct";
	@pct-width-6--class: ~"30pct";
	@pct-width-7--class: ~"35pct";
	@pct-width-8--class: ~"40pct";
	@pct-width-9--class: ~"45pct";
	@pct-width-10--class: ~"50pct";
	@pct-width-11--class: ~"55pct";
	@pct-width-12--class: ~"60pct";
	@pct-width-13--class: ~"65pct";
	@pct-width-14--class: ~"70pct";
	@pct-width-15--class: ~"75pct";
	@pct-width-16--class: ~"80pct";
	@pct-width-17--class: ~"85pct";
	@pct-width-18--class: ~"90pct";
	@pct-width-19--class: ~"95pct";
	@pct-width-20--class: ~"100pct";

	@pct-width--class-array: @pct-width-1--class, @pct-width-2--class, @pct-width-3--class,
		@pct-width-4--class, @pct-width-5--class, @pct-width-6--class, @pct-width-7--class,
		@pct-width-8--class, @pct-width-9--class, @pct-width-10--class, @pct-width-11--class,
		@pct-width-12--class, @pct-width-13--class, @pct-width-14--class, @pct-width-15--class,
		@pct-width-16--class, @pct-width-17--class, @pct-width-18--class, @pct-width-19--class,
		@pct-width-20--class;

	.pct-width-loop(@idx) when (@idx > 0) and (@idx <= length(@pct-width-array)) {
		.pct-width-loop((@idx - 1));
		@class-name: extract(@pct-width--class-array, @idx);
		.w--@{class-name} {
			.width--pct(@idx);
		}
	}
	.pct-width-loop(length(@pct-width-array));

/**   ----------------------------------------------------------------------------------------------
***   >>> §1.2: Pixel widths
**/

	@pxl-width-1--class: ~"64px";
	@pxl-width-2--class: ~"80px";
	@pxl-width-3--class: ~"96px";
	@pxl-width-4--class: ~"112px";
	@pxl-width-5--class: ~"128px";
	@pxl-width-6--class: ~"144px";
	@pxl-width-7--class: ~"160px";
	@pxl-width-8--class: ~"176px";
	@pxl-width-9--class: ~"192px";
	@pxl-width-10--class: ~"208px";
	@pxl-width-11--class: ~"224px";
	@pxl-width-12--class: ~"240px";
	@pxl-width-13--class: ~"256px";
	@pxl-width-14--class: ~"288px";
	@pxl-width-15--class: ~"320px";
	@pxl-width-16--class: ~"384px";
	@pxl-width-17--class: ~"448px";
	@pxl-width-18--class: ~"512px";
	@pxl-width-19--class: ~"576px";
	@pxl-width-20--class: ~"640px";
	@pxl-width-21--class: ~"768px";
	@pxl-width-22--class: ~"832px";
	@pxl-width-23--class: ~"896px";
	@pxl-width-24--class: ~"960px";

	@pxl-width--class-array: @pxl-width-1--class, @pxl-width-2--class, @pxl-width-3--class,
		@pxl-width-4--class, @pxl-width-5--class, @pxl-width-6--class, @pxl-width-7--class,
		@pxl-width-8--class, @pxl-width-9--class, @pxl-width-10--class, @pxl-width-11--class,
		@pxl-width-12--class, @pxl-width-13--class, @pxl-width-14--class, @pxl-width-15--class,
		@pxl-width-16--class, @pxl-width-17--class, @pxl-width-18--class, @pxl-width-19--class,
		@pxl-width-20--class, @pxl-width-21--class, @pxl-width-22--class, @pxl-width-23--class,
		@pxl-width-24--class;

	.pxl-width-loop(@idx) when (@idx > 0) and (@idx <= length(@pxl-width-array)) {
		.pxl-width-loop((@idx - 1));
		@class-name: extract(@pxl-width--class-array, @idx);
		.w--@{class-name} {
			.width--pxl(@idx);
		}

		.mnw--@{class-name} {
			min-width: extract(@pxl-width-array, @idx);
		}

		.mw--@{class-name} {
			max-width: extract(@pxl-width-array, @idx) !important;
		}
	}
	.pxl-width-loop(length(@pxl-width-array));

/**   ----------------------------------------------------------------------------------------------
***   >>> §1.3: Additional widths
**/
	.mw--none {
		max-width: none;
	}

	.mw--80ch {
		max-width: 80ch !important;
	}

	.w--auto {
		width: auto !important;
	}

/** ================================================================================================
*** §2: Heights
**/

/**   ----------------------------------------------------------------------------------------------
***   >>> §2.1: Pixel heights
**/

	@pxl-height-1--class: ~"64px";
	@pxl-height-2--class: ~"80px";
	@pxl-height-3--class: ~"96px";
	@pxl-height-4--class: ~"112px";
	@pxl-height-5--class: ~"128px";
	@pxl-height-6--class: ~"144px";
	@pxl-height-7--class: ~"160px";
	@pxl-height-8--class: ~"176px";
	@pxl-height-9--class: ~"192px";
	@pxl-height-10--class: ~"208px";
	@pxl-height-11--class: ~"224px";
	@pxl-height-12--class: ~"240px";
	@pxl-height-13--class: ~"256px";
	@pxl-height-14--class: ~"272px";
	@pxl-height-15--class: ~"288px";
	@pxl-height-16--class: ~"304px";
	@pxl-height-17--class: ~"320px";
	@pxl-height-18--class: ~"336px";
	@pxl-height-19--class: ~"352px";
	@pxl-height-20--class: ~"368px";
	@pxl-height-21--class: ~"384px";
	@pxl-height-22--class: ~"400px";

	@pxl-height--class-array: @pxl-height-1--class, @pxl-height-2--class, @pxl-height-3--class,
		@pxl-height-4--class, @pxl-height-5--class, @pxl-height-6--class, @pxl-height-7--class,
		@pxl-height-8--class, @pxl-height-9--class, @pxl-height-10--class, @pxl-height-11--class,
		@pxl-height-12--class, @pxl-height-13--class, @pxl-height-14--class, @pxl-height-15--class,
		@pxl-height-16--class, @pxl-height-17--class, @pxl-height-18--class, @pxl-height-19--class,
		@pxl-height-20--class, @pxl-height-21--class, @pxl-height-22--class;

	.pxl-height-loop(@idx) when (@idx > 0) and (@idx <= length(@pxl-height-array)) {
		.pxl-height-loop((@idx - 1));
		@class-name: extract(@pxl-height--class-array, @idx);
		.h--@{class-name} {
			.height--pxl(@idx);
		}
	}
	.pxl-height-loop(length(@pxl-height-array));

/** ================================================================================================
*** §3: Typography
**/

/**   ----------------------------------------------------------------------------------------------
***   >>> §3.1: Font Sizing
***
***     NOTES:
***     • Units of "mx" stand for "milli-fold" and function similar to magnification units. Thus, 
***       1000mx = 1x, where x is the standard font-size for body-text. Thus, 1000mx means the same 
***       font-size as the default font-size for body text. 2000mx would be twice the size of body 
***       text.
***     • Depends on the utiltiy mixin .font-size(...) and the Less variable @fSize-array, which 
***       are both defined in utility-mixins.less.
**/

// TODO: Reduce number of options to reduce file size

	@fSize--class-array: ~"400mx" @fSize-400mx, ~"500mx" @fSize-500mx, ~"600mx" @fSize-600mx,
		~"700mx" @fSize-700mx, ~"800mx" @fSize-800mx, ~"900mx" @fSize-900mx, ~"1000mx" @fSize-1000mx,
		~"1100mx" @fSize-1100mx, ~"1200mx" @fSize-1200mx, ~"1300mx" @fSize-1300mx,
		~"1400mx" @fSize-1400mx, ~"1500mx" @fSize-1500mx, ~"1600mx" @fSize-1600mx,
		~"1700mx" @fSize-1700mx, ~"1800mx" @fSize-1800mx, ~"1900mx" @fSize-1900mx,
		~"2000mx" @fSize-2000mx, ~"2100mx" @fSize-2100mx, ~"2200mx" @fSize-2200mx,
		~"2300mx" @fSize-2300mx, ~"2400mx" @fSize-2400mx;

	.fSize-loop(@idx) when (@idx > 0) and (@idx <= length(@fSize-array)) {
		.fSize-loop((@idx - 1));
		@class-name: extract(extract(@fSize--class-array, @idx), 1);
		@value-idx: extract(extract(@fSize--class-array, @idx), 2);
		.font-size--@{class-name},
		.fs--@{class-name} {
			.font-size(@value-idx);
		}
	}
	.fSize-loop(length(@fSize-array));

	// Semantic font-sizing with reference to standard heading sizes
	.h1-fs,
	.fs--h1 {
		.font-size(@h1-font-size);
	}

	.h2-fs,
	.fs--h2 {
		.font-size(@h2-font-size);
	}

	.h3-fs,
	.fs--h3 {
		.font-size(@h3-font-size);
	}

	.h4-fs,
	.fs--h4 {
		.font-size(@h4-font-size);
	}

	.h5-fs,
	.fs--h5 {
		.font-size(@h5-font-size);
	}

	.h6-fs,
	.fs--h6 {
		.font-size(@h6-font-size);
	}

/**   ----------------------------------------------------------------------------------------------
***   >>> §3.2: Line heights
**
***     NOTES:
***     * See line 24 for explanation of "mx" units.
***     * Depends on the utiltiy mixin .set-lHeight(...) and the Less variable @lHeight-array, 
***       which are both defined in utility-mixins.less.
**/

	@lHeight-1--class: ~"1000mx";
	@lHeight-2--class: ~"1025mx";
	@lHeight-3--class: ~"1050mx";
	@lHeight-4--class: ~"1075mx";
	@lHeight-5--class: ~"1100mx";
	@lHeight-6--class: ~"1125mx";
	@lHeight-7--class: ~"1150mx";
	@lHeight-8--class: ~"1175mx";
	@lHeight-9--class: ~"1200mx";
	@lHeight-10--class: ~"1225mx";
	@lHeight-11--class: ~"1250mx";
	@lHeight-12--class: ~"1275mx";
	@lHeight-13--class: ~"1300mx";
	@lHeight-14--class: ~"1325mx";
	@lHeight-15--class: ~"1350mx";
	@lHeight-16--class: ~"1375mx";
	@lHeight-17--class: ~"1400mx";
	@lHeight-18--class: ~"1425mx";
	@lHeight-19--class: ~"1450mx";
	@lHeight-20--class: ~"1475mx";
	@lHeight-21--class: ~"1500mx";

	@lHeight--class-array: @lHeight-1--class, @lHeight-2--class, @lHeight-3--class,
		@lHeight-4--class, @lHeight-5--class, @lHeight-6--class, @lHeight-7--class,
		@lHeight-8--class, @lHeight-9--class, @lHeight-10--class, @lHeight-11--class,
		@lHeight-12--class, @lHeight-13--class, @lHeight-14--class, @lHeight-15--class,
		@lHeight-16--class, @lHeight-17--class, @lHeight-18--class, @lHeight-19--class,
		@lHeight-20--class, @lHeight-21--class;

	.lHeight-loop(@idx) when (@idx > 0) and (@idx <= length(@lHeight-array)) {
		.lHeight-loop((@idx - 1));
		@class-name: extract(@lHeight--class-array, @idx);
		.lh--@{class-name} {
			.line-height(@idx);
		}
	}
	.lHeight-loop(length(@lHeight-array));

/**   ----------------------------------------------------------------------------------------------
***   >>> §3.3: Bolding
**/

	@fWeight-1--class: ~"light";
	@fWeight-1--value: @fWeight-light;
	@fWeight-2--class: ~"normal";
	@fWeight-2--value: @fWeight-normal;
	@fWeight-3--class: ~"semi-bold";
	@fWeight-3--value: @fWeight-semi-bold;
	@fWeight-4--class: ~"bold";
	@fWeight-4--value: @fWeight-bold;
	@fWeight-5--class: ~"extra-bold";
	@fWeight-5--value: @fWeight-extra-bold;

	@fWeight--array: @fWeight-1--class @fWeight-1--value, @fWeight-2--class @fWeight-2--value, 
		@fWeight-3--class @fWeight-3--value, @fWeight-4--class @fWeight-4--value, 
		@fWeight-5--class @fWeight-5--value;

	.fWeight-loop(@idx) when (@idx > 0) and (@idx <= length(@fWeight--array)) {
		.fWeight-loop((@idx - 1));
		@class-name: extract(extract(@fWeight--array, @idx), 1);
		@value: extract(extract(@fWeight--array, @idx), 2);
		.fw--@{class-name} {
			.font-weight(@value);
		}
	}
	.fWeight-loop(length(@fWeight--array));

/**   ----------------------------------------------------------------------------------------------
***   >>> §3.4: Text transformation
**/

	.tt--none {
		text-transform: none;
	}

	.tt--uppercase {
		text-transform: uppercase;
	}

/**   ----------------------------------------------------------------------------------------------
***   >>> §3.5: Text alignment
**/

	.ta--center {
		text-align: center;
	}

	.ta--justify {
		text-align: justify;
	}

	.ta--left {
		text-align: left;
	}

	.ta--right {
		text-align: left;
	}

/**   ----------------------------------------------------------------------------------------------
***   §4: Spacing
**/

	@spacing--array: ~"0mx" @spacing-0mx, ~"250mx" @spacing-250mx, ~"500mx" @spacing-500mx,
		~"750mx" @spacing-750mx, ~"1000mx" @spacing-1000mx, ~"1500mx" @spacing-1500mx,
		~"2000mx" @spacing-2000mx, ~"2500mx" @spacing-2500mx, ~"3000mx" @spacing-3000mx,
		~"3500mx" @spacing-3500mx, ~"4000mx" @spacing-4000mx;

	.spacing-loop(@idx) when (@idx > 0) and (@idx <= length(@spacing--array)) {
		.spacing-loop((@idx - 1));
		@class-name: extract(extract(@spacing--array, @idx), 1);
		@value-idx: extract(extract(@spacing--array, @idx), 2);
		.column * + .sv--@{class-name} {
			margin-top: extract(@mSize-array, @value-idx);
		}
	}
	.spacing-loop(length(@spacing--array));

/** ================================================================================================
*** §5: Floating
**/

	.flt--none {
		float: none;
	}

	.flt--right {
		float: right;
	}

	.flt--left {
		float: left;
	}

/**   ----------------------------------------------------------------------------------------------
***   >>> §5.1: Clearing
**/

	.clr--left {
		clear: left;
	}

	.clr--right {
		clear: right;
	}

	.clr--both {
		clear: both;
	}


/** ================================================================================================
*** §6: Display
**/

	.dy--block {
		display: block;
	}

	.dy--inline {
		display: inline;
	}

	.dy--inline-block {
		display: inline-block;
	}

	.dy--none {
		display: none;
	}

	.show-on-mobile {
		@media all {
			@media (min-width: (@large-mobile-screen-width + 1)) {
				display: none !important;
			}
		}
	}

	.hide-on-mobile {
		@media all {
			@media (max-width: (@large-mobile-screen-width)) {
				display: none !important;
			}
		}
	}

	.show-on-tablet {
		@media all {
			@media (min-width: (@tablet-screen-width + 1)) {
				display: none !important;
			}
		}
	}

	.hide-on-tablet {
		@media all {
			@media (max-width: (@tablet-screen-width)) {
				display: none !important;
			}
		}
	}

/**   ----------------------------------------------------------------------------------------------
***   >>> §6.1: Flex-box
**/

	.dy--flex {
		display: flex;
	}

/**     ····························································································
***      └> §6.5.1: Flex direction
**/

	.flxd--row {
		flex-direction: row;
	}

	.flxd--row-reverse {
		flex-direction: row-reverse;
	}

	.flxd--column {
		flex-direction: column;
	}

	.flxd--column-reverse {
		flex-direction: column;
	}

/**     ····························································································
***      └> §6.5.2: Flex wrapping
**/

	.flxw--no-wrap {
		flex-wrap: nowrap;
	}

	.flxw--wrap {
		flex-wrap: wrap;
	}

	.flxw--wrap-reverse {
		flex-wrap: wrap;
	}

/**     ····························································································
***      └> §6.5.3: Content justification
**/

	.flxjc--start {
		justify-content: start;
	}

	.flxjc--center {
		justify-content: center;
	}

	.flxjc--space-between {
		justify-content: space-between;
	}

	.flxjc--space-around {
		justify-content: space-around;
	}

	.flxjc--space-evenly {
		justify-content: space-evenly;
	}

/**     ····························································································
***      └> §6.5.4: Item alignment
**/

	.flxai--flex-start {
		align-items: flex-start;
	}

	.flxai--flex-end {
		align-items: flex-end;
	}

	.flxai--stretch {
		align-items: stretch;
	}

	.flxai--center {
		align-items: center;
	}

/**     ····························································································
***      └> §6.5.5: Content alignment
**/

	.flxac--flex-start {
		align-content: flex-start;
	}

	.flxac--flex-end {
		align-content: flex-end;
	}

	.flxac--center {
		align-content: center;
	}

	.flxac--space-between {
		align-content: space-between;
	}

	.flxac--space-around {
		align-content: space-around;
	}

/**     ····························································································
***      └> §6.5.6: Basis
**/

	.flxb--0 {
		flex-basis: 0;
	}

	.flxb--auto {
		flex-basis: auto;
	}

	.flxb--content {
		flex-basis: content;
	}

/**     ····························································································
***      └> §6.5.7: Growth
**/

	.flxg--0 {
		flex-grow: 0;
	}

	.flxg--1 {
		flex-grow: 1;
	}

/**     ····························································································
***      └> §6.5.8: Shrinking
**/

	.flxs--0 {
		flex-shrink: 0;
	}

	.flxs--1 {
		flex-shrink: 1;
	}

/** ================================================================================================
*** §7: Margins
**/

/**   ----------------------------------------------------------------------------------------------
***   >>> §7.1: General margins
**/

	.mh--auto {
		margin-left: auto;
		margin-right: auto;
	}


/**   ----------------------------------------------------------------------------------------------
***   >>> §7.2: In units of "em"
**/

	.margin-loop(@idx) when (@idx > 0) and (@idx <= length(@spacing--array)) {
		.margin-loop((@idx - 1));
		@class-name: extract(extract(@spacing--array, @idx), 1);
		@value-idx: extract(extract(@spacing--array, @idx), 2);
		.ma--@{class-name} {
			.margin(@value-idx, "all");
		}

		.mb--@{class-name} {
			.margin(@value-idx, "bottom");
		}

		.ml--@{class-name} {
			.margin(@value-idx, "left");
		}

		.mr--@{class-name} {
			.margin(@value-idx, "right");
		}

		.mt--@{class-name} {
			.margin(@value-idx, "top");
		}
	}
	.margin-loop(length(@spacing--array));

/**   ----------------------------------------------------------------------------------------------
***   >>> §7.3: In units of "rem"
**/

	@margins--rem--array: ~"0mx" @rem-mSize-0mx, ~"250mx" @rem-mSize-125mx,
		~"500mx" @rem-mSize-250mx, ~"750mx" @rem-mSize-375mx, ~"1000mx" @rem-mSize-500mx,
		~"1250mx" @rem-mSize-625mx, ~"1500mx" @rem-mSize-750mx, ~"1750mx" @rem-mSize-875mx,
		~"2000mx" @rem-mSize-1000mx;


	.margin-rem-loop(@idx) when (@idx > 0) and (@idx <= length(@margins--rem--array)) {
		.margin-loop((@idx - 1));
		@class-name: extract(extract(@margins--rem--array, @idx), 1);
		@value-idx: extract(extract(@margins--rem--array, @idx), 2);
		.ma--rem--@{class-name} {
			.margins-rem(@value-idx, "all");
		}

		.mb--rem--@{class-name} {
			.margins-rem(@value-idx, "bottom");
		}

		.ml--rem--@{class-name} {
			.margins-rem(@value-idx, "left");
		}

		.mr--rem--@{class-name} {
			.margins-rem(@value-idx, "right");
		}

		.mt--rem--@{class-name} {
			.margins-rem(@value-idx, "top");
		}
	}
	.margin-rem-loop( length( @margins--rem--array ) );

/** ================================================================================================
*** §8: Padding
**/

/**   ----------------------------------------------------------------------------------------------
***   >>> §8.1: In units of "em"
**/

	@padding--array: ~"0mx" @pSize-0mx, ~"250mx" @pSize-250mx, ~"500mx" @pSize-500mx,
		~"750mx" @pSize-750mx, ~"1000mx" @pSize-1000mx, ~"1250mx" @pSize-1250mx,
		~"1500mx" @pSize-1500mx, ~"1750mx" @pSize-1750mx, ~"2000mx" @pSize-2000mx;

	.padding-loop(@idx) when (@idx > 0) and (@idx <= length(@spacing--array)) {
		.padding-loop((@idx - 1));
		@class-name: extract(extract(@padding--array, @idx), 1);
		@value-idx: extract(extract(@padding--array, @idx), 2);
		.pa--@{class-name} {
			.padding(@value-idx, "all");
		}

		.pb--@{class-name} {
			.padding(@value-idx, "bottom");
		}

		.pl--@{class-name} {
			.padding(@value-idx, "left");
		}

		.pr--@{class-name} {
			.padding(@value-idx, "right");
		}

		.pt--@{class-name} {
			.padding(@value-idx, "top");
		}
	}
	.padding-loop(length(@padding--array));

/**   ----------------------------------------------------------------------------------------------
***   >>> §8.2: In units of "rem"
**/

	@padding--rem--array: ~"0mx" @pSize-0mx--rem, ~"250mx" @pSize-250mx--rem,
		~"500mx" @pSize-500mx--rem, ~"750mx" @pSize-750mx--rem, ~"1000mx" @pSize-1000mx--rem,
		~"1250mx" @pSize-1250mx--rem, ~"1500mx" @pSize-1500mx--rem, ~"1750mx" @pSize-1750mx--rem,
		~"2000mx" @pSize-2000mx--rem;

	.padding-rem-loop(@idx) when (@idx > 0) and (@idx <= length(@spacing--array)) {
		.padding-rem-loop((@idx - 1));
		@class-name: extract(extract(@padding--rem--array, @idx), 1);
		@value-idx: extract(extract(@padding--rem--array, @idx), 2);
		.pa--rem--@{class-name} {
			.padding--rem(@value-idx, "all");
		}

		.pb--rem--@{class-name} {
			.padding--rem(@value-idx, "bottom");
		}

		.pl--rem--@{class-name} {
			.padding--rem(@value-idx, "left");
		}

		.pr--rem--@{class-name} {
			.padding--rem(@value-idx, "right");
		}

		.pt--rem--@{class-name} {
			.padding--rem(@value-idx, "top");
		}
	}
	.padding-rem-loop(length(@padding--rem--array));

/** ================================================================================================
*** §9: Vertical alignment
**/

	.va--baseline {
		vertical-align: baseline;
	}

	.va--bottom {
		vertical-align: bottom;
	}

	.va--middle {
		vertical-align: middle;
	}

	.va--sub {
		vertical-align: sub;
	}

	.va--super {
		vertical-align: super;
	}

	.va--text-bottom {
		vertical-align: text-bottom;
	}

	.va--text-top {
		vertical-align: text-top;
	}

	.va--top {
		vertical-align: top;
	}

/** ================================================================================================
*** §10: Colors
**/

	@color-modifiers-list: ~"lightest", ~"lighter", ~"light", ~"lightish", ~"darkish", ~"dark", 
		~"darker", ~"darkest", ~"accent";

	.color-class-loop(@use-these-classes, @class-name, @color-list, @idx) when (@idx > 0) and
			(@use-these-classes = 1) and (@idx <= length(@color-modifiers-list)) and
			(length(@color-modifiers-list) = length(@color-list)) {
		.color-class-loop(@use-these-classes, @class-name, @color-list, (@idx - 1));
		@modifier: extract(@color-modifiers-list, @idx);
		@color-value: extract(@color-list, @idx);
		.c--@{class-name}--@{modifier} {
			color: @color-value;
		}
	}

	.color-class-loop(@use-these-classes, @class-name, @color-list, @idx) when (@idx > 0) and
			(@use-these-classes = 0) and (@idx <= length(@color-modifiers-list)) and
			(length(@color-modifiers-list) = length(@color-list)) {
		// Do nothing b/c @use-these-classes = 0
	}

	.background-color-class-loop(@use-these-classes, @class-name, @color-list, @idx) when
			(@idx > 0) and (@use-these-classes = 1) and (@idx <= length(@color-modifiers-list)) and
			(length(@color-modifiers-list) = length(@color-list)) {
		.background-color-class-loop(@use-these-classes, @class-name, @color-list, (@idx - 1));
		@modifier: extract(@color-modifiers-list, @idx);
		@color-value: extract(@color-list, @idx);
		.bgc--@{class-name}--@{modifier} {
			background-color: @color-value;
		}
		.bgc--@{class-name}--@{modifier}--25pct {
			.getRgbaForProp(returned, @color-value, 0.25);
			background-color: @returned;
		}
	}

	.background-color-class-loop(@use-these-classes, @class-name, @color-list, @idx) when
			(@idx > 0) and (@use-these-classes = 0) and (@idx <= length(@color-modifiers-list)) and
			(length(@color-modifiers-list) = length(@color-list)) {
		// Do nothing b/c @use-these-classes = 0
	}

	.define-bg-color-tint(@class-name, @color-list, @idx)  when (@idx > 0) and 
			(@idx <= length(@color-modifiers-list)) and (length(@color-modifiers-list) =
			length(@color-list)) {
		.bgc--@{class-name}--tint {
			background-color: tint(extract(@color-list, @idx), 87%);
		}	
	}

/**   ----------------------------------------------------------------------------------------------
***   >>> §10.1: General
**/

	.bgc--transparent {
		background-color: transparent;
	}

/**   ----------------------------------------------------------------------------------------------
***   >>> §10.2: WSU Grays
**/

	.color-class-loop( @use-gray-color-scheme, ~"gray", @colors--grays__hex,
		length( @colors--grays__hex ) );

	.background-color-class-loop( @use-gray-color-scheme, ~"gray", @colors--grays__hex,
		length( @colors--grays__hex ) );

/**   ----------------------------------------------------------------------------------------------
***   >>> §10.3: WSU Crimsons
**/

	.color-class-loop( @use-crimson-color-scheme, ~"crimson", @colors--crimsons__hex,
		length( @colors--crimsons__hex ) );

	.background-color-class-loop( @use-crimson-color-scheme, ~"crimson", @colors--crimsons__hex,
		length(@colors--crimsons__hex));

	.define-bg-color-tint( ~"crimson", @colors--crimsons__hex, @colors__darkish );

/**   ----------------------------------------------------------------------------------------------
***   >>> §10.4: WSU Greens
**/

	.color-class-loop( @use-green-color-scheme, ~"green", @colors--greens__hex,
		length( @colors--greens__hex ) );

	.background-color-class-loop( @use-green-color-scheme, ~"green", @colors--greens__hex,
		length( @colors--greens__hex ) );

	.define-bg-color-tint( ~"green", @colors--greens__hex, @colors__accent );

/**   ----------------------------------------------------------------------------------------------
***   >>> §10.5: WSU Yellows
**/

	.color-class-loop( @use-yellow-color-scheme, ~"yellow", @colors--yellows__hex,
		length( @colors--yellows__hex ) );

	.background-color-class-loop( @use-yellow-color-scheme, ~"yellow", @colors--yellows__hex,
		length( @colors--yellows__hex ) );

	.define-bg-color-tint( ~"yellow", @colors--yellows__hex, @colors__accent );

/**   ----------------------------------------------------------------------------------------------
***   >>> §10.6: WSU Blues
**/

	.color-class-loop( @use-blue-color-scheme, ~"blue", @colors--blues__hex,
		length( @colors--blues__hex ) );

	.background-color-class-loop( @use-blue-color-scheme, ~"blue", @colors--blues__hex,
		length( @colors--blues__hex ) );

	.define-bg-color-tint( ~"blue", @colors--blues__hex, @colors__accent );

/**   ----------------------------------------------------------------------------------------------
***   >>> §10.7: WSU Oranges
**/

	.color-class-loop( @use-orange-color-scheme, ~"orange", @colors--oranges__hex,
		length( @colors--oranges__hex ) );

	.background-color-class-loop( @use-orange-color-scheme, ~"orange", @colors--oranges__hex,
		length( @colors--oranges__hex ) );

	.define-bg-color-tint( ~"orange", @colors--oranges__hex, @colors__accent );
};

.declare-ruleset(@daesa-utility-classes-ruleset, @oue-rules-wrapper);
