/*  ┌────────────────────────────────────────────────────────────────────────────────────────────┐
**  │ FILENAME: utility-classes.less                                                             │
**  │                                                                                            │
**  │ AUTHOR: Daniel Rieck <daniel.rieck@wsu.edu> (https://github.com/invokeImmediately)         │
**  │                                                                                            │
**  │ DESCRIPTION: Less import that declares a variety of utility classes for use in functional  │
**  │  styling of WSU Office of Undergraduate Education websites. Designed to be imported        │
**  │  downstream of other Less files in the final stylesheet build so its rules will have the   │
**  │  greatest possible weight in style conflict resolution.                                    │
**  └────────────────────────────────────────────────────────────────────────────────────────────┘
*/

/*  ================================================================================================
**  OUE UTILITY CLASSES
*/

/*    ───────────────────────────────────────────────────────────────────────────────────────────
**    TABLE OF CONTENTS:
**    ───────────────────────────────────────────────────────────────────────────────────────────
**    §1: Widths...............................................................................36
**        >>> §1.1: Percent widths.............................................................40
**        >>> §1.2: Max widths.................................................................80
**    §2: Typography...........................................................................87
**        >>> §1.1: Font Sizing................................................................91
**        >>> §1.2: Line Heights..............................................................148
**        >>> §1.3: Bolding...................................................................194
**        >>> §1.4: Text transformation.......................................................223
**    §3: Spacing.............................................................................234
**    §4: Floating............................................................................257
**    §5: Display.............................................................................273
**    §6: Margins.............................................................................293
**    ───────────────────────────────────────────────────────────────────────────────────────────
*/

/*    ----------------------------------------------------------------------------------------------
**    §1: Widths
*/

/*      ····························································································
**      >>> §1.1: Percent widths
*/
@pct-width-1--class: ~"5pct";
@pct-width-2--class: ~"10pct";
@pct-width-3--class: ~"15pct";
@pct-width-4--class: ~"20pct";
@pct-width-5--class: ~"25pct";
@pct-width-6--class: ~"30pct";
@pct-width-7--class: ~"35pct";
@pct-width-8--class: ~"40pct";
@pct-width-9--class: ~"45pct";
@pct-width-10--class: ~"50pct";
@pct-width-11--class: ~"55pct";
@pct-width-12--class: ~"60pct";
@pct-width-13--class: ~"65pct";
@pct-width-14--class: ~"70pct";
@pct-width-15--class: ~"75pct";
@pct-width-16--class: ~"80pct";
@pct-width-17--class: ~"85pct";
@pct-width-18--class: ~"90pct";
@pct-width-19--class: ~"95pct";
@pct-width-20--class: ~"100pct";

@pct-width--class-array: @pct-width-1--class, @pct-width-2--class, @pct-width-3--class,
	@pct-width-4--class, @pct-width-5--class, @pct-width-6--class, @pct-width-7--class,
	@pct-width-8--class, @pct-width-9--class, @pct-width-10--class, @pct-width-11--class,
	@pct-width-12--class, @pct-width-13--class, @pct-width-14--class, @pct-width-15--class,
	@pct-width-16--class, @pct-width-17--class, @pct-width-18--class, @pct-width-19--class,
	@pct-width-20--class;

.pct-width-loop(@idx) when (@idx > 0) and (@idx <= length(@pct-width-array)) {
	.pct-width-loop((@idx - 1));
	@class-name: extract(@pct-width--class-array, @idx);
	.width--@{class-name} {
		.width--pct(@idx);
	}
}
.pct-width-loop(length(@pct-width-array));

/*      ····························································································
**      >>> §1.2: Max widths
*/
.max-width--none {
	max-width: none;
}

/*    ----------------------------------------------------------------------------------------------
**    §2: Typography
*/

/*      ····························································································
**      >>> §2.1: Typograhy: Font Sizing
** 
**      NOTES:
**      • Units of "mx" stand for "milli-fold" and function similar to magnification units. Thus, 
**        1000mx = 1x, where x is the standard font-size for body-text. Thus, 1000mx means the same 
**        font-size as the default font-size for body text. 2000mx would be twice the size of body 
**        text.
**      • Depends on the utiltiy mixin .font-size(...) and the Less variable @fSize-array, which 
**        are both defined in utility-mixins.less.
*/

// TODO: Reduce number of options to reduce file size

@fSize--class-array: ~"400mx" @fSize-400mx, ~"500mx" @fSize-500mx, ~"600mx" @fSize-600mx,
	~"700mx" @fSize-700mx, ~"800mx" @fSize-800mx, ~"900mx" @fSize-900mx, ~"1000mx" @fSize-1000mx,
	~"1100mx" @fSize-1100mx, ~"1200mx" @fSize-1200mx, ~"1300mx" @fSize-1300mx,
	~"1400mx" @fSize-1400mx, ~"1500mx" @fSize-1500mx, ~"1600mx" @fSize-1600mx,
	~"1700mx" @fSize-1700mx, ~"1800mx" @fSize-1800mx, ~"1900mx" @fSize-1900mx,
	~"2000mx" @fSize-2000mx, ~"2100mx" @fSize-2100mx, ~"2200mx" @fSize-2200mx,
	~"2300mx" @fSize-2300mx, ~"2400mx" @fSize-2400mx;

.fSize-loop(@idx) when (@idx > 0) and (@idx <= length(@fSize-array)) {
	.fSize-loop((@idx - 1));
	@class-name: extract(extract(@fSize--class-array, @idx), 1);
	@value-idx: extract(extract(@fSize--class-array, @idx), 2);
	.font-size--@{class-name} {
		.font-size(@value-idx);
	}
}
.fSize-loop(length(@fSize-array));

// Semantic font-sizing with reference to standard heading sizes
.h1-text-size {
	.font-size(@h1-font-size);
}

.h2-text-size {
	.font-size(@h2-font-size);
}

.h3-text-size {
	.font-size(@h3-font-size);
}

.h4-text-size {
	.font-size(@h4-font-size);
}

.h5-text-size {
	.font-size(@h5-font-size);
}

.h6-text-size {
	.font-size(@h6-font-size);
}

/*!     ····························································································
***     >>> §2.2: Typograhy: Line heights
***
***     NOTES:
***     * See line 24 for explanation of "mx" units.
***     * Depends on the utiltiy mixin .set-lHeight(...) and the Less variable @lHeight-array, 
***       which are both defined in utility-mixins.less.
**/

@lHeight-1--class: ~"1000mx";
@lHeight-2--class: ~"1025mx";
@lHeight-3--class: ~"1050mx";
@lHeight-4--class: ~"1075mx";
@lHeight-5--class: ~"1100mx";
@lHeight-6--class: ~"1125mx";
@lHeight-7--class: ~"1150mx";
@lHeight-8--class: ~"1175mx";
@lHeight-9--class: ~"1200mx";
@lHeight-10--class: ~"1225mx";
@lHeight-11--class: ~"1250mx";
@lHeight-12--class: ~"1275mx";
@lHeight-13--class: ~"1300mx";
@lHeight-14--class: ~"1325mx";
@lHeight-15--class: ~"1350mx";
@lHeight-16--class: ~"1375mx";
@lHeight-17--class: ~"1400mx";
@lHeight-18--class: ~"1425mx";
@lHeight-19--class: ~"1450mx";
@lHeight-20--class: ~"1475mx";
@lHeight-21--class: ~"1500mx";

@lHeight--class-array: @lHeight-1--class, @lHeight-2--class, @lHeight-3--class, @lHeight-4--class, 
	@lHeight-5--class, @lHeight-6--class, @lHeight-7--class, @lHeight-8--class, @lHeight-9--class, 
	@lHeight-10--class, @lHeight-11--class, @lHeight-12--class, @lHeight-13--class, 
	@lHeight-14--class, @lHeight-15--class, @lHeight-16--class, @lHeight-17--class, 
	@lHeight-18--class, @lHeight-19--class, @lHeight-20--class, @lHeight-21--class;

.lHeight-loop(@idx) when (@idx > 0) and (@idx <= length(@lHeight-array)) {
	.lHeight-loop((@idx - 1));
	@class-name: extract(@lHeight--class-array, @idx);
	.line-height--@{class-name} {
		.line-height(@idx);
	}
}
.lHeight-loop(length(@lHeight-array));

/*!     ····························································································
***     >>> §2.3: Typograhy: Bolding
**/

@fWeight-1--class: ~"light";
@fWeight-1--value: @fWeight-light;
@fWeight-2--class: ~"normal";
@fWeight-2--value: @fWeight-normal;
@fWeight-3--class: ~"semi-bold";
@fWeight-3--value: @fWeight-semi-bold;
@fWeight-4--class: ~"bold";
@fWeight-4--value: @fWeight-bold;
@fWeight-5--class: ~"extra-bold";
@fWeight-5--value: @fWeight-extra-bold;

@fWeight--array: @fWeight-1--class @fWeight-1--value, @fWeight-2--class @fWeight-2--value, 
	@fWeight-3--class @fWeight-3--value, @fWeight-4--class @fWeight-4--value, 
	@fWeight-5--class @fWeight-5--value;

.fWeight-loop(@idx) when (@idx > 0) and (@idx <= length(@fWeight--array)) {
	.fWeight-loop((@idx - 1));
	@class-name: extract(extract(@fWeight--array, @idx), 1);
	@value: extract(extract(@fWeight--array, @idx), 2);
	.font-weight--@{class-name} {
		.font-weight(@value);
	}
}
.fWeight-loop(length(@fWeight--array));

/*!     ····························································································
***     >>> §2.4: Typograhy: Text transformation
**/
.text-transform--none {
	text-transform: none;
}

.text-transform--uppercase {
	text-transform: uppercase;
}

/*    ----------------------------------------------------------------------------------------------
**    §3: Spacing
*/

@spacing--array: ~"0mx" @spacing-0mx, ~"250mx" @spacing-250mx, ~"500mx" @spacing-500mx,
	~"750mx" @spacing-750mx, ~"1000mx" @spacing-1000mx, ~"1250mx" @spacing-1250mx,
	~"1500mx" @spacing-1500mx, ~"1750mx" @spacing-1750mx, ~"2000mx" @spacing-2000mx,
	~"2250mx" @spacing-2250mx, ~"2500mx" @spacing-2500mx, ~"2750mx" @spacing-2750mx,
	~"3000mx" @spacing-3000mx, ~"3250mx" @spacing-3250mx, ~"3500mx" @spacing-3500mx,
	~"3750mx" @spacing-3750mx, ~"4000mx" @spacing-4000mx;

.spacing-loop(@idx) when (@idx > 0) and (@idx <= length(@mSize-array)) {
	.spacing-loop((@idx - 1));
	@class-name: extract(extract(@spacing--array, @idx), 1);
	@value-idx: extract(extract(@spacing--array, @idx), 2);
	.spacing--@{class-name} {
		.column * + & {
			margin-top: extract(@mSize-array, @value-idx);
		}
	}
}
.spacing-loop(length(@mSize-array));

/*    ----------------------------------------------------------------------------------------------
**    §4: Floating
*/

.float--none {
	float: none;
}

.float--right {
	float: right;
}

.float--left {
	float: left;
}

/*    ----------------------------------------------------------------------------------------------
**    §5: Display
*/

.display--block {
	display: block;
}

.display--inline {
	display: inline;
}

.display--inline-block {
	display: inline-block;
}

.display--none {
	display: none;
}

/*    ----------------------------------------------------------------------------------------------
**    §5: Margins
*/

.margin-loop(@idx) when (@idx > 0) and (@idx <= length(@mSize-array)) {
	.spacing-loop((@idx - 1));
	@class-name: extract(extract(@spacing--array, @idx), 1);
	@value-idx: extract(extract(@spacing--array, @idx), 2);
	.margin-bottom--@{class-name} {
		.margin(@value-idx, "bottom");
	}

	.margin-left--@{class-name} {
		.margin(@value-idx, "left");
	}

	.margin-right--@{class-name} {
		.margin(@value-idx, "right");
	}

	.margin-top--@{class-name} {
		.margin(@value-idx, "top");
	}
}
.margin-loop(length(@mSize-array));

.margin--centered {
	margin-left: auto;
	margin-right: auto;
}
