// ┌────────────────────────────────────────────────┐
// │ VARIABLE NAMING GLOSSARY                       │
// │ TL;DR = "Remove vowels unless otherwise noted" │
// └────────────────────────────────────────────────┘
// artcl = article
// bttm = bottom
// cnstrn = constrain
// dflt = default
// dwn = down
// lnhght = line height
// lrg = large
// nrml = normal
// p = paragraph
// scl = scale
// sz = size
// tgln = tagline
// v = variable
// w = width
// wght = weight
// ■
@v-w-cnstrn-lrg: 800px;
@v-w-cnstrn-nrml: 660px;
@v-dflt-spcng: 2rem; // Default sitewide spacing
@v-btm-mrgns: 1rem; // Base size of paragraph default bottom margins
@v-btm-pads: 1rem; // Base size of paragraph default bottom pads
@v-p-sz: 1rem; // Base font size of paragraph elements
@v-p-lnhght: 1.375em; // Base line height of paragraph elements
@v-artcl-deck-sz: 1.2rem;
@v-artcl-tgln-sz: 1.45rem;
@v-artcl-tgln-lnhght: 1.275rem;
@v-artcl-tgln-wght: 500;
@v-bnnr-txt-sz: 1.25rem;
@v-p-jmpbck-sz: 0.6875rem;

@sz-xxxlrg: 1.75;
@sz-xxlrg: 1.75;
@sz-xlrg: 1.5;
@sz-lrg: 1.25;
@sz-nrml: 1.0;
@sz-smll: 0.75;
@sz-xsmll: 0.5;
@sz-xxsmll: 0.25;
@sz-xxxsmll: 0.125;

// Variables related to responsive design
@v-mbl-thrshld: 480px; // Viewport size at which mobile-friendly styling kicks in
@v-tblt-thrshld: 890px; // Viewport size at which tablet-friendly styling kicks in
@v-bckgrnd-thrshld: 1205px; // Body background no longer visible at this width
@v-lrgfrmt-thrshld: 1050px; // Viewport size at which large-format-friendly styling kicks in
@v-wdscrn-bckgrnd: 1440px; // Viewport width at which wide-screen backgrounds activate
@v-spn-thrshld: 791px; // Viewport width at which the WSU spine switches to a mobile-friendly mode
@v-rghtclmn-thrshld: 693px; // Viewport width at which column two of the sidebar-right builder section switches to a stacked mode
@v-scl-dwn: 0.875; // Scaling factor by which font size reduces as a smaller format is reached
