/** ┌────────────────────────────────────────────────────────────────────────────────────────────┐
*** │ FILENAME: variables.less                                                                   │
*** │                                                                                            │
*** │ AUTHOR: Daniel Rieck <daniel.rieck@wsu.edu> (https://github.com/invokeImmediately)         │
*** │                                                                                            │
*** │ DESCRIPTION: Contains Less variables utilized in wp-master-style-sheet.less and its        │
*** │   dependencies.                                                                            │
*** └────────────────────────────────────────────────────────────────────────────────────────────┘
**/

/**  ───────────────────────────────────────────────────────────────────────────────────────────────
***  TABLE OF CONTENTS:
***  ────────────────────────────────────────────────────────────────────────────────────────────
***  §1: Default sizing of spacing and fonts...................................................49
***    >>> §1.1: Columns.......................................................................53
***    >>> §1.2: Paragraphs....................................................................75
***    >>> §1.3: Headings......................................................................91
***    >>> §1.4: Article components...........................................................113
***  §2: Responsive design scaling factors....................................................135
***  §3: Screen thresholds for responsive design..............................................166
***  §4: Colors...............................................................................225
***    >>> §4.1: Color scheme flags...........................................................229
***    >>> §4.2: Hyperlinks...................................................................240
***  §5: Switches for controlling dependency inclusion........................................225
***  ───────────────────────────────────────────────────────────────────────────────────────────────
**/

/** ================================================================================================
*** LESS VARIABLES USED THROUGHOUT ALL DAESA WEBSITES
**/

/**   ----------------------------------------------------------------------------------------------
***   §1: Default sizing of spacing and fonts
**/

/**     ····························································································
***     >>> §1.1: Columns
**/

// TODO: change variable name to @root-fSize
@v-root-font-sz: 106.25%; // i.e., 100% on Chrome @ medium text is 16px as of 2018-03-26

@v-w-cnstrn-lrg: 800px;

@v-w-cnstrn-nrml: 660px;

// Default font size of div.column elements
@column-fs: 1rem;

// Default textual coloring of builder section columns
@column-color: extract(@colors--grays__hex, @colors__darker);

// Default sitewide spacing
@use-non-standard-spacing: 0;
@v-dflt-spcng: 2rem;
@default-spacing: 2rem;

/**     ····························································································
***     >>> §1.2: Paragraphs
**/

// Base size of paragraph default bottom margins
@v-btm-mrgns: (@v-dflt-spcng / 2);

// Base size of paragraph default bottom pads
@v-btm-pads: (@v-dflt-spcng / 2);

// Base font size of paragraph elements
@v-p-sz: 1em;

// Base line height of paragraph elements
@body-text--lHeight: 1.5em;

/**     ····························································································
***     >>> §1.3: Headings
**/

// Base line height of heading elements
@v-hX-lnhght: 1.1em;

// Base line height of h4 elements specifically
@v-h4-lnhght: 1.2em;

// Default h1 element font size
@v-h1-sz: @v-p-sz * 3 * 16 / 17;

// Default h2 element font size
@v-h2-sz: @v-p-sz * 2.2 * 16 / 17;

// Default h3 element font size
@v-h3-sz: @v-p-sz * 1.7 * 16 / 17;

// Default h4 element font size
@v-h4-sz: @v-p-sz * 1.4 * 16 / 17;

/**     ····························································································
***     >>> §1.4: Article components
**/

// Default article deck font size
@v-artcl-deck-sz: 1.2em;

// Default article tagline font size
@v-artcl-tgln-sz: 1.305em;

// Default article tagline line height
@v-artcl-tgln-lnhght: 1.275em;

// Default article tagline weight
@v-artcl-tgln-wght: 500;

// Default banner text font size
@v-bnnr-txt-sz: 1.25em;

// Default font size of jump back/to top shortcut links
@v-p-jmpbck-sz: 0.6875em;

/**   ----------------------------------------------------------------------------------------------
***   §2: Responsive design scaling factors
**/

// XXXL scaling factor
@sz-xxxlrg: 2;

// XXL scaling factor
@sz-xxlrg: 1.75;

// XL scaling factor
@sz-xlrg: 1.5;

// Large scaling factor
@sz-lrg: 1.25;

// Normal, 1x scaling factor
@sz-nrml: 1;

// Small scaling factor
@sz-smll: 0.75;

// XS scaling factor
@sz-xsmll: 0.5;

// XXS scaling factor
@sz-xxsmll: 0.25;

// XXXS scaling factor
@sz-xxxsmll: 0.125;

/**   ----------------------------------------------------------------------------------------------
***   §3: Screen thresholds for responsive design
**/

// Viewport width corresponding to the WQXGA screen resolution standard
@wqxga-width: 2560px;

// Viewport width corresponding to the WUXGA screen resolution standard
@wuxga-width: 1920px;

// Viewport size at which font sizing for desktop-sized displays kicks in
@desktop-width: 1073px;

// Viewport size at which tablet-friendly styling kicks in
@tablet-screen-width: 791px;

// Viewport size at which mobile-friendly styling for larger, pricier phones kicks in
@large-mobile-screen-width: 480px;

// Viewport size at which mobile-friendly styling for smaller, cheaper phones kicks in
@mobile-screen-width: 360px;

// Viewport width at which column two of the sidebar-right builder section switches to a stacked 
//  mode
@column-floating-threshold: 693px;

// Viewport width at which the WSU spine switches to a mobile/tablet-friendly mode
@spine-threshold: 989px;

// Body background no longer visible in Chrome at this width; spine width (198px) + scroll bar 
//  width (18px)
@background-width-threshold: (@spine-threshold + 216px);

// Viewport size at which large-format-friendly styling kicks in
@large-format-threshold: 1050px;

// Viewport width at which wide-screen backgrounds activate
@widescreen-background-width: 1440px;

// Viewport width at which wide-screen backgrounds activate
@background-visible-width: 1440px;


//@v-scl-dwn: 0.92195445;
// Scaling factor by which font size reduces as a smaller format is reached
@v-scl-dwn: 0.938;

// Scaling factor by which font size expands as a larger format is reached
@v-scl-up: 1.125;

// A list defining the sequence by which responsive websites set font sizes as different screen 
// sizes are encountered.
@default-scaling-factors: 1.118, 1.0, 0.941, 0.882, 0.824;
@default-scaling-indices: 1, 2, 1, 2, 3, 4; 

// Default font scaling for columns.

@column-fs-scaling-array: 1.125, 1.0, 1.125, 1.0, 0.941, 0.882;

/**   ----------------------------------------------------------------------------------------------
***   §4: Colors
**/

/**     ····························································································
***     >>> §4.1: Color scheme flags
**/

@use-gray-color-scheme: 1;
@use-crimson-color-scheme: 1;
@use-green-color-scheme: 0;
@use-yellow-color-scheme: 0;
@use-blue-color-scheme: 0;
@use-orange-color-scheme: 0;

/**     ····························································································
***     >>> §4.2: Hyperlinks
**/

@colors__links: @hex-crimson;
@colors__links__hover: @hex-light-crimson;
@colors__links__hover--alt: @hex-light-crimson--tinted;

/**   ----------------------------------------------------------------------------------------------
***   §5: Switches for controlling depdendency inclusion
**/

@use-design__daesa-hyperlinks: true;
@use-design__legacy-hyperlinks: false;
@use-design__css3-tooltips: false;
@use-design__provost-hyperlinks: false;
