// ┌────────────────────────────────────────────────┐
// │ VARIABLE NAMING GLOSSARY                       │
// │ TL;DR = "Remove vowels unless otherwise noted" │
// └────────────────────────────────────────────────┘
// artcl = article
// bttm = bottom
// cnstrn = constrain
// dflt = default
// dwn = down
// lnhght = line height
// lrg = large
// nrml = normal
// p = paragraph
// scl = scale
// sz = size
// tgln = tagline
// v = variable
// w = width
// wght = weight
// ■
@v-root-font-sz: 17px;
@v-w-cnstrn-lrg: 800px;
@v-w-cnstrn-nrml: 660px;
@v-clmn-sz: 1rem; // Default font size of div.column elements
@v-clmn-clr: @hex-darker-gray; // Default textual coloring of builder section columns
@v-dflt-spcng: 2rem; // Default sitewide spacing
@v-btm-mrgns: (@v-dflt-spcng / 2); // Base size of paragraph default bottom margins
@v-btm-pads: (@v-dflt-spcng / 2); // Base size of paragraph default bottom pads
@v-p-sz: 1em; // Base font size of paragraph elements
@v-p-lnhght: 1.275em; // Base line height of paragraph elements

@v-hX-lnhght: 1.1em; // Base line height of heading elements
@v-h4-lnhght: 1.2em; // Base line height of h4 elements specifically
@v-h1-sz: @v-p-sz * 3 * 16 / 17;
@v-h2-sz: @v-p-sz * 2.2 * 16 / 17;
@v-h3-sz: @v-p-sz * 1.7 * 16 / 17;
@v-h4-sz: @v-p-sz * 1.4 * 16 / 17;

@v-artcl-deck-sz: 1.2em;
@v-artcl-tgln-sz: 1.305em;
@v-artcl-tgln-lnhght: 1.275em;
@v-artcl-tgln-wght: 500;

@v-bnnr-txt-sz: 1.25em;

@v-p-jmpbck-sz: 0.6875em;

@sz-xxxlrg: 2;
@sz-xxlrg: 1.75;
@sz-xlrg: 1.5;
@sz-lrg: 1.25;
@sz-nrml: 1;
@sz-smll: 0.75;
@sz-xsmll: 0.5;
@sz-xxsmll: 0.25;
@sz-xxxsmll: 0.125;

// Variables related to responsive design
@v-mbl-thrshld: 360px; // Viewport size at which mobile-friendly styling for smaller, cheaper phones kicks in
@v-lg-mbl-thrshld: 480px; // Viewport size at which mobile-friendly styling for larger, pricier phones kicks in
@v-tblt-thrshld: 791px; // Viewport size at which tablet-friendly styling kicks in
@v-bckgrnd-thrshld: 1205px; // Body background no longer visible at this width
@v-lrgfrmt-thrshld: 1050px; // Viewport size at which large-format-friendly styling kicks in
@v-wdscrn-bckgrnd: 1440px; // Viewport width at which wide-screen backgrounds activate
@v-wuxga-width: 1920px; // Viewport width corresponding to the WUXGA screen resolution standard
@v-wqxga-width: 2560px; // Viewport width corresponding to the WQXGA screen resolution standard
@v-dsktp-thrshld: 1073px; // Viewport size at which font sizing for desktop-sized displays kicks in
@v-spn-thrshld: 989px; // Viewport width at which the WSU spine switches to a mobile/tablet-friendly mode
@v-rghtclmn-thrshld: 693px; // Viewport width at which column two of the sidebar-right builder section switches to a stacked mode
//@v-scl-dwn: 0.92195445;
@v-scl-dwn: 0.938; // Scaling factor by which font size reduces as a smaller format is reached
@v-scl-up: (1 / @v-scl-dwn);

@v-fnt-sclng-fctrs: @v-scl-up, 1.0, @v-scl-up, 1.0, @v-scl-dwn, (@v-scl-dwn * @v-scl-dwn);
@v-fnt-sclng-fctrs-alt: 1.0, 1.0, 1.0, 1.0, @v-scl-dwn, (@v-scl-dwn * @v-scl-dwn);
@v-fnt-sclng-fctrs-alt-2: 1.0, @v-scl-dwn, 1.0, @v-scl-dwn, (@v-scl-dwn * @v-scl-dwn), (@v-scl-dwn * @v-scl-dwn);
