/*! ╔═══════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╗
*   ║ MASTER STYLE SHEET for WSU Office of Undergraduate Education Websites ############################################### ║
*   ╠=======================================================================================================================╣
*   ║ AUTHOR: Daniel Rieck [daniel.rieck@wsu.edu] (https://github.com/invokeImmediately)                                    ║
*   ║                                                                                                                       ║
*   ║ DESCRIPTION: Intended for use with all elements regardless of semantics                                               ║
*   ║                                                                                                                       ║
*   ║ LAYOUT: This document is laid out according to the W3C HTML5 language specification (please see                       ║
*   ║          https://www.w3.org/TR/html5/ for more information). Rulesets are generally declared in the same sequence as  ║
*   ║          their matching elements appear in the HTML5 spec. Moreover, style declarations are made according to browser ║
*   ║          rendering sequence; styles for controlling layout are followed by those related to painting and then by      ║
*   ║          those associated with dynamic behaviors to the DOM tree.                                                     ║
*   ╚═══════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝
*/
/*!   ╔═══════════════════════════════════════════════════════════════════════════════════════════════════════════════════╗
*     ║ #### Global LESS VARIABLES, LESS MIXINS, and CLASS SPECIFIC rulesets ############################################ ║
*     ╠===================================================================================================================╣
*     ║ LESS variables and mixins and low-specificity CSS3 rulesets designed for either styling nodes without             ║
*     ║ regard to semantics or being included within LESS dependencies.                                                   ║
*     ╚═══════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝
*/
/*!     ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
*       │ ++++ Additional FONTS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
*       │   CSS classes and LESS variables and parametric mixins designed for inclusion in dependencies to facilitate   │
*       │   typographical design of dependent layouts.                                                                  │
*       └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘
*/
@import "fonts.less";

//      ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
//      │ ++++ COLOR variables and mixins +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//      │   LESS variables and parametric mixins designed for inclusion in dependencies to specify coloring of          │
//      │   backgrounds, borders, text, and outlines.                                                                   │
//      └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

@import "color-palette.less";

//      ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
//      │ ++++ All other VARIABLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//      │   LESS variables intended for use within media queries and style declarations to specify                      │
//      │   spacing, padding, and sizing, and to facilitate responsive behaviors.                                       │
//      └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

@import "variables.less";

//      ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
//      │ ++++ Miscellaneous MIXINS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//      │   LESS mixins designed for inclusion within dependencies, regardless of semantics, to specify                 │
//      │   spacing, padding, sizing, textual flow, and responsive behaviors.                                           │
//      └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

@import "mixins.less";

//      ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
//      │ ++++ ANIMATIONS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//      │   LESS mixins designed for efficiently declaring CSS3 animations, transitions, and transformations with       │
//      │   automatic cross-platform support.                                                                           │
//      └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

@import "animations.less";

/*!     ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
*       │ ++++ CLASS SPECIFIC rulesets ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
*       └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘
*/
:target:not(.no-anchor-highlighting) {
    position: relative;
    &:before {
        content: "";
        position: absolute;
         top: (-1 * @v-dflt-spcng / 2);
         right: (-1 * @v-dflt-spcng / 2);
         bottom: (-1 * @v-dflt-spcng / 2);
         left: (-1 * @v-dflt-spcng / 2);
        .rgb-light-crimson(); background-color: rgba(@rval,@gval,@bval,0);
        .rgb-light-crimson(); border: 1px solid rgba(@rval,@gval,@bval,0);
        z-index: -1;
        .animation(animFlashHighlight; 1.325s; linear; .175s; 1);
        .keyframes(animFlashHighlight; @rules-flash-highlight);
		.row:not(.clear-none)& {
			content: "";
			width: auto;
			height: auto;
			visibility: visible;
		}
    }
}

/*!   ╔═══════════════════════════════════════════════════════════════════════════════════════════════════════════════════╗ 
*     ║ #### SEMANTICALLY SPECIFIC RULESETS: DOCUMENT SECTIONS ########################################################## ║
*     ╠===================================================================================================================╣
*     ║ Rulesets that target section-level nodes.                                                                         ║
*     ╚═══════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝
*/

/*!     ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
*       │ ++++ HTML rulesets ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
*       └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘
*/
html {
    font-size: @v-root-font-sz;
}
/*!     ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
*       │ ++++ BODY rulesets ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
*       └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘
*/
body {
    &:extend(.has-dflt-font);
}

//      ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
//      │ ++++ ARTICLE rulesets +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//      └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘
//

@import "article.less";

//      ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
//      │ ++++ SECTION rulesets +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//      └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

@import "section.less";

//      ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
//      │ ++++ ASIDE rulesets +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//      └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

@import "aside.less";

//      ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
//      │ ++++ H1-H6 & HEADER rulesets ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//      └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

@import "headers.less";

//      ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
//      │ ++++ FOOTER rulesets ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//      └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

footer.article-footer {
    div.author-info {
        display: none;
    }
}

/*!   ╔═══════════════════════════════════════════════════════════════════════════════════════════════════════════════════╗ 
*     ║ #### CONTENT GROUPING NODES ##################################################################################### ║
*     ╠===================================================================================================================╣
*     ║ Rulesets that target nodes for grouping content.                                                                  ║
*     ╚═══════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝
*/

//      ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
//      │ ++++ PARAGRAPH rulesets +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//      └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

@import "paragraphs.less";

//      ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
//      │ ++++ LIST rulesets ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//      └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

@import "lists.less";

//      ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
//      │ ++++ DIV rulesets +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//      └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

@import "news-posts.less";

.award-banner {
    margin-top: 1rem;
     margin-bottom: 1rem;
}

@import "div.cycle-slideshow.less";

@import "div.column.less";

@import "interactively-flipped-panels.less";

@import "page-covering-notice.less";

@import "recent-updates.less";

//      ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
//      │ ++++ MAIN rulesets ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//      └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

@import "main.less";

/*!   ╔═══════════════════════════════════════════════════════════════════════════════════════════════════════════════════╗ 
*     ║ #### TEXT-LEVEL NODES ########################################################################################### ║
*     ╠===================================================================================================================╣
*     ║ Rulesets that target nodes with text-level semantics.                                                             ║
*     ╚═══════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝
*/

//      ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
//      │ ++++ A rulesets +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//      └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

@import "hyperlink.less";

/*!     ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
*       │ ++++ STRONG rulesets ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
*       └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘
*/
strong.opening-line {
    font-size: 1.0625em;
    color: @hex-dark-green;
    .rgb-darkest-green(); text-shadow: 1px 1px 1px rgba(@rval, @gval, @bval, 0.3333);
}

strong.stands-out {
	.has-subst-font;
	font-size: 1.2em;
}

/*!     ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
*       │ ++++ MARK rulesets ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
*       └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘
*/
mark.highlight {
    background-color: transparent;
    font-style: normal;
    color: #AEC7CB;
}

/*!     ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
*       │ ++++ SPAN rulesets ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
*       └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘
*/
@import "span.less";

/*!     ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
*       │ ++++ CITE rulesets ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
*       └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘
*/
cite.article-author {
    display: none;
}

/*!   ╔═══════════════════════════════════════════════════════════════════════════════════════════════════════════════════╗ 
*     ║ #### EMBEDDED CONTENT ########################################################################################### ║
*     ╠===================================================================================================================╣
*     ║ Rulesets that target nodes representing embedded content.                                                         ║
*     ╚═══════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝
*/

//      ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
//      │ ++++ IMG rulesets +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//      └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

@import "img.less";

//      ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
//      │ ++++ IFRAME rulesets ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
//      └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

@import "iframe.less";

/*!   ╔═══════════════════════════════════════════════════════════════════════════════════════════════════════════════════╗ 
*     ║ #### TABULAR DATA ############################################################################################### ║
*     ╠===================================================================================================================╣
*     ║ Rulesets that nodes for representing tabular data.                                                                ║
*     ╚═══════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝
*/
@import "tables.less";

/*!   ╔═══════════════════════════════════════════════════════════════════════════════════════════════════════════════════╗ 
*     ║ #### FORMS ###################################################################################################### ║
*     ╠===================================================================================================================╣
*     ║ Styling applied to nodes representing a form's user interface.                                                    ║
*     ╚═══════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝
*/
@import "forms.less";

/*!   ╔═══════════════════════════════════════════════════════════════════════════════════════════════════════════════════╗ 
*     ║ #### SCRIPTING ################################################################################################## ║
*     ╠===================================================================================================================╣
*     ║ Rulesets for interactive elements that do not function as intended without the support of JavaScript.             ║
*     ╚═══════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝
*/
/*!     ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
*       │ ++++ CLASS SPECIFIC rulesets related to script-driven elements ++++++++++++++++++++++++++++++++++++++++++++++ │
*       └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘
*/
/*!       ┌-----------------------------------------------------------------------------------------------------------┐
*         │ ···· Drop-down toggle: upon click, either drops down or pulls up a related element ······················ │
*         └-----------------------------------------------------------------------------------------------------------┘
*/

@import "drop-down-toggles.less";

/*!       ┌-----------------------------------------------------------------------------------------------------------┐
*         │ ···· Subtle Panels: Content panels with highly faded appearence until mousehover ························ │
*         └-----------------------------------------------------------------------------------------------------------┘
*/
.subtlePanel() {
    opacity: .3333;
    transition: opacity .3333s;
     -webkit-transition: opacity .3333s;
     -moz-transition: opacity .3333s;
     -o-transition: opacity .3333s;
    animation: subtlePanel-FadeOut 1.5s linear 0 1;
     -webkit-animation: subtlePanel-FadeOut 1.5s linear 0 1;
     -moz-animation: subtlePanel-FadeOut 1.5s linear 0 1;
     -o-animation: subtlePanel-FadeOut 1.5s linear 0 1;
    @-webkit-keyframes subtlePanel-FadeOut {
        0% {
            opacity: 1;
        }
        33% {
            opacity: 1;
        }
        100% {
            opacity: .3333;
        }
    }
    @keyframes subtlePanel-FadeOut {
        0% {
            opacity: 1;
        }
        33% {
            opacity: 1;
        }
        100% {
            opacity: .3333;
        }
    }
    &:hover {
        opacity: 1;
    }
}

/*!       ┌-----------------------------------------------------------------------------------------------------------┐
*         │ ···· Flipped content panels ············································································· │
*         └-----------------------------------------------------------------------------------------------------------┘
*/
.flipped-content-back {
    display: none;
    width: 100%;
}

//        ┌-----------------------------------------------------------------------------------------------------------┐
//        │ ···· qTip tooltips ······················································································ │
//        └-----------------------------------------------------------------------------------------------------------┘

@import "qtips.less";

//        ┌-----------------------------------------------------------------------------------------------------------┐
//        │ ···· jQuery-based photo slideshows ······································································ │
//        └-----------------------------------------------------------------------------------------------------------┘

@import "cycle2.less";

//        ┌-----------------------------------------------------------------------------------------------------------┐
//        │ ···· Quick-tabs panels ·················································································· │
//        └-----------------------------------------------------------------------------------------------------------┘

@import "quick-tabs.less";

/*!       ┌-----------------------------------------------------------------------------------------------------------┐
*         │ ···· Tribe Events Calendars ············································································· │
*         └-----------------------------------------------------------------------------------------------------------┘
*/

@import "events-calendar.less";

/*!     ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
*       │ ++++ DIV rulesets +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
*       └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘
*/
/*!       ┌-----------------------------------------------------------------------------------------------------------┐
*         │ ···· Auto-scrolling image containers ···································································· │
*         └-----------------------------------------------------------------------------------------------------------┘
*/
div.auto-scroller {
    position: relative;
    .inner-scroll-area {
        position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
        overflow: hidden;
    }
    ul {
        position: relative;
        padding: 0;
        margin: 0;
        li {
            position: absolute;
            padding: 0;
            margin: 0;
            list-style-type: none;
            list-style-image: none;
        }
    }
}
