/*
Welcome to custom CSS for the WSU Spine Theme!

You may delete these comments and get started with your custom stylesheet.
Before doing so, please review the WSU web standards:

http://brand.wsu.edu/media/web/web-standards/

As a general rule of thumb, if your styles target aspects of the spine
(#spine), that's against standard, whereas if you're styling elsewhere on
the page, it's all good.
*/
@import "color-palette.less";
@import "variables.less";
@import "mixins.less";
@import "animations.less";

/*  ╔══════════════════════════════════════════════════════════════════════════════════════════════╗
 *  ║ #### GENERIC CLASSES & SELECTORS ########################################################### ║
 *  ╠==============================================================================================╣
 *  ║ Styling of classes applied to multiple elements with low specificity.                        ║
 *  ╚══════════════════════════════════════════════════════════════════════════════════════════════╝
 */
.indent-1x {
    padding-left: 2rem;
}

.indent-2x {
    padding-left: 4rem;
}

.indent-3x {
    padding-left: 6rem;
}

.indent-4x {
    padding-left: 8rem;
}

.initially-hidden {
    display: none;
}

.fade-in-from-left {
    animation: anim-fade-in-from-left 1s;
     -webkit-animation: anim-fade-in-from-left 1s;
     -moz-animation: anim-fade-in-from-left 1s;
     -o-animation: anim-fade-in-from-left 1s;
    @keyframes anim-fade-in-from-left { .mixi-fade-in-from-left(); }
     @-webkit-keyframes anim-fade-in-from-left { .mixi-fade-in-from-left(); }
     @-moz-keyframes anim-fade-in-from-left { .mixi-fade-in-from-left(); }
     @-o-keyframes anim-fade-in-from-left { .mixi-fade-in-from-left(); }
}

:target {
    position: relative;
    &:before {
        content: "";
        position: absolute;
         top: -1px;
         right: -1px;
         bottom: -1px;
         left: -1px;
        .rgb-light-crimson(); background-color: rgba(@rval,@gval,@bval,0);
        .rgb-light-crimson(); border: 1px solid rgba(@rval,@gval,@bval,0);
        z-index: -1;
        animation: animFlashHighlight 1.325s linear .175s 1 normal;
         -webkit-animation: animFlashHighlight 1.325s linear .175s 1 normal;
         -moz-animation: animFlashHighlight 1.325s linear .175s 1 normal;
         -o-animation: animFlashHighlight 1.325s linear .175s 1 normal;
        animation-play-state: running;
         -webkit-animation-play-state: running;
         -moz-animation-play-state: running;
         -o-animation-play-state: running;        
        @keyframes animFlashHighlight { .mixi-flash-highlight(); }
         @-webkit-keyframes animFlashHighlight { .mixi-flash-highlight(); }
         @-moz-keyframes animFlashHighlight { .mixi-flash-highlight(); }
         @-o-keyframes animFlashHighlight { .mixi-flash-highlight(); }
    }
}

@-webkit-keyframes animGlowingHighlight {
    0% {
        .rgb-sky-blue(); background-color: rgba(@rval,@gval,@bval,0.75);
        border-color: rgba(@rval,@gval,@bval,1);
    }
    100% {
        .rgb-sky-blue(); background-color: rgba(@rval,@gval,@bval,0.25);
        border-color: rgba(@rval,@gval,@bval,0.5);
    }
}
@keyframes animGlowingHighlight {
    0% {
        .rgb-sky-blue(); background-color: rgba(@rval,@gval,@bval,0.75);
        border-color: rgba(@rval,@gval,@bval,1);
    }
    100% {
        .rgb-sky-blue(); background-color: rgba(@rval,@gval,@bval,0.25);
        border-color: rgba(@rval,@gval,@bval,0.5);
    }
}

/*  ╔══════════════════════════════════════════════════════════════════════════════════════════════╗ 
 *  ║ #### ASIDES ################################################################################ ║
 *  ╠==============================================================================================╣
 *  ║ Styling applied to [aside]...[/aside] elements.                                              ║
 *  ╚══════════════════════════════════════════════════════════════════════════════════════════════╝
 */
aside {
    &:not(:first-child).widget header {
        margin-top: 1rem;
    }
    &.widget header {
        font-weight: bold;
        font-size: 1rem;
    }
    &.widget_archive {
        label.screen-reader-text {
            display: none;
        }
    }
}

section.side-right div.column.two aside, section.row.side-right div.column.two aside {
    padding: (@v-dflt-spcng / 2);
    .rgb-lighter-gray(); background: rgba(@rval, @gval, @bval, 0.8);
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.9), 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
    p:not(.centered) {
        text-align: left;
    }
}

/*  ╔══════════════════════════════════════════════════════════════════════════════════════════════╗ 
 *  ║ #### CHARACTER FORMATTING ################################################################## ║
 *  ╠==============================================================================================╣
 *  ║ Styling applied to [strong]...[/strong], [span]...[/span], [mark][/mark], etc. elements.     ║
 *  ╚══════════════════════════════════════════════════════════════════════════════════════════════╝
 */
strong.opening-line {
    font-size: 1.0625em;
    color: @hex-dark-green;
    .rgb-darkest-green(); text-shadow: 1px 1px 1px rgba(@rval, @gval, @bval, 0.3333);
}

mark.highlight {
    background-color: transparent;
    font-style: normal;
    color: #AEC7CB;
}

span.accentuated-text {
    font-family: 'Open Sans Condensed', 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode',
     'Lucida Sans', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    line-height: normal;
    color: @hex-dark-blue;
    &.gray {
        color: @hex-dark-gray;
    }
}

/*  ╔══════════════════════════════════════════════════════════════════════════════════════════════╗ 
 *  ║ #### CITES ################################################################################# ║
 *  ╠==============================================================================================╣
 *  ║ Styling applied to [cite]...[/cite] elements.                                                ║
 *  ╚══════════════════════════════════════════════════════════════════════════════════════════════╝
 */
cite.article-author {
    display: none;
}

/*  ╔══════════════════════════════════════════════════════════════════════════════════════════════╗ 
 *  ║ #### DIVS ################################################################################## ║
 *  ╠==============================================================================================╣
 *  ║ Styling applied to [div]...[/div] elements.                                                  ║
 *  ╚══════════════════════════════════════════════════════════════════════════════════════════════╝
 */
div.award-banner {
    margin-top: 1rem;
     margin-bottom: 1rem;
}

div.article-summary {
    aside.article-sidebar, img, object, p.article-media-contacts {
        display: none;
    }
    img.attachment-spine-thumbnail_size {
        display: block;
    }
}

@import "div.column.less";
@import "paragraphs.less";
@import "tables.less";
@import "interactively-flipped-panels.less";
@import "page-covering-notice.less";
@import "recent-updates.less";

div.auto-scroller {
    position: relative;
    .inner-scroll-area {
        position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
        overflow: hidden;
    }
    ul {
        position: relative;
        padding: 0;
        margin: 0;
        li {
            position: absolute;
            padding: 0;
            margin: 0;
            list-style-type: none;
            list-style-image: none;
        }
    }
}

/*  ╔══════════════════════════════════════════════════════════════════════════════════════════════╗ 
 *  ║ #### FOOTERS ############################################################################### ║
 *  ╠==============================================================================================╣
 *  ║ Styling applied to [footer]...[/footer] elements and their children.                         ║
 *  ╚══════════════════════════════════════════════════════════════════════════════════════════════╝
 */
footer.article-footer {
    div.author-info {
        display: none;
    }
}

/*  ╔══════════════════════════════════════════════════════════════════════════════════════════════╗ 
 *  ║ #### HEADERS ############################################################################### ║
 *  ╠==============================================================================================╣
 *  ║ Styling applied to [header]...[/header], [h1]...[/h1], [h2]...[/h2], etc. elements.          ║
 *  ╚══════════════════════════════════════════════════════════════════════════════════════════════╝
 */
h2.article-title a {
    border-bottom: none;
}

div.column {
    header.article-header {
        h1.article-title, h2.article-title {
            font-size: (@v-p-sz * 2);
            @media all {
                @media (min-width: (@v-mbl-thrshld + 1)) and (max-width: (@v-lrgfrmt-thrshld - 1)) {
                    font-size: (@v-p-sz * 2 * @v-scl-dwn);
                }            
                @media (max-width: @v-mbl-thrshld) {
                        font-size: (@v-p-sz * 2 * @v-scl-dwn * @v-scl-dwn);
                }
            }
        }
    }
}

header.main-header {
    span.sup-header-default {
        margin-bottom: .5rem;
        font-size: .9rem;
        @media all {
            @media (max-width: 561px) {
                font-size: .75rem;
            }
        }
    }
    span.sub-header-default {
        @media all {
            font-size: 2.5rem;
            line-height: 0.8em;
            @media (max-width: 493px) {
                font-size: 2.08333rem;
                line-height: 1em;
            }
            @media (min-width: 494px) {
                @media (max-width: 561px) {
                    font-size: 1.3rem;
                    line-height: 1em;
                }
            }
        }
    }
    sub.sub-header {
        @media all {
            font-size: 2.5rem;
            line-height: 0.8em;
            @media (max-width: 493px) {
                font-size: 2.08333rem;
                line-height: 1em;
            }
            @media (min-width: 494px) and (max-width: 561px) {
                font-size: 1.3rem;
                line-height: 1em;
            }
        }
    }    
}

/*  ╔══════════════════════════════════════════════════════════════════════════════════════════════╗ 
 *  ║ #### IMAGES ################################################################################ ║
 *  ╠==============================================================================================╣
 *  ║ Styling applied to [img]...[/img] elements.                                                  ║
 *  ╚══════════════════════════════════════════════════════════════════════════════════════════════╝
 */
img {
    &.autoScaled {
        height: auto;
        width: 100%;
    }
    &.autoScaled-byHeight {
        height: 100%;
        width: auto;
    }
    &.autoScaledTo90 {
        height: auto;
        width: 90%;
    }
    &.autoScaledTo80 {
        height: auto;
        width: 80%;
    }
    &.autoScaledTo70 {
        height: auto;
        width: 70%;
    }
    &.autoScaledTo60 {
        height: auto;
        width: 60%;
    }
    &.autoScaledToHalf {
        height: auto;
        width: 50%;
    }
    &.autoScaledTo40 {
        height: auto;
        width: 40%;
    }
    &.autoScaledToThird {
        height: auto;
        width: 33%;
    }
    &.autoScaledTo30 {
        height: auto;
        width: 30%;
    }
    &.autoScaledToQuarter {
        height: auto;
        width: 25%;
    }
    &.autoScaledTo20 {
        height: auto;
        width: 20%;
    }
    &.autoScaledTo10 {
        height: auto;
        width: 10%;
    }
    &.shiftToCenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
    }
    &.shiftToLeft {
        float: left;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }
    &.shiftToRight {
        float: right;
        margin-left: 2rem;
        margin-bottom: 1rem;
    }
    &.fancy {
        .rgb-dark-gray(); border: 1px solid rgba(@rval,@gval,@bval,.5);
        .rgb-black(); box-shadow: 2px 2px 2px rgba(@rval,@gval,@bval,0.5);
    }
    &.symbolic-image {
        float: right;
        width: 144px;
        height: auto;
        margin-left: 20px;
        margin-bottom: 15px;
        .rgb-dark-gray(); border: 1px solid rgba(@rval,@gval,@bval,.5);
        .rgb-black(); box-shadow: 2px 2px 2px rgba(@rval,@gval,@bval,0.5);
        @media screen {
            @media (max-width: (@v-lrgfrmt-thrshld - 1)) {
                img.symbolic-image {
                    width: 96px;
                }
            }
        }
    }
}

/*  ╔══════════════════════════════════════════════════════════════════════════════════════════════╗ 
 *  ║ #### INPUTS ################################################################################ ║
 *  ╠==============================================================================================╣
 *  ║ Styling applied to [input]...[/input] and [label]...[/label] elements.                       ║
 *  ╚══════════════════════════════════════════════════════════════════════════════════════════════╝
 */
input.read-more-state {
    display: none;
    &:checked + div.read-more-target {
        margin-top: 0;
        height: auto;
        opacity: 1;
    }
    & ~ p label.read-more-trigger:before {
        content: 'Show more';
    }
}

label.read-more-trigger {
    display: inline-block;
    padding: 0 .5rem;
    .rgb-accent-yellow(); background-color: rgba(@rval,@gval,@bval,0.25);
    border: 1px solid #2a3033;
    border-radius: .25rem;
    font-size: .9rem;
    line-height: 2;
    color: @hex-dark-gray;
    transition: .333s ease;
     -webkit-transition: .333s ease;
     -moz-transition: .333s ease;
     -o-transition: .333s ease;
    animation: read-more-trigger-glow 5s linear 0 infinite;
     -webkit-animation: read-more-trigger-glow 5s linear 0 infinite;
     -moz-animation: read-more-trigger-glow 5s linear 0 infinite;
     -o-animation: read-more-trigger-glow 5s linear 0 infinite;
    cursor: pointer;
    @keyframes read-more-trigger-glow { .mixi-read-more-trigger-glow(); }
     @-webkit-keyframes read-more-trigger-glow { .mixi-read-more-trigger-glow(); }
     @-moz-keyframes read-more-trigger-glow { .mixi-read-more-trigger-glow(); }
     @-o-keyframes read-more-trigger-glow { .mixi-read-more-trigger-glow(); }
}
label.read-more-trigger:hover {
    animation: none;
     -webkit-animation: none;    
    .rgb-accent-yellow(); background-color: rgba(@rval,@gval,@bval,1.0);
    box-shadow: 0 0 18px rgba(@rval,@gval,@bval,0.6667);
    border: 1px solid #2a3033;
    color: @hex-darkest-gray;
}
div.read-more-target {
    height: 0;
    overflow: hidden;
    margin-top: .5rem;
    opacity: 0;
    transition: .333s ease;
     -webkit-transition: .333s ease;
     -moz-transition: .333s ease;
     -o-transition: .333s ease;
}
.read-more-state:checked ~ p label.read-more-trigger:before {
    content: 'Show less';
}

@media screen and (min-width: 906px) {
    div.readability-controlled {
/*      margin-right: auto;
        margin-left: auto; */
        width: 70%;
    }
}

/*  ╔══════════════════════════════════════════════════════════════════════════════════════════════╗ 
 *  ║ #### INPUT FORMS ########################################################################### ║
 *  ╠==============================================================================================╣
 *  ║ Styling applied to input elements to which the gravity form classes have been applied.       ║
 *  ╚══════════════════════════════════════════════════════════════════════════════════════════════╝
 */
div.column {
    .gform_wrapper {
        max-width: 990px;
        .gsection {
            margin-bottom: 0;
        }
        .gfield_checkbox li label, .gfield_radio li label {
            font-weight: normal;
        }
        .ginput_complex {
            label {
                margin-bottom: 0;
            }
            span.address_line_1 label {
                margin-bottom: 0.75em;
            }
            span.address_city, span.address_state, span.address_zip {
                margin-top: 0.75em;
            }
        }
        label.gfield_label {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 1.125em;
        }
        ul:last-child {
            padding-bottom: 0;
        }
        .gform_body > ul {
            & > li:not(.gsection):not(.gfield_html) + li:not(.gsection):not(.no-top-border)::before {
                display: block;
                width: 95%;
                height: 0;
                margin: 1.5em auto;
                .rgb-dark-gray(); border-top: 1px dashed rgba(@rval,@gval,@bval,0.3333);
                 border-bottom: 1px dashed rgba(160,160,160,0.25);
                content: "";
            }
        }
    }
}
/*, li + li:not(.gsection)::before*/

/*  ╔══════════════════════════════════════════════════════════════════════════════════════════════╗ 
 *  ║ #### LISTS ################################################################################# ║
 *  ╠==============================================================================================╣
 *  ║ Styling applied to [ul]...[/ul] and [ol]...[/ol] elements with low specificity.              ║
 *  ╚══════════════════════════════════════════════════════════════════════════════════════════════╝
 */
ul.external-links li {
    list-style-image: url(/wp-content/uploads/sites/906/2015/08/external-link-bullet.png);
}

/*  ╔══════════════════════════════════════════════════════════════════════════════════════════════╗ 
 *  ║ #### SECTIONS ############################################################################## ║
 *  ╠==============================================================================================╣
 *  ║ Styling applied to [section]...[/section] elements with low specificity.                     ║
 *  ╚══════════════════════════════════════════════════════════════════════════════════════════════╝
 */
section {
    &.column-one-with-bottom-margin > div.one {
        margin-bottom: 2rem;
    }
    &.article-header {
        height: 120px;
        margin-bottom: 1rem;
        div.header-content {
            position: relative;
             top: 50%;
            margin-right: 1rem;
            margin-left: 1rem;
            transform: translateY(-50%);
        }
        @media screen {
            div.header-content {
                h1 {
                    font-family: 'Open Sans Condensed', 'Open Sans';
                    font-size: 70px;
                    line-height: 1.071428571428571em;
                    color: @hex-white;
                    .rgb-black(); text-shadow: 0 1px 0 #bbb,
                     0 2px 0 #999, 0 3px 0 #777,
                     0 4px 1px rgba(@rval,@gval,@bval,.1),
                     0 0 5px rgba(@rval,@gval,@bval,.1),
                     0 1px 3px rgba(@rval,@gval,@bval,.3),
                     0 3px 5px rgba(@rval,@gval,@bval,.2),
                     0 5px 10px rgba(@rval,@gval,@bval,.25),
                     0 0 2px #000, 0 4px 2px #000;
                    -webkit-font-smoothing: antialiased !important;
                }
                h2 {
                    font-family: 'Open Sans Condensed', 'Open Sans';
                    margin-bottom: .75rem;
                    font-size: 3.0238rem;
                    line-height: 0.8em;
                    text-transform: uppercase;
                    color: @hex-white;
                    .rgb-black(); text-shadow: 0 1px 0 #bbb,
                     0 2px 0 #999, 0 3px 0 #777,
                     0 4px 1px rgba(@rval,@gval,@bval,.1),
                     0 0 5px rgba(@rval,@gval,@bval,.1),
                     0 1px 3px rgba(@rval,@gval,@bval,.3),
                     0 3px 5px rgba(@rval,@gval,@bval,.2),
                     0 5px 10px rgba(@rval,@gval,@bval,.25),
                     0 0 2px #000, 0 4px 2px #000;
                    -webkit-font-smoothing: antialiased !important;
                }
                h3 {
                    padding: .1rem .2rem .2rem;
                    margin-top: 0;
                     margin-bottom: 0;
                    .rgb-crimson(); background-color: rgba(@rval,@gval,@bval,0.95);
                    border: 1px solid white;
                    font-size: 1.35rem;
                    text-transform: uppercase;
                    color: @hex-white;
                    .rgb-black(); text-shadow: 0 .5px 0 #aaa, 0 1px 0 #888,
                     0 1.5px .5px rgba(@rval,@gval,@bval,.1),
                     0 0 2.5px rgba(@rval,@gval,@bval,.1),
                     0 .5px 1.5px rgba(@rval,@gval,@bval,.3),
                     0 1px 2.5px rgba(@rval,@gval,@bval,.2),
                     0 0 .5px #000, 0 1.5px 1px #000;
                    -webkit-font-smoothing: antialiased !important;
                }
            }
        }
    }
    &.halves {
        div.column {
            p {
                text-align: left;
            }
        }
    }
    &.side-right.large-format-friendly, &.row.side-right.large-format-friendly {
        @media all {
            @media (min-width: (@v-lrgfrmt-thrshld + 1)) {
                /* .rgb-bright-gray(); background: -webkit-linear-gradient(left,
                 rgba(@rval, @gval, @bval, 0.0) 0px, rgba(@rval, @gval, @bval, 0.0) 676px,
                 rgba(@rval, @gval, @bval, 1.0) 676px);
                background: -moz-linear-gradient(left,
                 rgba(@rval, @gval, @bval, 0.0) 0px, rgba(@rval, @gval, @bval, 0.0) 676px,
                 rgba(@rval, @gval, @bval, 1.0) 676px);
                background: -ms-linear-gradient(left,
                 rgba(@rval, @gval, @bval, 0.0) 0px, rgba(@rval, @gval, @bval, 0.0) 676px,
                 rgba(@rval, @gval, @bval, 1.0) 676px);
                background: -o-linear-gradient(left,
                 rgba(@rval, @gval, @bval, 0.0) 0px, rgba(@rval, @gval, @bval, 0.0) 676px,
                 rgba(@rval, @gval, @bval, 1.0) 676px);
                background: linear-gradient(to right,
                 rgba(@rval, @gval, @bval, 0.0) 0px, rgba(@rval, @gval, @bval, 0.0) 676px,
                 rgba(@rval, @gval, @bval, 1.0) 676px); */
                div.column.one {
                    width: @v-w-cnstrn-nrml;
                }
                div.column.two {
                    width: ~"calc(100% - " @v-w-cnstrn-nrml ~")";
                    height: 0;
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 1rem;
                        right: 0;
                        bottom: 0;
                        /* padding-bottom: 1000em;
                        margin-bottom: -1000em; */
                        background: @hex-bright-gray;
                    }                }
            }
            @media (min-width: (@v-tblt-thrshld + 1)) and (max-width: @v-lrgfrmt-thrshld) {
                div.column.one {
                    width: @v-w-cnstrn-nrml;
                }
                div.column.two {
                    width: ~"calc(100% - " @v-w-cnstrn-nrml ~")";
                    height: 0;
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 1rem;
                        right: 0;
                        bottom: 0;
                        /* padding-bottom: 1000em;
                        margin-bottom: -1000em; */
                        background: none;
                    }
                }
            }
            @media (max-width: @v-tblt-thrshld) {
                div.column.one {
                    width: 100%;
                    max-width: @v-w-cnstrn-nrml;
                    float: none;
                    .margin-centered;
                    padding-right: 2rem;
                }
                div.column.two {
                    display: none;
                }
            }
        }
    }
    &.side-right.pad-top.large-format-friendly, &.row.side-right.pad-top.large-format-friendly {
        @media all and (min-width: 1050px) {
            div.column.two:before {
                top: 1rem;
            }
        }
    }
}

/*  ╔══════════════════════════════════════════════════════════════════════════════════════════════╗ 
 *  ║ #### "SUPERCLASS" SPECIFICATIONS ########################################################### ║
 *  ╠==============================================================================================╣
 *  ║ Styling of classes designed according to object-oriented principles and applied to elements  ║
 *  ║ with high specificity.                                                                       ║
 *  ╚══════════════════════════════════════════════════════════════════════════════════════════════╝
 */
/*  ┌──────────────────────────────────────────────────────────────────────────────────────────────┐
 *  │ ++++++++ Article Superclasses ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
 *  ├----------------------------------------------------------------------------------------------┤
 *  │ Modification of article related superclasses                                                 │
 *  └──────────────────────────────────────────────────────────────────────────────────────────────┘
 */
div.column article + article {
    margin-top: 1.5em;
}

/*  ┌──────────────────────────────────────────────────────────────────────────────────────────────┐
 *  │ ++++++++ Faded White Backing Superclass ++++++++++++++++++++++++++++++++++++++++++++++++++++ │
 *  ├----------------------------------------------------------------------------------------------┤
 *  │ Specification of the faded white backing superclass.                                         │
 *  └──────────────────────────────────────────────────────────────────────────────────────────────┘
 */
.fadedwhitebacking {
    p {
        .rgb-white(); background-color: rgba(@rval,@gval,@bval,0.95);
        padding: 1em 3em;
        // box-shadow: 5px 5px 3px rgba(64,64,64,0.5);
    }
    h1, h2 {
        padding: .25em .5em;
        margin-bottom: 10px;
        background-color: rgba(89,106,113,0.95);
        border: 1px solid white;
        // box-shadow: 5px 5px 3px rgba(64,64,64,0.5);
        text-transform: uppercase;
        color: white;
        .rgb-black(); text-shadow: 0 1px 0 #aaa,
         0 2px 0 #888,
         0 3px 1px rgba(@rval,@gval,@bval,.1),
         0 0 5px rgba(@rval,@gval,@bval,.1),
         0 1px 3px rgba(@rval,@gval,@bval,.3),
         0 2px 5px rgba(@rval,@gval,@bval,.2),
         0 0 1px #000, 0 3px 2px #000;
    }
    hgroup h2 a {
/*      text-shadow: 0 1px 0 #a00, 0 2px 0 #800, 0 3px 1px rgba(64,0,0,.1), 0 0 5px rgba(64,0,0,.1)
         0 1px 3px rgba(64,0,0,.3), 0 2px 5px rgba(64,0,0,.2), 0 0 1px #300, 0 3px 2px #300; */
        text-shadow: none;
    }
    h3 {
        padding: .25em .5em;
        margin-top: 10px;
        .rgb-crimson(); background-color: rgba(@rval,@gval,@bval,0.95);
        border: 1px solid white;
        // box-shadow: 5px 5px 3px rgba(64,64,64,0.5);
        color: white;
        .rgb-black(); text-shadow: 0 .5px 0 #aaa, 0 1px 0 #888,
            0 1.5px .5px rgba(@rval,@gval,@bval,.1), 0 0 2.5px rgba(@rval,@gval,@bval,.1),
            0 .5px 1.5px rgba(@rval,@gval,@bval,.3), 0 1px 2.5px rgba(@rval,@gval,@bval,.2),
            0 0 .5px #000, 0 1.5px 1px #000;
    }
    h4 {
        padding: .25em .5em;
        .rgb-white(); background-color: rgba(@rval,@gval,@bval,0.95);
        // box-shadow: 5px 5px 3px rgba(64,64,64,0.5);
    }
    hr {
        padding: 5px;
        margin: 0;
        .rgb-white(); background-color: rgba(@rval,@gval,@bval,0.95);
        border-bottom: 1px solid #E4E6E7;
        // box-shadow: 5px 5px 3px rgba(64,64,64,0.5);
    }
}

/*  ╔══════════════════════════════════════════════════════════════════════════════════════════════╗ 
 *  ║ #### INTERACTIVE EFFECTS & ANIMATIONS ###################################################### ║
 *  ╠==============================================================================================╣
 *  ║ Advanced CSS3 styling of classes that effect animations and transitions.                     ║
 *  ╚══════════════════════════════════════════════════════════════════════════════════════════════╝
 */
.drop-down-toggle {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        right: 10px;
         top: 50%;
        width: 0; 
        height: 0; 
        transform: translateY(-50%);
        border-top: 8px solid @hex-crimson;
        border-right: 8px solid transparent;
        border-bottom: none;
        border-left: 8px solid transparent;
        transition: all 0.3s ease;
         -webkit-transition: all 0.3s ease;
         -moz-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
    }
    &:hover:after {
        border-top: 8px solid @hex-light-crimson;
        border-right: 8px solid transparent;
        border-bottom: none;
        border-left: 8px solid transparent;
    }
    &.activated {
        &:after {
            border-top: none;
            border-right: 8px solid transparent;
            border-bottom: 8px solid @hex-crimson;
            border-left: 8px solid transparent;
        }
        &:hover {
            &:after {
                border-top: none;
                border-right: 8px solid transparent;
                border-bottom: 8px solid @hex-light-crimson;
                border-left: 8px solid transparent;
            }
        }
    }
}
 
/*  ┌──────────────────────────────────────────────────────────────────────────────────────────────┐
 *  │ ++++++++ Subtle Panels +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
 *  ├----------------------------------------------------------------------------------------------┤
 *  │ Content panels with highly faded appearence until mousehover.                                │
 *  └──────────────────────────────────────────────────────────────────────────────────────────────┘
 */
div .subtlePanel {
    opacity: .3333;
    transition: opacity .3333s;
     -webkit-transition: opacity .3333s;
     -moz-transition: opacity .3333s;
     -o-transition: opacity .3333s;
    animation: subtlePanel-FadeOut 1.5s linear 0 1;
     -webkit-animation: subtlePanel-FadeOut 1.5s linear 0 1;
     -moz-animation: subtlePanel-FadeOut 1.5s linear 0 1;
     -o-animation: subtlePanel-FadeOut 1.5s linear 0 1;
    @-webkit-keyframes subtlePanel-FadeOut {
        0% {
            opacity: 1;
        }
        33% {
            opacity: 1;
        }
        100% {
            opacity: .3333;
        }
    }
    @keyframes subtlePanel-FadeOut {
        0% {
            opacity: 1;
        }
        33% {
            opacity: 1;
        }
        100% {
            opacity: .3333;
        }
    }
    &:hover {
        opacity: 1;
    }
}

/*  ┌──────────────────────────────────────────────────────────────────────────────────────────────┐
 *  │ ++++++++ CSS3 Driven Tooltips ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
 *  ├----------------------------------------------------------------------------------------------┤
 *  │ Specification of tooltips driven purely by CSS3.                                             │
 *  └──────────────────────────────────────────────────────────────────────────────────────────────┘
 */
a.vpue-tooltip {
    position: relative;
    border-bottom: dotted 1px #b67233;
    outline: none;
    text-decoration: none;
    color: #b67233;
    strong {
        line-height: 30px;
    }
    & > span {
        position: absolute;
        width: 300px;
        padding: 10px 20px;
        margin-top: 20px;
         margin-left: -100px;
        opacity: 0;
        visibility: hidden;
        z-index: 10;
        border-radius: 3px;
        .rgb-dark-orange(); box-shadow: 2px 2px 2px rgba(@rval, @gval, @bval,0.5);
         -webkit-box-shadow: 2px 2px 2px rgba(@rval, @gval, @bval,0.5);
         -moz-box-shadow: 2px 2px 2px rgba(@rval, @gval, @bval,0.5);
        font-family: inherit;
        font-size: .9em;
        font-style: normal;
        transition-property: opacity, margin-top, visibility, margin-left;
         -webkit-transition-property: opacity, margin-top, visibility, margin-left;
         -moz-transition-property: opacity, margin-top, visibility, margin-left;
         -o-transition-property: opacity, margin-top, visibility, margin-left;
        transition-duration: 0.4s, 0.3s, 0.4s, .3s;
         -webkit-transition-duration: 0.4s, 0.3s, 0.4s, .3s;
         -moz-transition-duration: 0.4s, 0.3s, 0.4s, .3s;
         -o-transition-duration: 0.4s, 0.3s, 0.4s, .3s;
        transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
         -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
         -moz-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
         -o-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    }
    &:hover > span {
        display: inline;
        margin-top: 40px;
         margin-left: -90px;
        overflow: visible;
        opacity: 1;
        visibility: visible;
        text-decoration: none;
    }
    span b {
        display: block;
        position: absolute;
        width: 15px;
        height: 15px;
        margin-top: -19px;
         margin-left: 40px;
        transform: rotate(-45deg);
         -webkit-transform: rotate(-45deg);
         -moz-transform: rotate(-45deg);
         -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
        box-shadow: inset 0 1px 0 @hex-white;
         -webkit-box-shadow: inset -1px 1px 0 @hex-white;
         -moz-box-shadow: inset 0 1px 0 @hex-white;
         -o-box-shadow: inset 0 1px 0 @hex-white;
    /*display: none;*/
    }
    & > span {
        background: @hex-lighest-orange;
         background: -webkit-linear-gradient(top,@hex-lighest-orange,@hex-white);
         background: -moz-linear-gradient(top,@hex-lighest-orange,@hex-white);
         background: -o-linear-gradient(top,@hex-lighest-orange,@hex-white);
         background: linear-gradient(top,@hex-lighest-orange,@hex-white);
        border: 1px solid @hex-dark-orange;
        color: @hex-dark-gray;
    }
    span b {
        background: @hex-lighest-orange;
        border-top: 1px solid @hex-dark-orange;
         border-right: 1px solid @hex-dark-orange;
    }
}

/*  ┌──────────────────────────────────────────────────────────────────────────────────────────────┐
 *  │ ++++++++ Builder Template Slideshows +++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
 *  ├----------------------------------------------------------------------------------------------┤
 *  │ Styling modifications of builder template slideshows added through the WordPress interface.  │
 *  └──────────────────────────────────────────────────────────────────────────────────────────────┘
 */
div.column {
    div.builder-banner-content {
        padding: 0 0 10px 0;
        font-size: 1rem;
        line-height: 1.35rem;
        transition: font-size .15s linear, line-height .15s linear;
         -webkit-transition: font-size .15s linear, line-height .15s linear;
         -moz-transition: font-size .15s linear, line-height .15s linear;
         -o-transition: font-size .15s linear, line-height .15s linear;
        &:hover {
            font-size: 1.3333rem;
            line-height: 1.799955rem;
        }
        &:hover ~ .builder-banner-overlay {
            .rgb-black(); background-color: rgba(@rval,@gval,@bval,0.9);
            height: ~"calc(3.59991rem + 20px)";
            top: ~"calc(100% - 3.59991rem - 20px)";
        }
    }
    div.builder-banner-inner-content {
        vertical-align: bottom;
        p {
            padding: 10px;
            font-size: inherit;
            line-height: inherit;
            text-align: center;
            &:last-child:not(.no-bottom-pad) {
                padding-bottom: 10px;
            }
        }
        strong {
            color: #f6861f;
        }
        a {
            color: #f6861f;
            border-bottom: 1px dotted rgba(246,134,31,0.4);
            transition: color .4s linear, border-color .4s linear;
             -webkit-transition: color .4s linear, border-color .4s linear;
             -moz-transition: color .4s linear, border-color .4s linear;
             -o-transition: color .4s linear, border-color .4s linear;
            &:hover {
                color: #949b9d;
                .rgb-gray(); border-color: rgba(@rval,@gval,@bval,0.4);
            }
        }
    }
    div.builder-banner-overlay {
        height: ~"calc(2.7rem + 20px)";
        top: ~"calc(100% - 2.7rem - 20px)";
        .rgb-black(); background-color: rgba(@rval,@gval,@bval,0.6667);
        .rgb-gray(); border-color: rgba(@rval,@gval,@bval,0.4);
        color: #949b9d;
        transition: background-color .4s linear, height .15s linear, top .15s linear;
         -webkit-transition: background-color .4s linear, height .15s linear, top .15s linear;
         -moz-transition: background-color .4s linear, height .15s linear, top .15s linear;
         -o-transition: background-color .4s linear, height .15s linear, top .15s linear;
    }
}

@media screen and (max-width: 1204px) {
    div.column div.builder-banner-content {
        font-size: 1.3278vw;
        line-height: 1.79253vw;
        &:hover {
            font-size: 1.7704vw;
            line-height: 2.39004vw;
        }
        &:hover ~ div.builder-banner-overlay {
            top: ~"calc(100% - 4.78008vw - 1.66vw)";
            height: ~"calc(4.78008vw + 1.66vw)";
        }
    }    
    
    div.column div.builder-banner-overlay {
        top: ~"calc(100% - 3.58506vw - 1.66vw)";
        height: ~"calc(3.58506vw + 1.66vw)";
    }
        
    div.column div.builder-banner-inner-content p {
        padding: 1.0vw;
        &:last-child:not(.no-bottom-pad) {
            padding-bottom: 1.0vw;
        }
    }
}

@media screen and (max-width: 791px) {
    div.column div.builder-banner-content {
        font-size: 12px;
        line-height: 16.2px;
        &:hover {
            font-size: 14px;
            line-height: 18.9px;
        }
    }    
    div.column div.builder-banner-overlay {
        height: auto;
    }
}


/*  ╔══════════════════════════════════════════════════════════════════════════════════════════════╗ 
 *  ║ #### ELEMENTS FROM JAVASCRIPTS ############################################################# ║
 *  ╠==============================================================================================╣
 *  ║ Styling applied to dynamic, interactive elemenets that do not function as intended without   ║
 *  ║ the support of JavaScript.                                                                   ║
 *  ╚══════════════════════════════════════════════════════════════════════════════════════════════╝
 */
.flipped-content-back {
    display: none;
    width: 100%;
}

@import "qtips.less";
@import "cycle2.less";
